<div class="modal-header">
  <button type="button" class="close none-outline" ng-click="close()">
    <span>&times;</span>
  </button>
  <h3 class="modal-title text-center text-bold">
    ตะกร้าของฉัน
  </h3>
</div>
<div class="modal-body">
  <div class="loading" dw-loading="cart">
    <div class="cart__item" ng-repeat="product in products" ng-style="{'border-bottom': (products.length != ($index + 1)) ? '1px solid #e5e5e5' : '0px'}">
      <div class="cart__item__remove" ng-click="delCart(product)" ng-if="!product.isFreeGoodes">
        <i class="fa fa-close"></i>
      </div>
      <div class="cart__item__wrapper">
        <div class="cart__item__heading" ng-class="{'text-bold': product.isBOM}">
          <div>
            {{ product.productCode }}
            <span ng-if="product.promotionCode != null && !product.isFreeGoodes">
              <span class="text-blue">
                (Pro No : {{ product.promotionCode }})
              </span>
            </span>
          </div>
          <div>
            {{ product.productNameTh }}
            <span class="ml-5 text-red" ng-if="product.isFreeGoodes">
              (ของแถม)
            </span>
          </div>
        </div>
        <div class="cart__item__body">
          <div class="cart__item__body__image">
            <img ng-src="{{ config.partImgProduct + '/ProductDetail/' + product.btfCode }}.jpg"
                 onerror="this.src='assets/images/no-image.jpg'">
          </div>
          <div class="cart__item__body__detail">
            <ul>
              <li ng-class="{'text-bold': product.isBOM}">
                ราคาต่อหน่วย (บาท) : {{ product.price | number: 2 }}
              </li>
              <li>
                <div class="row">
                  <div class="col-xs-3">
                  <div ng-class="{'text-bold': product.isBOM}">
                    จำนวน : 
                  </div>
                  </div>
                  <div class="col-xs-6">
                    <form autocomplete="off">
                      <div ng-if="product.promotionCode != null">
                        <input type="text" name="product[qty]" class="form-control text-center" ng-model="product.qty" disabled>
                      </div>
                      <div class="input-group" ng-if="product.promotionCode == null">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default none-outline" ng-click="decQty(product)">
                            <i class="fa fa-minus"></i>
                          </button>
                        </span>
                        <input type="text" name="product[qty]" class="form-control text-center" numbers-only ng-blur="edtQty(product)" ng-model="product.qty">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default none-outline" ng-click="incQty(product)">
                            <i class="fa fa-plus"></i>
                          </button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
              <li> 
                <div class="row">
                  <div class="col-xs-9 col-xs-offset-3">
                    หน่วย : 
                    <span ng-if="product.altUnitAmount == 0">
                      {{ product.unitNameTh }}   
                    </span>
                    <span ng-if="product.altUnitAmount > 0">
                      ( 1 {{ product.altUnitNameTh }} : {{ product.altUnitAmount }} {{ product.unitNameTh }} )
                    </span>
                  </div>
                </div>
              </li>
          </div>
        </div> 
        <div ng-repeat="bom in boms" ng-if="bom.productRefCode == product.productCode">
          <div class="cart__item bom">
            <div class="cart__item__wrapper">
              <div class="cart__item__heading">
                <p>{{ bom.productCode }}</p>
                <p>{{ bom.productNameTh }}</p>
              </div>
              <div class="cart__item__body">
                <div class="cart__item__body__image">
                  <!-- <img ng-src="{{ config.partImgProduct + '/ProductCard/' + product.btfCode }}.jpg"
                      onerror="this.src='assets/images/no-image.jpg'"> -->
                </div>
                <div class="cart__item__body__detail">
                  <ul>
                    <li>
                      ราคาต่อหน่วย (บาท) : {{ bom.price | number: 2 }}
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-xs-3">
                          จำนวน : 
                        </div>
                        <div class="col-xs-6">
                          <input type="text" disabled class="form-control text-center" value="{{ product.qty }}">
                        </div>
                      </div>
                    </li>
                    <li> 
                      <div class="row">
                        <div class="col-xs-9 col-xs-offset-3">
                          หน่วย : 
                          <span ng-if="product.altUnitAmount == 0">
                            {{ product.unitNameTh }}   
                          </span>
                          <span ng-if="product.altUnitAmount > 0">
                            ( 1 {{ product.altUnitNameTh }} : {{ product.altUnitAmount }} {{ product.unitNameTh }} )
                          </span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cart__total text-bold">
  <div class="row">
    <div class="col-xs-6">
      จำนวนเงินสุทธิ (ไม่รวม VAT)
    </div>
    <div class="col-xs-6 text-right">
      {{ totalAmount| number: 2 }} บาท
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-xs-4 pr-5">
      <button class="btn btn-block btn-flat btn-red" ng-click="delCartAll()">
        ลบทั้งหมด
      </button>
    </div>
    <div class="col-xs-4 pl-5 pr-5">
      <button class="btn btn-block btn-flat btn-blue" ng-click="toCategory()">
        เลือกซื้อต่อ
      </button>
    </div>
    <div class="col-xs-4 pl-5">
      <button class="btn btn-block btn-flat btn-green" ng-click="toCheckout()" ng-disabled="!products.length">
        สั่งซื้อ
      </button>
    </div>
  </div>
</div>
