<div class="container mt-10 mb-10">
  <img src="/assets/images/logomain.jpg" class="logo">
</div>
<div class="content content--primary">
  <div class="container">
    <div class="content__form">
      <h3 class="text-bold">
        ลืมรหัสผ่าน
      </h3>
      <p>กรุณาระบุ <b style="color: #ca79de">ชื่อผู้ใช้งานที่ท่าน</b> ได้ลงทะเบียนไว้ <br> แล้วระบบจะส่งรายละเอียด การรีเซ็ตรหัสผ่าน ในทางอีเมลของท่าน</p>
      <form name="form" ng-submit="onForgotPassword(form.$valid)" class="form-horizontal pt-10" autocomplete="off" novalidate>
        <div class="form-group">
          <label class="control-label col-xs-2" style="text-align: left;">
            <span style="color: #ca79de">*</span> ชื่อผู้ใช้งาน
          </label>
          <div class="col-xs-4">
            <input type="text" name="username" class="form-control" ng-model="input.username" ng-required="true">
            <div ng-messages="form.username.$dirty && form.username.$error">
              <span class="validation error" ng-message="required">
                กรุณากรอกชื่อผู้ใช้งาน
              </span>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-flat btn-teal w150px mr-5" ng-disabled="form.$invalid || btnLoading">
            <span ng-if="!btnLoading">
              ส่ง
            </span>
            <span ng-if="btnLoading">
              <i class="fa fa-circle-o-notch fa-spin"></i>
            </span>
          </button>
          <button type="button" class="btn btn-flat btn-default w150px" ui-sref="login">
            กลับหน้าหลัก
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div footer></div>
