<div class="header">
  <div class="container">
    <div class="header__upper">
      <ul class="pull-right">
        <li class="static">
          ยินดีต้อนรับ {{ userInfo.userName }}
          [ {{ customerInfo.customerCode + ' : ' + customerInfo.customerName }} ]
        </li>
        <li class="dropdown dropdown-flat" ng-if="permission('01900')">
          <a class="pointer" data-toggle="dropdown">
            <img src="/assets/images/account.png" class="header__upper__icon">
            {{ permission('01900').menuName }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-if="permission('01901')">
              <a ui-sref="profile">
                <i class="fa fa-user pr-5"></i>  
                {{ permission('01901').menuName }}
              </a>
            </li>
            <li ng-if="permission('01902')">
              <a ui-sref="contact">
                <i class="fa fa-phone pr-5"></i>  
                {{ permission('01902').menuName }}
              </a>
            </li>
            <li ng-if="permission('01903')">
              <a ui-sref="profileUpdate">
                <i class="fa fa-pencil pr-5"></i>   
                {{ permission('01903').menuName }}
              </a>
            </li>
            <li ng-if="permission('01905')">
              <a ui-sref="changePassword">
                <i class="fa fa-lock pr-5"></i>  
                {{ permission('01905').menuName }}
              </a>
            </li>
            <li ng-if="permission('01904')">
              <a ui-sref="problem">
                <i class="fa fa-exclamation-circle pr-5"></i>  
                {{ permission('01904').menuName }}
              </a>
            </li>
            <li>
              <a ui-sref="logout">
                <i class="fa fa-sign-out pr-5"></i> 
                ออกจากระบบ
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="header__body">
      <div class="header__body__logo">
        <img src="/assets/images/logo-toa.png" class="non-outline pointer" ui-sref="home">
      </div>
      <div class="header__body__search" ng-class="{'w870px': permission('01800') != undefined}">
        <form name="form" ng-submit="searchProduct()">
          <div class="input-group">
            <input type="text" 
                   class="form-control input-lg" 
                   ng-model="input.search" 
                   placeholder="ค้นหาสินค้า ?"
                   uib-typeahead="product.btfWeb + ' ' + product.btfWebDescTh for product in products | filter:$viewValue"
                   typeahead-on-select="gotoProduct($item)"
                   typeahead-focus-first="false"
                   typeahead-focus-on-select="false">                   
            <span class="input-group-addon">
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>  
            </span>
          </div>
        </form>
      </div>
      <div class="header__body__cart none-outline" ng-if="permission('01800') != undefined" ng-click="openCart()">
        <i class="fa fa-shopping-cart"></i>
        <div class="header__body__cart__title">
          ตะกร้าของฉัน
        </div>
        <div class="header__body__cart__count">
          <strong>{{ totalQty }}</strong> รายการ
        </div>
      </div>
    </div>
  </div>
</div>
<div navbar></div>