<div header></div>
<div class="container mt-180">
  <div class="panel panel-flat panel-primary">
    <div class="panel-heading text-center">
      <h4 class="mt-5 mb-5 text-bold">
        เอกสารทั่วไป
      </h4>
    </div>
    <div class="panel-body">
      <div class="row mb-15">
        <div class="col-xs-2 col-xs-offset-10">
          <select class="form-control" ng-options="o.value as o.label for o in options" ng-model="type">
          </select>
        </div>
      </div>
      <div class="loading" dw-loading="document">
        <div class="document__item mb-15" ng-repeat="item in documentList | filter: { categoryCode: (type != '') ? type: '' } | limitTo : pageSize : (currentPage - 1) * pageSize">
          <div class="document__item__image">
            <img ng-src="{{ config.partFileDocument + '/' + item.picture }}" onerror="this.src='assets/images/no-image.jpg'">
          </div>
          <div class="document__item__detail">
            หมวดหมู่ : {{ item.categoryDesc }}
            <h3 class="text-bold">
              <a href="{{ config.partFileDocument + '/' + item.fileName }}" target="_blank">
                {{ item.documentName }}
              </a>
            </h3>
            <h4>{{ item.description }}</h4>
            <span class="document__item__detail__date">
              {{ item.modifieddate | date: 'dd/MM/y' }}
            </span>
            <a href="{{ config.partFileDocument + '/' + item.fileName }}" class="document__item__detail__preview" target="_blank">
              <i class="fa fa-file-text-o"></i>
            </a>
            <a href="{{ config.partFileDocument + '/' + item.fileName }}" class="document__item__detail__download" download>
              <i class="fa fa-download"></i>
            </a>
          </div>
        </div>
        <div class="w100 text-center" ng-if="!documentList.length && documentList != undefined">
          <h4 class="text-red">
            ไม่มีข้อมูล
          </h4>
        </div>
        <div class="w100 text-center">
          <ul uib-pagination 
              total-items="documentList.length" 
              items-per-page="pageSize" 
              max-size="maxSize" 
              boundary-links="true" 
              first-text="&lsaquo;&lsaquo;"
              last-text="&rsaquo;&rsaquo;" 
              next-text="&rsaquo;" 
              previous-text="&lsaquo;" 
              ng-model="currentPage" 
              ng-hide="!documentList.length || documentList.length <= pageSize">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div footer></div>