.cart {
  .modal-dialog {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 520px;  
    right: -520px;
    float: right;



    .modal-content {
      border: 0;
      height: auto;
      min-height: 100%;
      border-radius: 0;

      .modal-header {
        padding: 10px 0;
        background: #ccddff;

        .close {
          position: absolute;
          right: 15px;

          > span {
            font-size: 40px;
          }
        }
      }

      .modal-body {
        max-height: calc(100vh - 156px);
        overflow-y: auto;
      }
  
      .modal-footer {
        position: fixed;
        bottom: 0;
        background: #ffffff;
        width: 100%;
      }
    }
  }

  @include element('item') {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;

    &:last-child {
      border-bottom: 0;
    }

    @include element('remove') {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      border: 2px solid red;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      line-height: 30px;
      outline: 0;

      > i {
        font-size: 19px;
        color: red;
      }
    }

    @include element('wrapper') {
      padding-left: 40px;
      width: 100%;
    }

    @include element('heading') {
      font-size: 16px;

      p {
        //font-weight: bold;
        
        &:first-child {
          margin-bottom: 3px;
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    @include element('body') {
      width: 100%;
      
      @include element('image') {
        width: 70px;
        height: 90px;
        line-height: 90px;
        float: left;
        text-align: center;

        img {
          max-width: 70px;
          max-height: 70px;
        }
      }

      @include element('detail') {
        float: left;
        width: calc(100% - 70px);
        padding-left: 15px;
 
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
 
          li {
            padding: 5px 0;
            font-size: 15px;

            &:nth-child(2) {
              line-height: 34px;
            }

            &:nth-child(3) {
              font-weight: 200;
            }
          }
        }
      }

      @include clearfix;
    }
  }

  @include element('total') {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    position: fixed;
    bottom: 70px;
    background: #ffffff;
    width: 100%;
  }

  @include element('item') {
    &.bom {
      border-top: 1px solid #e5e5e5;
      padding-top: 15px;
      margin-top: 10px;
      
      &:last-child {
        margin-bottom: 0;
      }

      .cart {
        @include element('item') {
          @include element('wrapper') {
            padding-left: 0;
          }

          @include element('heading') {
            font-size: 14px !important;
            font-weight: 200 !important;

            > p {
              font-weight: normal;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }  

          @include element('body') {
            @include element('detail') {
              ul {
                li {
                  font-size: 14px;
                  font-weight: 200;
                  
      
                  &:nth-child(2) {
                    line-height: 34px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}