.filter {
  border: solid 1px #dae2e6;
  border-radius: 0px;
  
  @include element('list') {
    padding: 15px 15px 0px 15px;
    
    @include element('header') {
      font-size: 15px;
      font-weight: bold;
      position: relative;
      display: block;
      margin-bottom: 10px;
  
      @include element('clear') {
        position: absolute;
        right: 0;
        top: 0;
        font-weight: normal !important;
        font-size: 12px;
      }
    }

    @include element('block') {
      > ul {
        > li {
          padding: 5px 0;
        }
      }
    }

    @include element('body') {
      max-height: 250px;
      overflow: auto;
  
      > ul {
        margin: 0;
        padding: 0;
        list-style: none;
  
        > li {
          padding: 2px 0;
          
          > label {
            display: block;
            font-weight: normal;
          
            > input {
              margin-left: 5px;
              margin-right: 3px;
            }
          }
        }
      }
    }
  
    &:last-child {
      padding-bottom: 15px;
    }
  }
}