.header {
  width: 100%;
  height: 115px;
  background-color: rgb(232, 241, 254);
  position: fixed;
  top: 0;
  z-index: 1000;

  @include element('upper') {
    width: 100%;
    display: block;
    height: 35px;
    line-height: 35px;
    padding-top: 5px;

    @include element('icon') {
      width: 30px;
      position: relative;
      top: -1px;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline;
        font-weight: 200;

        a {
          color: #000 !important;
          padding: 6px;
          
          &:hover {
            color: #ffffff;
          }
        }

        &.static {
          padding: 6px;
          color: #000 !important;         
        }
        
        &.dropdown-flat {
          &.open {
            > a {
              color: #000 !important;
            }
          }
        }
      }
    }

    @include clearfix;
  }

  @include element('body') {
    height: 70px;
    margin-top: 5px;

    @include element('logo') {
      width: 300px;
      float: left;
      position: relative;

      img {
        width: 100%;
        //position: absolute;        
      }
    }

    @include element('search') {
      margin-top: 10px;
      padding: 0 10px;
      width: calc(100% - 300px - 150px);
      float: left;

      .input-lg {
        font-weight: 200;
        height: 50px;
        border: 0;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        box-shadow: none !important;
      }

      .input-group-addon {
        border: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      .dropdown-menu {
        width: 100%;
        border-radius: 0px;
        border: 0px;
        max-height: 400px;
        overflow: auto;

        .uib-typeahead-match {
          a {
            padding: 10px 20px;
          }
        }
      }

      button {
        border: 0;
        background: none;
        outline: 0;

        i {
          font-size: 20px;
        }
      }
    }

    @include element('action') {
      width: 150px;
      float: left; 
    }

    @include element('cart') {
      width: 150px;
      float: left;
      height: 50px;
      position: relative;
      box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      color: #ffffff;  
      margin-top: 10px;      
      background-color: #FBA877;    
      // border: solid 1px #0082c2;
      cursor: pointer;

      i {
        font-size: 27px;
        position: absolute;
        left: 14px;
        top: 10px;
      }

      @include element('title') {
        position: absolute;
        top: 6px;
        left: 52px;
        font-size: 15px;
      }

      @include element('count') {
        position: absolute;
        top: 25px;
        left: 52px;
        font-weight: 200;
        font-size: 12px;
      }

      &:hover {
        border-color: #027bb7;
      }
    }

    @include clearfix;
  }
}