.navbar {
  top: 115px;
  border-bottom: 0px;
  z-index: 900 !important;
  min-height: 40px;
  margin-bottom: 0px;
  background-color: rgb(232, 241, 254);
  box-shadow: 0 2px 5px rgba(57, 63, 72, 0.1);

  @include element('icon') {
    width: 30px;
    margin-right: 3px;
    position: relative;
  }

  li {
    > a {
      padding: 7px 10px !important;
      color: #000000 !important;

      &:hover {
        color: #08c !important;
        background: #b4d8fc !important;
      }
    }

    &.active {
      > a {
        background: #b4d8fc !important;
        color: #08c !important;
      }
    }

    &.dropdown {
      .dropdown-menu {
        border-radius: 0px !important;
        border: 0px !important;
      }
    }

    // &.dropdown {
    //   .dropdown-menu {
    //     > li { 
    //       > a {
            
    //         &:hover {
    //           font-size: 20px !important;
    //           color: #000000 !important;
    //         }
    //       }
    //     }
    //   }

    //   &.open {
    //     > a {
    //       background: none !important;
    //       color: #08c !important;
    //     }
    //   }  
    // }
  }
}
