<div class="modal-header text-center">
  <button type="button" class="close none-outline" ng-click="close()" style="font-size: 34px;">
    <span>&times;</span>
  </button>
  <div class="modal-title ">
    <h3 class="text-bold mt-0">
      {{ newsList[0].title }}
    </h3>
    <div ng-bind-html="newsList[0].descriptionHD | toTrusted" style="word-wrap: break-word;">
    </div>
  </div>
</div>
<div class="modal-body pt-30">
  <div ng-repeat="news in newsList" class="mb-20">
    <div class="w100 text-center mb-20">
      <img style="max-width: 100%;" ng-src="{{ config.partImgActivity + '/' + news.picture }}" onerror="this.src='assets/images/no-image.jpg'">
    </div>
    <div class="w100" style="font-size: 17px;   " ng-bind-html="news.description | toTrusted">
    </div>
  </div>
</div>