<div header></div>
<div class="container mt-180">
  <div class="loading" dw-loading="product">
    <div class="product">
      <div class="product__name pt-5 mb-10">
        <span>{{ btf.btfDesc }}</span>
        <small ng-if="userInfo.deptId == 1 || userInfo.deptId == 3">
          ({{ btf.btf }})
        </small>
      </div>
      <div class="product__promotion none-outline" ng-if="promotions.length > 0" ng-click="openModalPromotionDetail(btf)">
        "คลิกเพื่อดูรายการโปรโมชั่น"
      </div>
      <div class="row mt-15">
        <div class="col-xs-4">
          <div class="product__image">
            <span class="favorite-icon none-outline pointer" ng-click="$event.stopPropagation(); (btf.isFavorite) ? onRemoveFavorite(btf) : onAddFavorite(btf)" ng-class="{'active': btf.isFavorite}">
              <i class="fa fa-star"></i>
            </span>
            <img style="max-width: 100%;" ng-src="{{ config.partImgProduct + '/ProductDetail/' + btf.btf }}.jpg" onerror="this.src='assets/images/no-image.jpg'">
          </div>
        </div>
        <div class="col-xs-8">
          <div class="product__detail">
            <form name="form" class="form-horizontal" autocomplete="off" novalidate>
              <div class="form-group">
                <label class="control-label col-xs-4">
                  ราคาต่อหน่วย (บาท)
                </label>
                <div class="col-xs-8 form-control-static text-bold">
                  {{ product.productPrice | number: 2 }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-4">
                  ขนาด
                </label>
                <div class="col-xs-5">
                  <select name="product[size]" 
                          class="form-control" 
                          ng-model="input.size" 
                          ng-options="size.sizeCode as size.sizeName for size in sizes | orderBy: 'sizeCode' | uniqueFilter: 'sizeCode'"
                          ng-change="getProduct()">
                  </select>
                </div>
              </div>
              <div class="form-group" ng-if="sizeFlag != 'X'">
                <label class="control-label col-xs-4">
                  สี / เบอร์ / รุ่น
                </label>
                <div class="col-xs-5 product__detail__color">
                  <div class="dropdown" style="z-index: 100;">
                    <button type="button" class="btn btn-default" data-toggle="dropdown">
                      <div class="product__detail__color__preview" 
                            ng-if="input.rgbCode && colorFlag != 'X'" 
                            ng-style="{'background': 'rgb(' + input.rgbCode + ')'}">        
                      </div>
                      <div class="product__detail__color__preview" 
                            ng-if="!input.rgbCode && colorFlag != 'X'" 
                            style="background-image: url('/assets/images/no-color.png');">        
                      </div>
                      {{ colorCodeName }}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li ng-repeat="color in colors | filter: { sizeCode: input.size } | uniqueFilter: 'colorCode'">
                        <a class="pointer" ng-click="setProduct(color.colorCode)">
                          <div class="product__detail__color__preview" 
                                ng-if="color.rgbCode && colorFlag != 'X'" 
                                ng-style="{'background': 'rgb(' + color.rgbCode + ')'}">        
                          </div>
                          <div class="product__detail__color__preview" 
                                ng-if="!color.rgbCode && colorFlag != 'X'" 
                                style="background-image: url('/assets/images/no-color.png');">        
                          </div>
                          {{ color.colorCode }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-4">
                  จำนวนสินค้า
                </label>
                <div class="col-xs-5">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default none-outline" ng-click="decQty()">
                        <i class="fa fa-minus"></i>
                      </button>
                    </span>
                    <input type="text" name="product[qty]" class="form-control text-center" numbers-only ng-model="input.qty" ng-blur="edtQty()">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default none-outline" ng-click="incQty()">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                  <div class="mt-5">
                    <small>
                      <strong>หน่วย : </strong>
                      <span ng-if="product.altUnit1Amount == 0">
                        {{ product.unitNameTh }}
                      </span>
                      <span ng-if="product.altUnit1Amount > 0">
                        ( 1 {{ product.altUnit1NameTh }} : {{ product.altUnit1Amount }} {{ product.unitNameTh }} )
                      </span>
                    </small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-4">
                  ราคารวม (บาท)
                </label>
                <div class="col-xs-8 form-control-static text-bold text-red" style="font-size: 20px;">
                  {{ product.productPrice * input.qty | number: 2 }}
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="col-xs-8 col-xs-offset-4">
                  <a class="btn btn-flat btn-teal pointer mr-5" ng-click="toCategory()">
                    ย้อนกลับ
                  </a>
                  <button type="button" class="btn btn-flat btn-orange mr-5" ng-click="addCart(form.$valid)" ng-disabled="form.$invalid || btnLoading">
                    <span ng-if="!btnLoading">
                      <i class="fa fa-cart-plus"></i>
                      หยิบใส่ตะกร้า
                    </span>
                    <span ng-if="btnLoading">
                      <i class="fa fa-circle-o-notch fa-spin"></i>
                    </span>
                  </button>
                  <a class="btn btn-flat btn-teal pointer" ui-sref="home">
                    หน้าแรก
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w100 text-red mt-15 mb-15">
    หมายเหตุ : บริษัทฯ ขอสงวนสิทธิ์ในการเปลี่ยนแปลงรายการ โดยมิต้องแจ้งให้ทราบล่วงหน้า ตลอดจนความผิดพลาดที่เกิดจากการพิมพ์
  </div>
  <div class="loading" dw-loading="relatedProduct">
    <div class="panel panel-flat panel-primary" ng-if="relatedProduct.length">
      <div class="panel-heading text-center">
        <h4 class="mt-5 mb-5 text-bold">
          สินค้าที่เกี่ยวข้อง
        </h4>
      </div>
      <div class="panel-body">
        <div class="row category">
          <div class="col-xs-3" ng-repeat="product in relatedProduct | limitTo : pageSize : (currentPage - 1) * pageSize">
            <div class="category__item" ui-sref="product({ btfCode: product.btf })">
              <span class="favorite-icon none-outline pointer" 
                    ng-click="$event.stopPropagation(); (product.isFavorite) ? onRemoveFavorite(product) : onAddFavorite(product)"
                    ng-class="{'active': product.isFavorite}">
                <i class="fa fa-star"></i>
              </span>
              <div class="category__item__image">
                <img ng-src="{{ config.partImgProduct + '/ProductDetail/' + product.btf + '.jpg' }}" onerror="this.src='assets/images/no-image.jpg'">
              </div>
              <div class="category__item__name">
                {{ product.btfWebDescTh }}
              </div>
            </div>
          </div>
        </div>
        <div class="w100 text-right">
          <ul uib-pagination
              class="mt-0" 
              total-items="relatedProduct.length" 
              items-per-page="pageSize" 
              max-size="maxSize" 
              next-text="&rsaquo;"
              previous-text="&lsaquo;" 
              ng-model="currentPage" 
              ng-hide="!relatedProduct.length || relatedProduct.length <= pageSize">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div footer></div>
