<div header></div>
<div class="container mt-180">
  <form name="form" autocomplete="off" ng-submit="onUpdateProfile(form.$valid)" novalidate>
    <div class="panel panel-flat panel-primary">
      <div class="panel-heading text-center">
        <h4 class="mt-5 mb-5 text-bold">
          แจ้งเปลี่ยนแปลงข้อมูล
        </h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="name">รหัสร้านค้า</label>
              <input type="text" class="form-control" name="name" ng-model="input.customerCode" ng-disabled="true">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>ชื่อร้านค้า</label>
              <input type="text" class="form-control" name="customerName" ng-model="input.customerName" ng-disabled="true">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>ที่อยู่/เลขที่</label>
              <input type="text" class="form-control" name="address" ng-model="input.address">            
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>ถนน</label>
              <input type="text" class="form-control" name="street" ng-model="input.street">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>ตำบล/แขวง</label>
              <input type="text" class="form-control" name="subDistrictName" ng-model="input.subDistrictName">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>อำเภอ/เขต</label>
              <input type="text" class="form-control" name="districtName" ng-model="input.districtName">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>จังหวัด</label>
              <input type="text" class="form-control" name="cityName" ng-model="input.cityName">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>รหัสไปรษณีย์</label>
              <input type="text" class="form-control" name="postCode" ng-model="input.postCode">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>เบอร์โทรศัพท์, เบอร์มือถือ</label>
              <input type="text" class="form-control" name="telNo" ng-model="input.telNo">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>อีเมล</label>
              <input type="text" class="form-control" name="email" ng-model="input.email">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>เบอร์โทรศัพท์, เบอร์มือถือ (e-Ordering)</label>
              <input type="text" class="form-control" name="tel" ng-model="input.mobileDC" ng-disabled="true">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>อีเมล (e-Ordering)</label>
              <input type="text" class="form-control" name="email" ng-model="input.customerEmailDC" ng-disabled="true">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <label>จัดส่ง</label>
              <input type="text" class="form-control" name="transportZoneDesc" ng-model="input.transportZoneDesc" ng-disabled="true">
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-center">
        <button type="submit" class="btn btn-flat btn-teal w150px mr-5" ng-disabled="btnLoading">
          <span ng-if="!btnLoading">
            ส่ง
          </span>
          <span ng-if="btnLoading">
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </span>
        </button>
        <a href="{{ url('/home') }}" class="btn btn-flat btn-default w150px">
          กลับสู่หน้าแรก
        </a>
      </div>
    </div>
  </form>
</div>
<div footer></div>