<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li ui-sref-active="active" ng-if="permission('01100')">
        <a ui-sref="home">
          <img src="/assets/images/home.png" class="navbar__icon">
          {{ permission('01100').menuName }}
        </a>
      </li>
      <li ui-sref-active="active" ng-if="permission('01200')">
        <a ui-sref="order">
          <img src="/assets/images/order.png" class="navbar__icon">
          {{ permission('01200').menuName }}
        </a>
      </li>
      <li ui-sref-active="active" ng-if="permission('01300')">
        <a ui-sref="favorite">
          <img src="/assets/images/fav.png" class="navbar__icon">
          {{ permission('01300').menuName }}
        </a>
      </li>
      <li ui-sref-active="active" ng-if="permission('01400')">
        <a ui-sref="history">
          <img src="/assets/images/history.png" class="navbar__icon">
          {{ permission('01400').menuName }}
        </a>
      </li>
      <li ui-sref-active="active" ng-if="permission('01500')">
        <a ui-sref="news">
          <img src="/assets/images/news.png" class="navbar__icon">
          {{ permission('01500').menuName }}
        </a>
      </li>
      <li ui-sref-active="active" ng-if="permission('01600')">
        <a ui-sref="document">
          <img src="/assets/images/doc.png" class="navbar__icon">
          {{ permission('01600').menuName }}
        </a>
      </li>
      <li class="dropdown" ng-if="permission('01700')">
        <a class="pointer" data-toggle="dropdown">
          <img src="/assets/images/report.png" class="navbar__icon">
          รายงาน
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li ng-if="permission('01701')">
            <a ui-sref="reportMonthly">
              {{ permission('01701').menuName }}
            </a>
          </li>
          <li ng-if="permission('01702')">
            <a ui-sref="reportQuarter">
              {{ permission('01702').menuName }}
            </a>
          </li>
          <li>
            <a ui-sref="commissionOnSaleForSales">
              Commission by On Sale (Customer Area) Report
            </a>
          </li>
          <li>
            <a ui-sref="commissionOnSaleForManager">
              Commission by On Sale (Sales Group) Report
            </a>
          </li>
          <!-- 
          <li>
            <a ui-sref="commissionOnSaleForSales">
              Commission by On Sale (Customer Area) Report
            </a>
          </li>
          <li>
            <a ui-sref="commissionOnSaleForManager">
              Commission by On Sale (Sales Group) Report
            </a>
          </li>
          <li>
            <a ui-sref="reportBISales">
              Summary Net Sale by Customer (Customer Area) Report
            </a>
          </li>
          <li>
            <a ui-sref="reportBIManager">
              Summary Net Sale by Customer (Sales Group) Report
            </a>
          </li> -->
        </ul>
      </li>
      <li ng-if="permission('01110') && userInfo.userTypeDesc == 'Multi'">
        <a ui-sref="store">
          <img src="/assets/images/shop.png" class="navbar__icon">
          {{ permission('01110').menuName }}
        </a>
      </li>
    </ul>
  </div>
</div>
