<div class="modal-header text-center modal-header-purple">
  <div class="col-md-6 text-left">
    <img src="assets/images/logo-toa.png" width="250px">
  </div>
  <div class="col-md-6 text-right">
    <h3 class="text-bold">
      สถานะการสั่งซื้อ
    </h3>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <div class="loading" dw-loading="orderInfo">
        <div class="order__modal__block" style="height: 250px">
          <table>
            <tbody>
              <tr>
                <td width="110" class="text-bold text-blue">
                  ร้านค้า
                </td>
                <td class="text-bold text-blue" style="font-size:14px;">
                  {{ order.customerCode }} : {{ order.customerName }}
                </td>
              </tr>
              <tr ng-hide="order.cityCode =='' || order.cityCode == null">
                <td class="text-bold text-blue">
                  ที่อยู่
                </td>
                <td>
                  {{ order.address }} {{ order.street }} {{ order.subDistrictName }}
                  <br> {{ order.districtName }} {{ order.cityName }}
                </td>
              </tr>
              <tr ng-if="order.cityCode == '' || order.cityCode == null">
                <td class="text-bold text-blue">
                  ที่อยู่
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerEmail == '' || order.customerEmail == null">
                <td class="text-bold text-blue">
                  อีเมล
                </td>
                <td>{{ order.customerEmail }}</td>
              </tr>
              <tr ng-if="order.customerEmail == '' || order.customerEmail == null">
                <td class="text-bold text-blue">
                  อีเมล
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerTelNo == '' || order.customerTelNo == null">
                <td class="text-bold text-blue">
                  โทรศัพท์
                </td>
                <td>{{ order.customerTelNo }}</td>
              </tr>
              <tr ng-if="order.customerTelNo == '' || order.customerTelNo == null">
                <td class="text-bold text-blue">
                  โทรศัพท์
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  สถานที่ส่ง
                </td>
                <td>{{ order.shipCode.substring(2, 10) }} : {{ order.shipName }}</td>
              </tr>
              <tr ng-hide="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  ที่อยู่สถานที่ส่ง
                </td>
                <td>
                  {{ order.shipHouseNo }} {{ order.shipAddress }} {{ order.shipDistrictName }}
                  <br> {{ order.shipCityName }} {{ order.shipPostCode }}
                </td>
              </tr>
              <tr ng-if="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  สถานที่ส่ง
                </td>
                <td>-</td>
              </tr>
              <tr ng-if="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  ที่อยู่สถานที่ส่ง
                </td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="loading" dw-loading="orderInfo">
        <div class="order__modal__block" style="height: 250px">
          <table>
            <tbody>
              <tr ng-hide="order.documentNumber == ''|| order.documentNumber == null">
                <td width="110" class="text-bold text-blue">
                  เลขที่ใบสั่งซื้อ
                </td>
                <td>
                  {{ order.documentNumber }}
                  <span class="text-bold text-blue"> / วันที่</span> {{ order.documentDate | date: 'dd/MM/yyyy' }}
                </td>
              </tr>
              <tr ng-if="order.customerPO == '' || order.customerPO == null">
                <td class="text-bold text-blue">
                  PO number
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerPO == '' || order.customerPO == null">
                <td class="text-bold text-blue">
                  PO number
                </td>
                <td>{{ order.customerPO }}</td>
              </tr>
              <tr ng-hide="order.salesDocument == '' || order.salesDocument == null">
                <td class="text-bold text-blue">เลขที่เอกสาร</td>
                <td>{{ order.salesDocument }}
                  <span class="text-bold text-blue"> / วันที่</span> {{ order.requestDate | date:'dd/MM/yyyy' }}
                </td>
              </tr>
              <tr ng-if="order.salesDocument == '' || order.salesDocument == null">
                <td class="text-bold text-blue">เลขที่เอกสาร</td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.requestDate == '' || order.requestDate == null">
                <td class="text-bold text-blue">
                  Request Date
                </td>
                <td>{{ order.requestDate | date: 'dd/MM/yyyy' }}</td>
              </tr>
              <tr ng-if="order.requestDate == '' || order.requestDate == null">
                <td class="text-bold text-blue">
                  Request Date
                </td>
                <td>-</td>
              </tr>
              <tr>
                <td class="text-bold text-blue">
                  การชำระเงิน
                </td>
                <td>
                  {{ (order.paymentTerm == 'CASH' || order.paymentTerm == 'CA02') ? 'เงินสด' : 'เครดิต' }}
                </td>
              </tr>
              <tr ng-if="order.shipCondition != '01'">
                <td class="text-bold text-blue">
                  จัดส่งโดย
                </td>
                <td>{{ order.transportZone }} : {{ order.transportZoneDesc }}</td>
              </tr>
              <tr ng-if="order.shipCondition == '01'">
                <td class="text-bold text-blue">
                  จัดส่งโดย
                </td>
                <td>ลูกค้ารับสินค้าเอง</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="w100 mt-20">
    <div class="loading" dw-loading="orderPrecessInfo">
      <table class="table table-purple order__modal__table">
        <thead>
          <tr>
            <th class="text-center" width="50%">
              รายการสินค้า
            </th>
            <th class="text-center">
              สั่งซื้อ
            </th>
            <th class="text-center">
              ออกบิล
            </th>
            <th class="text-center">
              การจอง
            </th>
            <th class="text-center">
              คงค้าง
            </th>
            <th class="text-center">
              ยกเลิก
            </th>
            <th class="text-center">
              หน่วย
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in products">
            <td>
              <div ng-class="{'text-bold': product.material[0] == 'S'}">
                {{ product.material }} <br> {{ product.materialDes }}
                <span class="ml-5 text-red" ng-if="product.freeGoods == 'X' && product.material[0] != 'S'">
                  (ของแถม)
                </span>
              </div>
            </td>
            <td class="text-center">
              <div ng-if="product.material[0] != 'S'">
                {{ product.targetQty | number }}
              </div>
            </td>
            <td class="text-center">
              <div ng-if="product.material[0] != 'S'">
                {{ product.billQty | number }}
              </div>
            </td>
            <td class="text-center">
              <div ng-if="product.material[0] != 'S'">
                {{ product.deliQty | number }}
              </div>
            </td>
            <td class="text-center">
              <div ng-if="product.material[0] != 'S'">
                {{ product.balaQty | number }}
              </div>
            </td>
            <td class="text-center">
              <div ng-if="product.material[0] != 'S'">
                {{ product.rejeQty | number }}
              </div>
            </td>
            <td class="text-center">
              <div ng-if="product.material[0] != 'S'">
                {{ product.unit }}
              </div>
            </td>
          </tr>
          <tr ng-show="!products.length">
            <td colspan="7" class="text-center text-bold text-red">
              ไม่มีข้อมูล
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr ng-show="products.length > 0">
            <th class="text-center text-blue">
              <b>รวม </b>
            </th>
            <th class="text-center text-blue">
              {{ total.targetQty }}
            </th>
            <th class="text-center text-blue">
              {{ total.billQty }}
            </th>
            <th class="text-center text-blue">
              {{ total.deliQty }}
            </th>
            <th class="text-center text-blue">
              {{ total.balaQty }}
            </th>
            <th class="text-center text-blue">
              {{ total.rejeQty }}
            </th>
            <th class="text-center text-blue"> 
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="mt-10">
    <table class="text-red">
      <tr>
        <td width="60px" class="text-bold">
          สั่งซื้อ
        </td>
        <td>จำนวนสินค้าที่สั่งซื้อ</td>
      </tr>
      <tr>
        <td width="60px" class="text-bold">
          ออกบิล
        </td>
        <td>จำนวนสินค้าที่เปิดบิลแล้ว</td>
      </tr>
      <tr>
        <td width="60px" class="text-bold">
          การจอง
        </td>
        <td>จำนวนสินค้าที่ได้รับการจองและรอการเปิดบิล</td>
      </tr>
      <tr>
        <td width="60px" class="text-bold">
          คงค้าง
        </td>
        <td>จำนวนสินค้ารอดำเนินการ</td>
      </tr>
      <tr>
        <td width="60px" class="text-bold">
          ยกเลิก
        </td>
        <td>จำนวนสินค้าที่ทำการยกเลิก</td>
      </tr>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-flat btn-teal w100px mr-5" ng-click="toPrint()">
    พิมพ์
  </button>
  <button class="btn btn-flat btn-default w100px" ng-click="close()">
    ปิด
  </button>
</div>
