.category {
  @include element('item') {
    height: 290px;
    padding: 10px;
    border: 1px solid #dfe4ed;
    margin-bottom: 25px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    outline: 0;

    @include element('image') {
      width: 100%;
      height: 210px;
      text-align: center;
      line-height: 210px;

      img {
        max-width: 150px;
      }
    }

    @include element('name') {
      font-size: 13px;
      text-align: center;
      padding: 0 5px;
    }

    &:hover {
      @include box-shadow(0 2px 10px 0px rgba(0, 0, 0, 0.1));
    }
  }

}
.favorite-icon {
  font-size: 26px;
  text-align: right;
  position: absolute;
  float: right;
  top: 0;
  right: 10px;
  cursor: pointer;
  color: #e4e4e1;
  z-index: 9;

  &:hover, &.active {
    color: #e8bc02;
  }
  
}