// .contact__body--infomation .left {
//   width: 30%;
//   float: left;
//   border: 0px solid rgb(246, 241, 241);
//   border-radius: 3px;
//   padding: 10px 15px !important;
//   font-size: 13px;
//   font-weight: 300;
//   padding-left: 0px;
// }
// .contact__body--infomation .right {
//   width: 69%;
//   padding: 10px 15px !important;
//   font-size: 13px;
//   font-weight: 300;
//   padding-right: 0px;
//   float: right;
// }
// .contact__content__child {
//   margin-top: 10px;
// }
// .panel-address {
//   border: 1px solid #ddd;
//   border-radius: 2px;
//   min-height: 250px;
//   padding: 20px;
// }
// .thead-default th {
//   background: #d2c9e2;
// }
.contact {
  @include element('content') {
    padding: 10px 15px !important;
    border: 1px solid #ddd;
    
    table {
      tr {
        td {
          padding: 5px 0;
        }
      }
    }
  }
}
