@include block('document') {
  @include element('item') {
    padding: 10px;
    border: 1px solid #dfe4ed;
    width: 100%;

    @include element('image') {
      width: 100px;
      height: 100px;
      float: left;
      
      img {
        width: 100%;
      }
    }

    @include element('detail') {
      position: relative;
      width: calc(100% - 100px);
      float: left;
      padding-left: 20px;
      min-height: 105px;

      @include element('date') {
        position: absolute;
        top: 0;
        right: 10px;
      }

      @include element('download') {
        position: absolute;
        bottom: 9px;
        right: 5px;

        .fa {
          font-size: 40px;
          color: green;
        }
      }

      @include element('preview') {
        position: absolute;
        bottom: 14px;
        right: 60px;

        .fa {
          font-size: 35px;
          color: orange;
        }
      }
    }

    @include clearfix;
  }
}