.history {
  @include element('block') {
    padding: 15px;
    border: solid 1px #dae2e6;

    @include element('image') {
      width: 110px;
      height: 100px;
      float: left;

      img {
        height: 100px;
      }
    }
    margin-bottom: 15px;

    @include clearfix;    
  }
}