@include block('maintenance') {
  margin-top: 120px;
  position: relative;

  @include element('title') {
    display: block;
    width: 100%;
    font-size: 35px;
    font-weight: bold;
  }

  @include element('message') {
    display: block;
    width: 100%;
    font-size: 25px;
    margin-top: 25px;
  }

  @include element('company') {
    margin-top: 100px;
    font-size: 20px;
    font-weight: 200;
    display: block;
    width: 100%;
    color: #9c9c9c;
    line-height: 35px;
  }

  @include element('image') {
    position: absolute;
    bottom: 0px;
    right: 60px;

    img {
      width: 200px;
      height: 200px;
    }
  }
}