.news {
  @include element('block') {
    padding: 10px;
    border: 1px solid #dfe4ed;

    @include element('image') {
      width: 300px;
      height: 150px;
      float: left;
      
      img {
        max-width: 100%;
      }
    }

    @include element('detail') {
      width: calc(100% - 300px);
      float: left;
      padding-left: 10px;
    }

    @include clearfix;
  }

  @include element('item') {
    border-radius: 0px;
    border-color: #dfe4ed;

    @include element('image') {
      height: 250px;
      
      img {
        max-width: 100%;
        max-height: 250px;
      }
    }

    @include element('title') {
      max-height: 43px;
      overflow: hidden;
      font-weight: bold;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 0px;
    }
    
    @include element('description') {
      width: 100%;
      display: block;
      //word-break: break-all;
      //height: 40px;
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.news-modal {
  .modal-body {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
  }
}