.order {
  .text-left {
    text-align: left !important;
  }

  &.modal {
    .modal-dialog {
      width: 1000px;

      .modal-content {
        border-radius: 0px !important;
        
        .modal-header {
          background: #ccddff;

          img {
            position: relative;
            top: 2px;
          }
        }

        .modal-body {
          
        }

        .modal-footer {
          text-align: center !important;
        }
      }
    }
  }

  @include element('modal') {
    @include element('block') {
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 10px 15px !important;
      font-size: 13px;
      font-weight: normal;
      padding-left: 0px;

      table {
        td {
          padding: 5px 0;
        }
      
      }

      @include modifier('yellow') {
        background: #ffffcc;
      }

      @include modifier('green') {
        background: #cceecc;
      }

      @include modifier('purple') {
        background: #ccccee;
      }

      @include modifier('pink') {
        background: #ffddee;
      }
    }

    @include element('table') {
      font-size: 13px;
      
      tfoot {
        tr {
          th {
            border: 0;
          }
        }
      }
    }
  }
}