.product {
  position: relative;

  @include element('name') {
    > span {
      font-size: 23px;
      font-weight: bold;
    }

    > small {
      font-size: 15px;
    }
  }
  
  @include element('promotion') {
    position: absolute;
    top: 5px;
    right: 0;
    color: red;
    font-size: 16px;
  }

  @include element('image') {
    border: solid 1px #dae2e6;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    position: relative;
    //height: 310px;
    //line-height: 310px;
  }

  @include element('detail') {
    background: #f7f7f7;
    padding: 25px;
    font-size: 16px;
    /*
    label {
      font-weight: normal;
    }

    select {
      width: 279px;

      @include breakpoint(md) {
        width: 100%;
      }
    }

    .control-label {
      text-align: left !important;
    }

    small {
      font-size: 14px;
      font-weight: 200;
    }
    */
    label {
      font-weight: normal !important;
      text-align: left !important;
    }

    @include element('color') {
      button {
        width: 100%;
        text-align: left;
        position: relative;
        outline: 0 !important;
        //padding-left: 55px;

        .caret {
          top: 15px;
          right: 10px;
          position: absolute;
        }
      }

      .dropdown {
        .dropdown-menu {
          max-height: 260px;
          overflow: auto;
          border: 0px;
          border-radius: 0px;
          width: 100%;

          li {
            a {
              font-size: 15px;
              padding: 5px 10px;
              
              @include clearfix;
            }
          }
        }
      }

      @include element('preview') {
        width: 40px;
        height: 20px;
        float: left;
        margin-right: 10px;
        //position: absolute;
        //left: 7px;
      }
    }
  }
}