.promotion-detail {
  .h1, h1 {
    font-size: 26px !important;
  }

  .h2, h2 {
    font-size: 20px !important;
  }

  .h3, h3 {
    font-size: 16px !important;
  }
}

@include block('promotion') {
  /*
  @include element('product') {
    @include element('button') {
      button {
        color: #000000 !important;
        padding: 4px 12px;
        font-size: 18px;
      }
    }

    @include element('color') {
      button {
        width: 100%;
        text-align: left;
        position: relative;
        outline: 0 !important;

        .caret {
          top: 15px;
          right: 10px;
          position: absolute;
        }
      }

      .dropdown {
        .dropdown-menu {
          max-height: 260px;
          overflow: auto;
          border: 0px;
          border-radius: 0px;
          width: 100%;

          li {
            a {
              font-size: 15px;
              padding: 5px 10px;
              
              @include clearfix;
            }
          }
        }
      }

      @include element('preview') {
        width: 40px;
        height: 20px;
        float: left;
        margin-right: 10px;
        //position: absolute;
        //left: 7px;
      }
    }
  }
  */

  @include element('detail') {
    width: 100%;
    
    @include element('title') {
      padding: 10px;
      font-weight: bold;
    }

    @include element('color') {
      button {
        text-align: left;
        position: relative;
        outline: 0 !important;

        .caret {
          top: 15px;
          right: 10px;
          position: absolute;
        }
      }

      .dropdown {
        .dropdown-menu {
          max-height: 260px;
          overflow: auto;
          width: 100%;

          li {            
            a {
              font-size: 15px;
              padding: 5px 10px;
              
              @include clearfix;
            }
          }
        }
      }

      @include element('preview') {
        width: 40px;
        height: 20px;
        float: left;
        margin-right: 10px;
      }
    }

    @include element('dropdown') {
      button {
        text-align: left;
        position: relative;
        outline: 0 !important;

        .caret {
          top: 15px;
          right: 10px;
          position: absolute;
        }
      }

      .dropdown {
        .dropdown-menu {
          max-height: 260px;
          overflow: auto;
          width: 100%;

          li {            
            a {
              font-size: 15px;
              padding: 5px 10px;
            }

            @include clearfix;
          }
        }
      }
    }

    @include modifier('blue') {
      @include block('promotion') {
        @include element('detail') {
          @include element('title') {
            background-color: #d9edf7;
          }
        }
      }
    }

    @include modifier('green') {
      @include block('promotion') {
        @include element('detail') {
          @include element('title') {
            background-color: #d9ffba;
          }
        }
      }
    }
  }
  
  @include element('modal') {
    @include element('block') {
      @include element('detail') {
        float: left;
        width: 650px;
      }

      @include element('image') {
        float: right;
        width: calc(100% - 650px);
        text-align: center;
      }

      @include clearfix;
    }
  }
}

@include block('promotion-item') {
  padding: 10px;
  height: 230px;
  border: solid 1px #dae2e6;
  margin-bottom: 10px;
  cursor: pointer;
  
  @include element('image') {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    height: 150px;
  }

  @include element('name') {
    margin-top: 10px;
    font-weight: bold;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 23px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}