.report {
  @include element('table') {
    margin-bottom: 15px;

    thead, tfoot {
      tr {
        th {
          &:first-child {
            border-left: 0;
          }

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
  }

  @include element('info') {
    width: 100%;
    padding: 10px 15px;

    .form-group {
      margin-bottom: 0px;
    }

    @include modifier('green') {
      background: rgb(165, 243, 214);
    }

    @include modifier('orange') {
      background: rgb(255, 196, 181);
    }

    @include clearfix;
  }

  @include element('salesman') {
    thead {
      tr {
        background-color: rgb(252, 206, 235);

        th {
          border-width: 1px !important;
        }
      }
    }

    tfoot {
      tr {
        background-color: rgb(252, 206, 235);

        th {
          border-width: 0px !important;
        }
      }
    }
  }

  @include element('manager') {
    thead {
      tr {
        background-color: rgb(255, 255, 199);

        th {
          border-width: 1px !important;
        }
      }
    }

    tfoot {
      tr {
        background-color: rgb(255, 255, 199);
        
        th {
          border-width: 0px !important;
        }
      }
    }
  }
}