.logo {
  width: 400px;
}

@include block('store') {
  @include element('item') {
    margin: 20px;
    position: relative;
    outline: 0;
    cursor: pointer;
    
    img {
      width: 100%;
    }

    @include element('text') {
      position: absolute;
      top: 105px;
      width: 100%;
      display: block;
      padding: 0 30px;
      text-align: center;

      p {
        font-size: 18px;
      }
    }
  }
}