.summary {
  @include element('detail') {
		border: 1px solid rgb(218, 226, 230);
		padding: 20px 0 0 0;
  }

  @include element('table') {
    tbody {
      border: 1px !important;
    }

    thead {
      tr {
        th {
          padding: 10px 10px;
        }
      }
    }
    @include element('image') {
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;

      img {
        height: 100%;
      }
    }
  }
}