<div class="modal-header text-center modal-header-yellow">
  <div class="col-md-6 text-left">
    <img src="assets/images/logo-toa.png" width="250px">
  </div>
  <div class="col-md-6 text-right">
    <h3 class="text-bold">
      ใบสั่งซื้อ
    </h3>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <div class="loading" dw-loading="orderInfo">
        <div class="order__modal__block" style="height: 250px">
          <table>
            <tbody>
              <tr>
                <td width="110" class="text-bold text-blue">
                  ร้านค้า
                </td>
                <td class="text-bold text-blue" style="font-size:14px;">
                  {{ order.customerCode }} : {{ order.customerName }}
                </td>
              </tr>
              <tr ng-hide="order.cityCode =='' || order.cityCode == null">
                <td class="text-bold text-blue">
                  ที่อยู่
                </td>
                <td>
                  {{ order.address }} {{ order.street }} {{ order.subDistrictName }}
                  <br> {{ order.districtName }} {{ order.cityName }}
                </td>
              </tr>
              <tr ng-if="order.cityCode == '' || order.cityCode == null">
                <td class="text-bold text-blue">
                  ที่อยู่
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerEmail == '' || order.customerEmail == null">
                <td class="text-bold text-blue">
                  อีเมล
                </td>
                <td>{{ order.customerEmail }}</td>
              </tr>
              <tr ng-if="order.customerEmail == '' || order.customerEmail == null">
                <td class="text-bold text-blue">
                  อีเมล
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerTelNo == '' || order.customerTelNo == null">
                <td class="text-bold text-blue">
                  โทรศัพท์
                </td>
                <td>{{ order.customerTelNo }}</td>
              </tr>
              <tr ng-if="order.customerTelNo == '' || order.customerTelNo == null">
                <td class="text-bold text-blue">
                  โทรศัพท์
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  สถานที่ส่ง
                </td>
                <td>{{ order.shipCode.substring(2, 10) }} : {{ order.shipName }}</td>
              </tr>
              <tr ng-hide="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  ที่อยู่สถานที่ส่ง
                </td>
                <td>
                  {{ order.shipHouseNo }} {{ order.shipAddress }} {{ order.shipDistrictName }}
                  <br> {{ order.shipCityName }} {{ order.shipPostCode }}
                </td>
              </tr>
              <tr ng-if="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  สถานที่ส่ง
                </td>
                <td>-</td>
              </tr>
              <tr ng-if="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  ที่อยู่สถานที่ส่ง
                </td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="loading" dw-loading="orderInfo">
        <div class="order__modal__block" style="height: 250px">
          <table>
            <tbody>
              <tr ng-hide="order.documentNumber == ''|| order.documentNumber == null">
                <td width="110" class="text-bold text-blue">
                  เลขที่ใบสั่งซื้อ
                </td>
                <td>
                  {{ order.documentNumber }}
                  <span class="text-bold text-blue"> / วันที่</span> {{ order.documentDate | date: 'dd/MM/yyyy' }}
                </td>
              </tr>
              <tr ng-if="order.customerPO == '' || order.customerPO == null">
                <td class="text-bold text-blue">
                  PO number
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerPO == '' || order.customerPO == null">
                <td class="text-bold text-blue">
                  PO number
                </td>
                <td>{{ order.customerPO }}</td>
              </tr>
              <tr ng-hide="order.requestDate == '' || order.requestDate == null">
                <td class="text-bold text-blue">
                  Request Date
                </td>
                <td>{{ order.requestDate | date: 'dd/MM/yyyy' }}</td>
              </tr>
              <tr ng-if="order.requestDate == '' || order.requestDate == null">
                <td class="text-bold text-blue">
                  Request Date
                </td>
                <td>-</td>
              </tr>
              <tr>
                <td class="text-bold text-blue">
                  การชำระเงิน
                </td>
                <td>
                  {{ (order.paymentTerm == 'CASH' || order.paymentTerm == 'CA02') ? 'เงินสด' : 'เครดิต' }}
                </td>
              </tr>
              <tr ng-if="order.shipCondition != '01'">
                <td class="text-bold text-blue">
                  จัดส่งโดย
                </td>
                <td>{{ order.transportZone }} : {{ order.transportZoneDesc }}</td>
              </tr>
              <tr ng-if="order.shipCondition == '01'">
                <td class="text-bold text-blue">
                  จัดส่งโดย
                </td>
                <td>ลูกค้ารับสินค้าเอง</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="w100 mt-20">
    <div class="loading" dw-loading="orderInfo">
      <table class="table table-purple order__modal__table">
        <thead>
          <tr>
            <th>รายการสินค้า</th>
            <th>จำนวน</th>
            <th class="text-center">
              หน่วย
            </th>
            <th class="text-center">
              ราคาต่อหน่วย
              <span style="color:red">*</span>
            </th>
            <th class="text-center">
              ราคารวม
            </th>
          </tr>
        </thead>
        <tbody ng-repeat="product in products" style="border-top: 1px;">
          <tr>
            <td ng-class="{'text-bold': product.isBOM}">
              {{ product.productCode }} 
              <span ng-if="product.promotionCode != null && !product.isFreeGoodes">
                <span class="text-blue">
                  (Pro No : {{ product.promotionCode }})
                </span>
              </span>
              <br>
              {{ product.productNameTh }}
              <span class="ml-5 text-red" ng-if="product.isFreeGoods && product.productCode[0] != 'S'">
                (ของแถม)
              </span>
            </td>
            <td class="text-center">
              <span ng-if="!product.isBOM">
                {{ product.qty | number }}
              </span>
            </td>
            <td class="text-center">
              <span ng-if="!product.isBOM">
                {{ product.unitNameTh }}
              </span>
            </td>
            <td class="text-right">
              <span ng-if="!product.isBOM">
                {{ product.amount | number: 2 }}
              </span>
            </td>
            <td class="text-right">
              <span ng-if="!product.isBOM">
                {{ product.totalAmount | number: 2 }} บ.
              </span>
            </td>
          </tr>
          <tr ng-repeat="bom in boms track by $index" ng-if="bom.productRefCode == product.productCode">
            <td>{{ bom.productCode }} {{ bom.productNameTh }}</td>
            <td class="text-center">
              {{ bom.qty }}
            </td>
            <td class="text-center">
              {{ bom.unitNameTh }}
            </td>
            <td class="text-right">
              {{ bom.price | number: 2 }}
            </td>
            <td class="text-right">
              {{ bom.amount | number:2 }} บ.
            </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th class="text-center">
              ยอดรวมมูลค่าสินค้า (ไม่รวม VAT)
            </th>
            <th class="text-center" colspan="3">
              {{ totalQty }} รายการ
            </th>
            <th class="text-right">
                {{ order.totalAmount | number: 2 }} บ.
            </th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="w100 mt-10 text-red">
    * ราคาต่อหน่วย หลังหักส่วนลดมาตรฐานเท่านั้น
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-flat btn-teal w100px mr-5" ng-click="toPrint()">
    พิมพ์
  </button>
  <button class="btn btn-flat btn-default w100px" ng-click="close()">
    ปิด
  </button>
</div>
