<!-- <div class="container" ng-bind-html="(config.shutdownType == 'E') ? config.shutdownMSGE : config.shutdownMSG | toTrusted">
</div> -->
<div class="container" ng-bind-html="((config.shutdownType == 'H') ? config.shutdownMSG : config.shutdownMSGE) | toTrusted">
</div>