<div header></div>
<div class="container mt-180">
  <div class="panel panel-flat panel-primary">
    <div class="panel-heading text-center">
      <h4 class="mt-5 mb-5 text-bold">
        Commission by On Sale (Sales Group) Report
      </h4>
    </div>
    <div class="panel-body">
      <div class="loading" dw-loading="report">
        <form name="form" ng-submit="showReport(form.$valid)" novalidate>
          <div class="row">
            <div class="col-xs-offset-1 col-xs-2">
              <div class="form-group">
                <label>Year</label>
                <select name="year" 
                        class="form-control select2" 
                        ng-model="input.year"
                        ng-change="setQuarter(input.year, quarters)"
                        ng-disabled="!years.length">
                  <option value="{{ y.year }}" ng-repeat="y in years | uniqueFilter: 'year' | orderBy: 'year'">
                    {{ y.year }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label>Quarter</label>
                <select name="quarter" 
                        class="form-control select2" 
                        ng-model="input.quarter"
                        ng-change="setMonth(input.year, input.quarter, months)"
                        ng-disabled="!quarters.length">
                  <option value="{{ q.quarter }}" ng-repeat="q in quarters | filter: { year: input.year } | uniqueFilter: 'quarter' | orderBy: 'quarter'">
                    {{ q.quarter }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label>Month</label>
                <select name="month"
                        class="form-control select2" 
                        ng-model="input.month"
                        ng-change="setSalesGroup()"
                        ng-disabled="!months.length">
                  <option value="{{ m.month }}" ng-repeat="m in months | filter: { year: input.year, quarter: input.quarter } | uniqueFilter: 'month' | orderBy: 'month'">
                    {{ m.month }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group">
                <label>Sales Group</label>
                <select name="salesGroup" 
                        class="form-control select2" 
                        ng-model="input.salesGroup"
                        ng-disabled="!salesGroups.length">
                  <option value="ALL">ALL</option>
                  <option value="{{ s.salesGroupKey }}" ng-repeat="s in salesGroups | sales2Filter: input.areaCode | uniqueFilter: 'salesGroupKey' | orderBy: 'salesGroupKey'">
                    {{ s.salesGroupKey }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="w100 mt-10 text-center">
            <button type="submit" class="btn btn-flat btn-teal w150px mr-5" ng-disabled="form.$invalid">
              Preview
            </button>
            <button type="button" class="btn btn-flat btn-default w150px" ui-sref="home">
              กลับสู่หน้าหลัก
            </button>
          </div>
        </form>
        <div class="w100 mt-20" ng-if="reports.length > 0">
          <div class="w100" ng-repeat="report in (reports | orderBy: 'salesGroupKey') | limitTo : pageSize : (currentPage - 1) * pageSize">
            <table class="table report__manager">
              <thead>
                <tr>
                  <th colspan="7" style="background-color: rgb(233, 202, 240);">
                    Sale Group : {{ report.salesGroupKey }} {{ report.salesGroup }}
                  </th>
                </tr>
                <tr>
                  <th width="200">
                    Customer Area
                  </th>
                  <th></th>
                  <th class="text-right">
                    Month {{ report.month }} / {{ report.year }}
                  </th>
                  <th class="text-right">
                    Decorative
                  </th>
                  <th class="text-right">
                    Non Decorative
                  </th>
                  <th class="text-right">
                    Other
                  </th>
                  <th class="text-right">
                    Quarter {{ report.quarter }} / {{ report.year }}
                  </th>
                </tr>
              </thead>
              <tbody ng-repeat="r in report.data">
                <tr>
                  <th rowspan="3" class="text-center va-middle" style="background-color: rgb(231, 252, 255);">
                    <strong>{{ r.teamSales }}</strong>
                  </th>
                  <td>Target Amt</td>
                  <td class="text-right">
                    {{ r.targetAmt.month | number: 0 }}
                  </td>
                  <td class="text-right">
                    {{ r.targetAmt.decorative | number: 0 }}
                  </td>
                  <td class="text-right">
                    {{ r.targetAmt.none_decorative | number: 0 }}
                  </td>
                  <td class="text-right">
                    {{ r.targetAmt.other | number: 0 }}
                  </td>
                  <td class="text-right">
                    {{ r.targetAmt.quarter | number: 0 }}
                  </td>
                </tr>
                <tr>
                  <td>Net Amt</td>
                  <td class="text-right">
                    {{ r.netAmt.month | number: 0 }}
                  </td>
                  <td class="text-right">
                    {{ r.netAmt.decorative | number: 0 }}
                  </td>
                  <td class="text-right">
                    {{ r.netAmt.none_decorative | number: 0 }}
                  </td>
                  <td class="text-right">
                    {{ r.netAmt.other | number: 0 }}
                  </td>
                  <td class="text-right">
                    {{ r.netAmt.quarter | number: 0 }}
                  </td>
                </tr>
                <tr>
                  <td>%Ach</td>
                  <td class="text-right">
                    {{ (r.netAmt.month / r.targetAmt.month) * 100 | number: 2 }}%
                  </td>
                  <td class="text-right">
                    {{ (r.netAmt.decorative / r.targetAmt.decorative) * 100 | number: 2 }}%
                  </td>
                  <td class="text-right">
                    {{ (r.netAmt.none_decorative / r.targetAmt.none_decorative) * 100 | number: 2 }}%
                  </td>
                  <td class="text-right">
                    {{ (r.netAmt.other / r.targetAmt.other) * 100 | number: 2 }}%
                  </td>
                  <td class="text-right">
                    {{ (r.netAmt.quarter / r.targetAmt.quarter) * 100 | number: 2 }}%
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th rowspan="3">
                    Summary
                  </th>
                  <th>Target Amt</th>
                  <th class="text-right">
                    {{ report.targetAmt.month | number: 0 }}
                  </th>
                  <th class="text-right">
                    {{ report.targetAmt.decorative | number: 0 }}
                  </th>
                  <th class="text-right">
                    {{ report.targetAmt.none_decorative | number: 0 }}
                  </th>
                  <th class="text-right">
                    {{ report.targetAmt.other | number: 0 }}
                  </th>
                  <th class="text-right">
                    {{ report.targetAmt.quarter | number: 0 }}
                  </th>
                </tr>
                <tr>
                  <th>Net Amt</th>
                  <th class="text-right">
                    {{ report.netAmt.month | number: 0 }}
                  </th>
                  <th class="text-right">
                    {{ report.netAmt.decorative | number: 0 }}
                  </th>
                  <th class="text-right">
                    {{ report.netAmt.none_decorative | number: 0 }}
                  </th>
                  <th class="text-right">
                    {{ report.netAmt.other | number: 0 }}
                  </th>
                  <th class="text-right">
                    {{ report.netAmt.quarter | number: 0 }}
                  </th>
                </tr>
                <tr>
                  <th>%Ach</th>
                  <th class="text-right">
                    {{ (report.netAmt.month / report.targetAmt.month) * 100 | number: 2 }}%
                  </th>
                  <th class="text-right">
                    {{ (report.netAmt.decorative / report.targetAmt.decorative) * 100 | number: 2 }}%
                  </th>
                  <th class="text-right">
                    {{ (report.netAmt.none_decorative / report.targetAmt.none_decorative) * 100 | number: 2 }}%
                  </th>
                  <th class="text-right">
                    {{ (report.netAmt.other / report.targetAmt.other) * 100 | number: 2 }}%
                  </th>
                  <th class="text-right">
                    {{ (report.netAmt.quarter / report.targetAmt.quarter) * 100 | number: 2 }}%
                  </th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="w100 mt-10 text-center">
            <ul uib-pagination 
                total-items="reports.length" 
                items-per-page="pageSize" 
                max-size="maxSize" 
                boundary-links="true" 
                first-text="&lsaquo;&lsaquo;"
                last-text="&rsaquo;&rsaquo;" 
                next-text="&rsaquo;" 
                previous-text="&lsaquo;" 
                ng-model="currentPage" 
                ng-hide="!reports.length || reports.length <= pageSize">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>