.btn-flat {
  border-radius: 0px;
  outline: 0 !important;
}

.btn-orange {
  color: #ffffff !important;
  background: #F57C00;

  &:hover, 
  &:active {
    background: #EF6C00;
  }
}

.btn-teal {
  color: #ffffff !important;
  background: #26A69A;
  
  &:hover,
  &:active {
    color: #ffffff;
    background: #009688;
  }
}

.btn-green {
  color: #ffffff !important;
  background: #8BC34A;

  &:hover,
  &:active {
    background: #7CB342;
  }
}

.btn-red {
  color: #ffffff !important;
  background: #F44336;

  &:hover,
  &:active {
    background: #E53935;
  }
}

.btn-blue {
  color: #ffffff !important;
  background: #1E88E5;

  &:hover,
  &:active {
    background: #1976D2;
  }
}