.content {
  padding: 25px 0;

  @include modifier('primary') {
    color: #ffffff;
    background: #e8f1fe;
  }
  
  @include modifier('orange') {
    color: #ffffff;
    background:#e8f1fe;
  }

  @include element('form') {
    color: #000000;
    background: #ffffff;
    padding: 20px;      
    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);

    @include element('title') {
      background: #80d8d8;
      color: #ffffff;
      font-size: 18px;
      padding: 13px;
    }
    
    // @include element('login') {
    //   height: 375px;
    //   background: #A2E2FE !important;
    // }
  }
}