.dropdown-flat {
  .dropdown-menu {
    padding: 10px 0px;
    font-size: 14px !important;
    border: 0 !important;
    border-radius: 0px !important;
    margin-top: 10px;
    //background: #F2D8E5;
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);

    > li {
      > a {
        padding: 8px 25px;
        color: #000000 !important;
      }
    }

  }

  &.open {
    > a {
      background: none;
      color: #08c;
    }
  }
  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #F2EEB1;
  }
}
