.modal {
  &.right {
    &.fade {
      .modal-dialog {
        @include transition(opacity 0.3s linear, right 0.3s ease-out);
      }

      &.in {
        .modal-dialog {
          right: 0;
        }
      }
    }
  }
}

.modal-flat {
  .modal-dialog {
    .modal-content {
      border-radius: 0px;
    }
  }
}

.modal-header-yellow {
  background: #ffffcc !important;
}

.modal-header-green {
  background: #cceecc !important;
}

.modal-header-purple {
  background: #ccccee !important;
}

.modal-header-orange {
  background: #ffeecc !important;
}

.modal-header-pink {
  background: #ffddee !important;
}

@media (min-width: 992px) {
  .modal-lg {
      width: 898px !important;
  }
}