.panel-flat {
  border: 0 !important;
  box-shadow: none !important;

  .panel-heading {
    border-radius: 0;
    border: 0 !important;
  }

  .panel-footer {
    background: none;
    border: 0;
    @include clearfix;
  }
}

// .panel-default {
//   .panel-heading {
//     background-color: #F1F7FE;
//     color: #0F61BB;
//   }
// }

.panel-flat {
  &.panel-primary {
    .panel-heading {
      background-color: #F1F7FE;
      color: #0F61BB;
    }
  }
}