.swal2-container {
  z-index: 6000 !important;
  
  &.swal2-shown {
    
  }

  .swal2-modal {
    font-family: 'Maitree', sans-serif !important;  
    
    .swal2-content {
      font-weight: normal;
    }
  }
}
