.table-purple {
  thead { 
    tr {
      th {
        background: #FAF6F5;
        border-bottom: 0 !important;
        color: #0f258b;
        vertical-align: middle;      
        border: 1px solid #ffffff;  
      }
    }
  }

  tfoot {
    tr {
      th {
        background: #FAF6F5;
        border-bottom: 0 !important;
        color: #0f258b;
        vertical-align: middle;      
      }
    }
  }
}

.table-yellow {
  thead {
    tr {
      th {
        background: rgb(253, 255, 199);
        border-bottom: 0 !important;
        vertical-align: middle;      
        border: 1px solid #ffffff;  
      }
    }
  }

  tfoot {
    tr {
      th {
        background: rgb(253, 255, 199);
        border-bottom: 0 !important;
        vertical-align: middle;      
      }
    }
  }
}

.table-blue {
  thead { 
    tr {
      th {
        background: #F1F7FE;
        border-bottom: 0 !important;
        color: #0f258b;
        vertical-align: middle;      
        border: 1px solid #ffffff;  
      }
    }
  }

  tfoot {
    tr {
      th {
        background: #F1F7FE;
        border-bottom: 0 !important;
        color: #0f258b;
        vertical-align: middle;      
      }
    }
  }
}

.table-red {
  thead { 
    tr {
      th {
        background: #F4E6E6;
        border-bottom: 0 !important;
        color: #0f258b;
        vertical-align: middle;      
        border: 1px solid #ffffff;  
      }
    }
  }

  tfoot {
    tr {
      th {
        background: #F4E6E6;
        border-bottom: 0 !important;
        color: #0f258b;
        vertical-align: middle;      
      }
    }
  }
}