<div header></div>
<div class="container mt-190">
  <div class="panel panel-flat panel-primary">
    <div class="panel-heading">
      <h4 class="text-bold mt-5 mb-5">
        {{ customerInfo.customerCode + ' : ' + customerInfo.customerName }}
      </h4>
    </div>
    <div class="panel-body form-horizontal">
      <div class="loading" dw-loading="summary">
        <div class="summary__detail">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label class="col-xs-4 control-label">
                  เลขที่ใบสั่งซื้อ :
                </label>
                <div class="col-xs-8 form-control-static">
                  {{ order.documentNumber }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">
                  วันที่สั่งซื้อ :
                </label>
                <div class="col-xs-8 form-control-static">
                  {{ order.documentDate | date: 'dd/MM/yyyy' }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">
                  การชำระเงิน :
                </label>
                <div class="col-xs-8 form-control-static">
                  {{ (order.paymentTerm == 'CASH' || order.paymentTerm == 'CA02') ? 'เงินสด' : 'เครดิต' }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">
                  ที่อยู่ :
                </label>
                <div class="col-xs-8 form-control-static">
                  {{ order.address }} {{ order.street }} {{ order.subDistrictName }}
                  <br> {{ order.districtName }} {{ order.cityName }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">
                  อีเมล :
                </label>
                <div class="col-xs-8 form-control-static">
                  {{ order.customerMobile }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">
                  โทรศัพท์ :
                </label>
                <div class="col-xs-8 form-control-static">
                  {{ order.customerEmail }}
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="col-xs-4 control-label">
                  PO Number :
                </label>
                <div class="col-xs-7 form-control-static">
                  {{ order.customerPO }}
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">
                  Request Date :
                </label>
                <div class="col-xs-7 form-control-static">
                  {{ order.requestDate }}
                </div>
              </div>
              <div class="form-group" ng-if="order.shipCondition == '01'">
                <div class="col-xs-7 col-xs-offset-4">
                  <label class="text-normal">
                    <input type="checkbox" disabled checked> มารับเอง
                  </label>
                </div>
              </div>
              <div class="form-group" ng-if="order.shipCondition != '01'">
                <label class="col-xs-4 control-label">
                  สถานที่ส่ง :
                </label>
                <div class="col-xs-7 form-control-static">
                  {{ order.shipCode }} {{ order.shipName }}
                </div>
              </div>
              <div class="form-group" ng-if="order.shipCondition != '01'">
                <label class="col-xs-4 control-label">
                  ที่อยู่สถานที่ส่ง :
                </label>
                <div class="col-xs-7 form-control-static">
                  {{ ship.address }} {{ ship.street }} {{ ship.subdistrict }} {{ ship.districtName }} {{ ship.cityName }}
                </div>
              </div>
              <div class="form-group" ng-if="order.shipCondition != '01'">
                <label class="col-xs-4 control-label">
                  จัดส่งโดย :
                </label>
                <div class="col-xs-7 form-control-static">
                  {{ order.transportZone }} : {{ order.transportZoneDesc }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w100">
          <div class="mt-10 mb-10">
            คุณมีสินค้าที่สั่งซื้อจำนวน
            <strong>{{ totalItem }}</strong> รายการ
          </div>
          <table class="table table-purple summary__table">
            <thead>
              <tr>
                <th width="80px"></th>
                <th width="200px">
                  รหัสสินค้า
                </th>
                <th>
                  สินค้า
                </th>
                <th width="90px" class="text-center">
                  จำนวน
                </th>
                <th width="90px" class="text-center">
                  หน่วย
                </th>
                <th width="130px" class="text-center">
                  ราคาต่อหน่วย
                </th>
                <th width="100px" class="text-center">
                  ราคารวม
                </th>
              </tr>
            </thead>
            <tbody ng-repeat="product in products">
              <tr>
                <td>
                  <div class="summary__table__image">
                    <img ng-src="{{ config.partImgProduct + '/ProductDetail/' + product.btfWeb + '.jpg' }}" 
                        onerror="this.src='assets/images/no-image.jpg'">
                  </div>
                </td>
                <td class="lh-60" ng-class="{'text-bold': product.isBOM}">
                  {{ product.productCode }}
                  <div ng-if="product.promotionCode != null && !product.isFreeGoodes" class="text-blue" style="margin-top: -40px; font-size: 13px;">
                    (Pro No : {{ product.promotionCode }})
                  </div>
                </td>
                <td class="lh-60" ng-class="{'text-bold': product.isBOM}">
                  {{ product.productNameTh }}
                  <span class="ml-5 text-red" ng-if="product.isFreeGoods">
                    (ของแถม)
                  </span>
                </td>
                <td class="text-center lh-60" ng-class="{'text-bold': product.isBOM}">
                  <span ng-if="!product.isBOM">
                    {{ product.qty }}
                  </span>
                </td>
                <td class="text-center lh-60" ng-class="{'text-bold': product.isBOM}">
                  <span ng-if="!product.isBOM">
                    {{ product.unitNameTh }}
                  </span>
                </td>
                <td class="text-center lh-60" ng-class="{'text-bold': product.isBOM}">
                  <span ng-if="!product.isBOM">
                    {{ product.amount | number: 2 }}
                  </span>
                </td>
                <td class="text-center lh-60" ng-class="{'text-bold': product.isBOM}">
                  <span ng-if="!product.isBOM">
                    {{ product.totalAmount | number: 2 }}
                  </span>
                </td>
              </tr>
              <tr ng-repeat="bom in boms track by $index" ng-if="bom.productRefCode == product.productCode">
                <td>
                  <!-- BOM IMAGE -->
                </td>
                <td class="lh-60">
                  {{ bom.productCode }}
                </td>
                <td class="lh-60">
                  {{ bom.productNameTh }}
                </td>
                <td class="text-center lh-60">
                  {{ product.qty | number }}
                </td>
                <td class="text-center lh-60">
                  {{ bom.unitNameTh }}
                </td>
                <td class="text-center lh-60">
                  {{ bom.price | number: 2 }}
                </td>
                <td class="text-center lh-60">
                  {{ bom.price * product.qty | number: 2 }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-right text-bold" style="font-size: 18px">
            ยอดรวมมูลค่าสินค้า (ไม่รวม VAT) :
            <span style="color: #00BFFF; font-size: 25px;">{{ totalAmount | number: 2 }}</span> บาท
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer text-center pt-20">
      <button class="btn btn-flat btn-green" style="width: 150px;" ui-sref="home">
        หน้าหลัก
      </button>
    </div>
  </div>
</div>
<div footer></div>