<div header></div>
<div class="container mt-180">
  <form name="form" ng-submit="addOrder()" autocomplete="off" novalidate>
    <wizard indicators-position="top">
      <!-- STEP 1 -->
      <wz-step wz-title="ตะกร้า">
        <div class="w100 mt-20">
          <div class="panel panel-flat panel-primary">
            <div class="panel-heading">
              <h4 class="text-bold mt-5 mb-5">
                {{ customerInfo.customerCode + ' : ' + customerInfo.customerName }}
              </h4>
            </div>
            <div class="panel-body form-horizontal">
              <div class="checkout__detail">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        เลขที่ใบสั่งซื้อ :
                      </label>
                      <div class="col-xs-8 form-control-static">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        วันที่สั่งซื้อ :
                      </label>
                      <div class="col-xs-8 form-control-static">
                        {{ input.documentDate }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        การชำระเงิน :
                      </label>
                      <div class="col-xs-8">
                        <label class="radio-inline">
                          <input name="checkout[paymentTerm]" type="radio" ng-model="input.paymentTerm" value="CASH"> เงินสด
                        </label>
                        <label class="radio-inline" ng-if="customerInfo.paymentTerm != 'CASH' && customerInfo.paymentTerm != 'CA02'">
                          <input name="checkout[paymentTerm]" type="radio" ng-model="input.paymentTerm" value="3MED"> เครดิต
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        ที่อยู่ :
                      </label>
                      <div class="col-xs-8 form-control-static">
                        {{ customerInfo.address }} {{ customerInfo.street }} {{ customerInfo.subDistrictName }}
                        <br> {{ customerInfo.districtName }} {{ customerInfo.cityName }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        อีเมล :
                      </label>
                      <div class="col-xs-8 form-control-static">
                        {{ customerInfo.email }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        โทรศัพท์ :
                      </label>
                      <div class="col-xs-8 form-control-static">
                        {{ customerInfo.telNo }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        PO Number :
                      </label>
                      <div class="col-xs-7">
                        <input type="text" name="customerPO" class="form-control" ng-model="input.customerPO" maxlength="15">
                      </div>
                    </div>
                    <div class="form-group" ng-if="config.requestDate">
                      <label class="col-xs-4 control-label">
                        Request Date :
                      </label>
                      <div class="col-xs-7">
                        <select name="order[requestDate]" class="form-control" ng-model="input.requestDate" ng-options="reqDate.reqDate as reqDate.txtDate for reqDate in order.requestDateList" ng-change="setRequestDate(inpupt.requestDate)">
                        </select>
                      </div>
                    </div>
                    <div class="form-group" ng-if="customerInfo.isReceive && config.selfReceive">
                      <div class="col-xs-7 col-xs-offset-4">
                        <label class="text-normal">
                          <input type="checkbox" ng-model="input.isReceive" ng-true-value="true" ng-false-value="false" ng-click="setReceive()"> มารับเอง
                        </label>
                      </div>
                    </div>
                    <div class="form-group" ng-if="!input.isReceive">
                      <label class="col-xs-4 control-label">
                        สถานที่ส่ง :
                      </label>
                      <div class="col-xs-7">
                        <select name="order[shipTo]" 
                                class="form-control" 
                                ng-model="input.shipTo" 
                                ng-options="shipTo.shipId as shipTo.shipCode + ' ' + shipTo.shipName for shipTo in order.shipToList | orderBy: 'shipCode'"
                                ng-change="setShipTo(input.shipTo)">
                        </select>
                      </div>
                    </div>
                    <div class="form-group" ng-if="!input.isReceive">
                      <label class="col-xs-4 control-label">
                        ที่อยู่สถานที่ส่ง :
                      </label>
                      <div class="col-xs-7 form-control-static">
                        {{ ship.address }} {{ ship.street }} {{ ship.subdistrict }} {{ ship.districtName }} {{ ship.cityName }}
                      </div>
                    </div>
                    <div class="form-group" ng-if="!input.isReceive">
                      <label class="col-xs-4 control-label">
                        จัดส่งโดย : 
                      </label>
                      <div class="col-xs-7" ng-if="!visible">
                        <select name="order[transport]" 
                                class="form-control" 
                                ng-model="input.transport" 
                                ng-options="transport.transportZone as transport.transportZone + ' ' + transport.transportZoneDesc for transport in order.transportList | filter: { transportCity: (!input.shipTo) ? customerInfo.cityCode : ship.cityCode }"
                                ng-change="setTransport(input.transport)">
                        </select>
                      </div>
                      <div class="col-xs-7 form-control-static" ng-if="visible">
                        {{ (ship.transportZone == undefined) ? customerInfo.transportZoneCode + ' ' + customerInfo.transportZoneDesc : ship.transportZone + ' ' + ship.transportZoneDesc }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w100">
                <div class="mt-10 mb-10">
                  คุณมีสินค้าที่สั่งซื้อจำนวน
                  <strong>{{ totalItem }}</strong> รายการ
                </div>
                <table class="table table-purple checkout__table">
                  <thead>
                    <tr>
                      <th width="80px"></th>
                      <th width="180px">
                        รหัสสินค้า
                      </th>
                      <th>
                        สินค้า
                      </th>
                      <th width="90px" class="text-center">
                        จำนวน
                      </th>
                      <th width="90px" class="text-center">
                        หน่วย
                      </th>
                      <th width="130px" class="text-center">
                        ราคาต่อหน่วย
                      </th>
                      <th width="100px" class="text-center">
                        ราคารวม
                      </th>
                      <th width="50px" class="text-center">
                      </th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="product in products">
                    <tr>
                      <td>
                        <div class="checkout__table__image">
                          <img ng-src="{{ config.partImgProduct + '/ProductDetail/' + product.btfCode + '.jpg' }}" onerror="this.src='assets/images/no-image.jpg'">
                        </div>
                      </td>
                      <td class="lh-60" ng-class="{'text-bold': product.isBOM}">
                        {{ product.productCode }}
                        <div ng-if="product.promotionCode != null && !product.isFreeGoodes" class="text-blue" style="margin-top: -40px; font-size: 13px;">
                          (Pro No : {{ product.promotionCode }})
                        </div>
                      </td>
                      <td class="lh-60" ng-class="{'text-bold': product.isBOM}">
                        {{ product.productNameTh }} 
                        <span class="ml-5 text-red" ng-if="product.isFreeGoodes">
                          (ของแถม)
                        </span>
                      </td>
                      <td class="text-center lh-60" ng-class="{'text-bold': product.isBOM}">
                        <span ng-if="!product.isBOM">
                          {{ product.qty }}
                        </span>
                      </td>
                      <td class="text-center lh-60" ng-class="{'text-bold': product.isBOM}">
                        <span ng-if="!product.isBOM">
                          {{ product.unitNameTh }}
                        </span>
                      </td>
                      <td class="text-right lh-60" ng-class="{'text-bold': product.isBOM}">
                        <span ng-if="!product.isBOM">
                          {{ product.price | number: 2 }}
                        </span>
                      </td>
                      <td class="text-right lh-60" ng-class="{'text-bold': product.isBOM}">
                        <span ng-if="!product.isBOM">
                          {{ product.price * product.qty | number: 2 }}
                        </span>
                      </td>
                      <td class="text-center lh-60">
                        <a class="text-red pointer" ng-click="delCart(product)" ng-if="!product.isFreeGoodes">
                          <i class="fa fa-trash fa-2x mt-10"></i>
                        </a>
                      </td>
                    </tr>
                    <!-- <tr ng-repeat="freeGood in freeGoods track by $index" ng-if="freeGood.productCode == product.productCode && chkHidePromotion(freeGood)">
                      <td>
                        <div class="checkout__table__image">
                          <img ng-src="{{ config.partImgProduct + '/OrderDetail/' + freeGood.btfCode + '.jpg' }}" onerror="this.src='assets/images/no-image.jpg'">
                        </div>
                      </td>
                      <td>
                        {{ freeGood.productCode }}
                      </td>
                      <td>
                        {{ freeGood.productNameTh }} 
                        <span class="ml-5 text-red">
                          (ของแถม)
                        </span>
                      </td>
                      <td class="text-center lh-60">
                        {{ freeGood.qty }}
                      </td>
                      <td class="text-center lh-60">
                        {{ freeGood.unitNameTh }}
                      </td>
                      <td class="text-right lh-60">
                        {{ freeGood.price | number: 2 }}
                      </td>
                      <td class="text-right lh-60">
                        {{ freeGood.price * freeGood.qty | number: 2 }}
                      </td>
                      <td></td>
                    </tr> -->
                    <tr ng-repeat="bom in boms track by $index" ng-if="bom.productRefCode == product.productCode">
                      <td>
                        <!-- BOM IMAGE -->
                      </td>
                      <td class="lh-60">
                        {{ bom.productCode }}
                      </td>
                      <td class="lh-60">
                        {{ bom.productNameTh }}
                      </td>
                      <td class="text-center lh-60">
                        {{ product.qty | number }}
                      </td>
                      <td class="text-center lh-60">
                        {{ bom.unitNameTh }}
                      </td>
                      <td class="text-right lh-60">
                        {{ bom.price | number: 2 }}
                      </td>
                      <td class="text-right lh-60">
                        {{ bom.price * product.qty | number: 2 }}
                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-right text-bold" style="font-size: 18px">
                  ยอดรวมมูลค่าสินค้า (ไม่รวม VAT) :
                  <span style="color: #00BFFF; font-size: 25px;">{{ totalAmount | number: 2 }}</span> บาท
                </div>
              </div>
            </div>
            <div class="panel-footer text-center pt-20">
              <a class="btn btn-flat btn-blue mr-5 w150px pointer none-outline" ng-click="toPrint()">
                <i class="fa fa-print mr-5"></i>
                พิมพ์
              </a>
              <a class="btn btn-flat btn-green w150px" ng-click="nextStep()">
                ถัดไป
              </a>
            </div>
          </div>
        </div>
      </wz-step>
      <!-- END STEP 1 -->

      <!-- STEP 2 -->
      <wz-step wz-title="รายละเอียดใบสั่งซื้อ">
        <div class="w100 mt-20 pt-5">
          <div class="panel panel-flat panel-primary">
            <div class="panel-heading">
              <h4 class="text-bold mt-5 mb-5">
                {{ customerInfo.customerCode + ' : ' + customerInfo.customerName }}
              </h4>
            </div>
            <div class="panel-body form-horizontal">
              <div class="checkout__detail">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        เลขที่ใบสั่งซื้อ :
                      </label>
                      <div class="col-xs-8 form-control-static">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        วันที่สั่งซื้อ :
                      </label>
                      <div class="col-xs-8 form-control-static">
                        {{ input.documentDate }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        การชำระเงิน :
                      </label>
                      <div class="col-xs-8 form-control-static">
                        {{ (input.paymentTerm == 'CASH' || input.paymentTerm == 'CA02') ? 'เงินสด' : 'เครดิต' }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        ที่อยู่ :
                      </label>
                      <div class="col-xs-8 form-control-static">
                        {{ customerInfo.address }} {{ customerInfo.street }} {{ customerInfo.subDistrictName }}
                        <br> {{ customerInfo.districtName }} {{ customerInfo.cityName }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        อีเมล :
                      </label>
                      <div class="col-xs-8 form-control-static">
                        {{ customerInfo.email }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        โทรศัพท์ :
                      </label>
                      <div class="col-xs-8 form-control-static">
                        {{ customerInfo.telNo }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="col-xs-4 control-label">
                        PO Number :
                      </label>
                      <div class="col-xs-7 form-control-static">
                        {{ input.customerPO }}
                      </div>
                    </div>
                    <div class="form-group" ng-if="config.requestDate">
                      <label class="col-xs-4 control-label">
                        Request Date :
                      </label>
                      <div class="col-xs-7 form-control-static">
                        {{ input.requestDate | date: 'dd/MM/yyyy' }}
                      </div>
                    </div>
                    <div class="form-group" ng-if="input.isReceive && config.selfReceive">
                      <div class="col-xs-7 col-xs-offset-4">
                        <label class="text-normal">
                          <input type="checkbox" disabled checked> มารับเอง
                        </label>
                      </div>
                    </div>
                    <div class="form-group" ng-if="!input.isReceive">
                      <label class="col-xs-4 control-label">
                        สถานที่ส่ง :
                      </label>
                      <div class="col-xs-7 form-control-static">
                        {{ ship.shipCode }} {{ ship.shipName }}
                      </div>
                    </div>
                    <div class="form-group" ng-if="!input.isReceive">
                      <label class="col-xs-4 control-label">
                        ที่อยู่สถานที่ส่ง :
                      </label>
                      <div class="col-xs-7 form-control-static">
                        {{ ship.address }} {{ ship.street }} {{ ship.subdistrict }} {{ ship.districtName }} {{ ship.cityName }}
                      </div>
                    </div>
                    <div class="form-group" ng-if="!input.isReceive">
                      <label class="col-xs-4 control-label">
                        จัดส่งโดย :
                      </label>
                      <div class="col-xs-7 form-control-static" ng-if="(ship.shipCondition == '03' || ship == '') && !input.isReceive">
                        {{ (customerInfo.shipCondition != '03') ? customerInfo.transportZoneCode + ' ' + customerInfo.transportZoneDesc : transport.transportZone + ' ' + transport.transportZoneDesc }}
                      </div>
                      <div class="col-xs-7 form-control-static" ng-if="(ship.shipCondition != '03' && ship != '') && !input.isReceive">
                        {{ (ship.transportZone == undefined) ? customerInfo.transportZoneCode + ' ' + customerInfo.transportZoneDesc : ship.transportZone + ' ' + ship.transportZoneDesc }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w100">
                <div class="w100 mt-10 mb-10">
                  คุณมีสินค้าที่สั่งซื้อจำนวน
                  <strong>{{ totalItem }}</strong> รายการ
                </div>
                <table class="table table-purple checkout__table">
                  <thead>
                    <tr>
                      <th width="80px"></th>
                      <th width="200px">
                        รหัสสินค้า
                      </th>
                      <th>
                        สินค้า
                      </th>
                      <th width="90px" class="text-center">
                        จำนวน
                      </th>
                      <th width="90px" class="text-center">
                        หน่วย
                      </th>
                      <th width="130px" class="text-center">
                        ราคาต่อหน่วย
                      </th>
                      <th width="100px" class="text-center">
                        ราคารวม
                      </th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="product in products | orderBy: 'cartDTId'">
                    <tr>
                      <td>
                        <div class="checkout__table__image">
                          <img ng-src="{{ config.partImgProduct + '/ProductDetail/' + product.btfCode + '.jpg' }}" onerror="this.src='assets/images/no-image.jpg'">
                        </div>
                      </td>
                      <td class="lh-60" ng-class="{'text-bold': product.isBOM}">
                        {{ product.productCode }}
                        <div ng-if="product.promotionCode != null && !product.isFreeGoodes" class="text-blue" style="margin-top: -40px; font-size: 13px;">
                          (Pro No : {{ product.promotionCode }})
                        </div>
                      </td>
                      <td class="lh-60" ng-class="{'text-bold': product.isBOM}">
                        {{ product.productNameTh }}
                        <span class="ml-5 text-red" ng-if="product.isFreeGoodes">
                          (ของแถม)
                        </span>
                      </td>
                      <td class="text-center lh-60" ng-class="{'text-bold': product.isBOM}">
                        <span ng-if="!product.isBOM">
                          {{ product.qty }}
                        </span>
                      </td>
                      <td class="text-center lh-60" ng-class="{'text-bold': product.isBOM}">
                        <span ng-if="!product.isBOM">
                          {{ product.unitNameTh }}
                        </span>
                      </td>
                      <td class="text-right lh-60" ng-class="{'text-bold': product.isBOM}">
                        <span ng-if="!product.isBOM">
                          {{ product.price | number: 2 }}
                        </span>
                      </td>
                      <td class="text-right lh-60" ng-class="{'text-bold': product.isBOM}">
                        <span ng-if="!product.isBOM">
                          {{ product.price * product.qty | number: 2 }}
                        </span>
                      </td>
                    </tr>
                    <tr ng-repeat="bom in boms track by $index" ng-if="bom.productRefCode == product.productCode">
                      <td>
                        <!-- BOM IMAGE -->
                      </td>
                      <td class="lh-60">
                        {{ bom.productCode }}
                      </td>
                      <td class="lh-60">
                        {{ bom.productNameTh }}
                      </td>
                      <td class="text-center lh-60">
                        {{ product.qty | number }}
                      </td>
                      <td class="text-center lh-60">
                        {{ bom.unitNameTh }}
                      </td>
                      <td class="text-right lh-60">
                        {{ bom.price | number: 2 }}
                      </td>
                      <td class="text-right lh-60">
                        {{ bom.price * product.qty | number: 2 }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-right text-bold" style="font-size: 18px">
                  ยอดรวมมูลค่าสินค้า (ไม่รวม VAT) :
                  <span style="color: #00BFFF; font-size: 25px;">{{ totalAmount | number: 2}}</span> บาท
                </div>
              </div>
            </div>
            <div class="panel-footer text-center pt-20">
              <a class="btn btn-flat btn-blue w150px mr-5" ng-click="prevStep()">
                ย้อนกลับ
              </a>
              <button type="submit" class="btn btn-flat btn-green w150px " ng-disabled="btnLoading">
                <span ng-if="!btnLoading">
                  ยืนยัน
                </span>
                <span ng-if="btnLoading">
                  <i class="fa fa-circle-o-notch fa-spin"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </wz-step>
      <!-- END STEP 2 -->
    </wizard>
  </form>
</div>
<div footer></div>