<div header></div>
<div class="container mt-180">
  <div class="row">
    <div class="col-xs-3">
      <div class="filter mb-20">
        <div class="filter__list">
          <div class="filter__list__header">
            กลุ่มผลิตภัณฑ์
          </div>
          <div class="loading" dw-loading="marketing">
            <div class="filter__list__block">
              <ul class="list-unstyled">
                <li ng-repeat="marketing in marketings">
                  <a ui-sref="category({ marketing: marketing.marketingCode })" class="block w100">
                    {{ marketing.marketingDesc }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filter__list">
          <div class="filter__list__header">
            แบรนด์
          </div>
          <div class="loading" dw-loading="marketing">
            <div class="filter__list__block" style="max-height: 250px; overflow: auto;">
              <ul class="list-unstyled">
                <li ng-repeat="brand in brands | orderBy: 'brandDesc' | uniqueFilter: 'brandCode'">
                  <a ui-sref="category({ brand: brand.brandCode })" class="block w100">
                    {{ brand.brandDesc }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="icon-left">
        <a href="/assets/UserManual.pdf" target="_blank">
          <img class="img-icon" src="/assets/images/icon-Usermanual.jpg">
        </a> 
      </div>
    </div>
    <div class="col-xs-9">
      <div ng-if="config.homeTemplate == 1">
        <div uib-carousel active="active" interval="5000" no-wrap="false">
          <div uib-slide index="0">
            <img ng-src="{{ config.partImgHome + '/' + config.imgHomeA1 }}" class="img-responsive" style="height: 390px">
          </div>
          <div uib-slide index="1">
            <img ng-src="{{ config.partImgHome + '/' + config.imgHomeA2 }}" class="img-responsive" style="height: 390px">
          </div>
          <div uib-slide index="2">
            <img ng-src="{{ config.partImgHome + '/' + config.imgHomeA3 }}" class="img-responsive" style="height: 390px">
          </div>
        </div>
      </div>
      <div ng-if="config.homeTemplate == 2">
        <div class="row">
          <div class="col-xs-9 pr-5">
            <div uib-carousel active="active" interval="5000" no-wrap="false">
              <div uib-slide index="0">
                <img ng-src="{{ config.partImgHome + '/' + config.imgHomeA1 }}" class="img-responsive" style="height: 390px">
              </div>
              <div uib-slide index="1">
                <img ng-src="{{ config.partImgHome + '/' + config.imgHomeA2 }}" class="img-responsive" style="height: 390px">
              </div>
              <div uib-slide index="2">
                <img ng-src="{{ config.partImgHome + '/' + config.imgHomeA3 }}" class="img-responsive" style="height: 390px">
              </div>
            </div>
          </div>
          <div class="col-xs-3 pl-5">
            <div class="mb-5">
              <img ng-src="{{ config.partImgHome + '/' + config.imgHomeB }}" class="img-responsive w100" style="height: 190px">
            </div>
            <div class="mt-10">
              <img ng-src="{{ config.partImgHome + '/' + config.imgHomeC }}" class="img-responsive w100" style="height: 190px">
            </div>
          </div>
        </div>
      </div>
      <div ng-if="config.homeTemplate == 3">
        <div class="row">
          <div class="col-xs-6 pr-5">
            <div uib-carousel active="active" interval="5000" no-wrap="false">
              <div uib-slide index="0">
                <img ng-src="{{ config.partImgHome + '/' + config.imgHomeA1 }}" class="img-responsive" style="height: 390px">
              </div>
              <div uib-slide index="1">
                <img ng-src="{{ config.partImgHome + '/' + config.imgHomeA2 }}" class="img-responsive" style="height: 390px">
              </div>
              <div uib-slide index="2">
                <img ng-src="{{ config.partImgHome + '/' + config.imgHomeA3 }}" class="img-responsive" style="height: 390px">
              </div>
            </div>
          </div>
          <div class="col-xs-6 pl-5">
            <div class="row">
              <div class="col-xs-6 pr-5">
                <div class="mb-5">
                  <img ng-src="{{ config.partImgHome + '/' + config.imgHomeB }}" class="img-responsive w100" style="height: 190px">
                </div>
                <div class="mt-10">
                  <img ng-src="{{ config.partImgHome + '/' + config.imgHomeC }}" class="img-responsive w100" style="height: 190px">
                </div>
              </div>
              <div class="col-xs-6 pl-5">
                <div class="mb-5">
                  <img ng-src="{{ config.partImgHome + '/' + config.imgHomeD }}" class="img-responsive w100" style="height: 190px">
                </div>
                <div class="mt-10">
                  <img ng-src="{{ config.partImgHome + '/' + config.imgHomeE }}" class="img-responsive w100" style="height: 190px">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-flat panel-primary mt-10" ng-if="config.promotionHide != 'Y'"> 
        <div class="panel-heading text-center"> 
          <h4 class="mt-5 mb-5 text-bold"> 
            โปรโมชั่น 
          </h4> 
        </div> 
        <div class="panel-body"> 
          <div ng-dropdown-multiselect=""  
               options="marketingSelects"  
               selected-model="marketingModels" 
               translation-texts="multiSelectTexts" 
               events="multiSelectEvents" 
               checkboxes="true"> 
          </div> 
          <div class="loading mt-15" dw-loading="promotion"> 
            <div class="row"> 
              <div class="col-xs-4" ng-repeat="promotion in promotions | orderBy: 'promotionName' | limitTo : pageSize : (currentPage - 1) * pageSize"> 
                <div class="promotion-item" ng-click="toPromotion(promotion)"> 
                  <div class="promotion-item__image"> 
                    <img ng-src="{{ config.partImgPromotion + '/' + promotion.promotionImage }}" onerror="this.src='assets/images/no-image.jpg'"> 
                  </div> 
                  <div class="promotion-item__name" uib-tooltip="{{ promotion.promotionName }}" tooltip-placement="bottom"> 
                    {{ promotion.promotionName }}
                  </div> 
                </div> 
              </div> 
            </div> 
            <div class="w100 text-center"> 
              <ul uib-pagination 
                  total-items="promotions.length"  
                  items-per-page="pageSize" 
                  max-size="maxSize" 
                  boundary-links="true"  
                  first-text="&lsaquo;&lsaquo;" 
                  last-text="&rsaquo;&rsaquo;"  
                  next-text="&rsaquo;"  
                  previous-text="&lsaquo;"                
                  ng-model="currentPage" 
                  ng-hide="!promotions.length || promotions.length <= pageSize"> 
              </ul> 
            </div> 
          </div> 
        </div> 
      </div> 
    </div>
  </div>
</div>
<div footer></div>
