<div header></div>
<div class="container mt-180">
  <div class="panel panel-flat panel-primary">
    <div class="panel-heading text-center">
      <h4 class="mt-5 mb-5 text-bold">
        ข้อมูลร้านค้า
      </h4>
    </div>
    <div class="panel-body">
      <fieldset disabled="disabled">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="name">รหัสร้านค้า</label>
              <input type="text" class="form-control" name="name" ng-model="input.customerCode">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>ชื่อร้านค้า</label>
              <input type="text" class="form-control" name="customerName" ng-model="input.customerName">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>ที่อยู่/เลขที่</label>
              <input type="text" class="form-control" name="address" ng-model="input.address">              
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>ถนน</label>
              <input type="text" class="form-control" name="road" ng-model="input.street">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>ตำบล/แขวง</label>
              <input type="text" class="form-control" name="tambon" ng-model="input.subDistrictName">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>อำเภอ/เขต</label>
              <input type="text" class="form-control" name="ampur" ng-model="input.districtName">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>จังหวัด</label>
              <input type="text" class="form-control" name="province" ng-model="input.cityName">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>รหัสไปรษณีย์</label>
              <input type="text" class="form-control" name="zipcode" ng-model="input.postCode">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>เบอร์โทรศัพท์, เบอร์มือถือ</label>
              <input type="text" class="form-control" name="tel" ng-model="input.telNo">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>อีเมล</label>
              <input type="text" class="form-control" name="email" ng-model="input.email">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>เบอร์โทรศัพท์, เบอร์มือถือ (e-Ordering)</label>
              <input type="text" class="form-control" name="tel" ng-model="input.mobileDC">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>อีเมล (e-Ordering)</label>
              <input type="text" class="form-control" name="email" ng-model="input.customerEmailDC">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>จัดส่ง</label>
              <input type="text" class="form-control" name="delivery" ng-model="input.transportZoneDesc">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>Customer Size</label>
              <input type="text" class="form-control" name="customerSize" ng-model="input.priceList">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>Account No.</label>
              <input type="text" class="form-control" name="bblNo" ng-model="input.bblNo" ng-required="true">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>Account Holder Last Name</label>
              <input type="text" class="form-control" name="bblNameEng" ng-model="input.bblNameEng" ng-required="true">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <p>สามารถดูรายละเอียด Account No. ได้ที่ : </p>
              <a href="https://identity.intellilink.spendmanagement.visa.com/login?signin=aa6f430035a164aafa80cd3e8b1ae502#/login" target="_blank">
                https://identity.intellilink.spendmanagement.visa.com/login?signin=aa6f430035a164aafa80cd3e8b1ae502#/login
              </a>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="panel-footer text-center">
      <a class="btn btn-flat btn-teal w150px mr-5" ui-sref="profileUpdate">
        แจ้งเปลี่ยนแปลงข้อมูล
      </a>
      <a class="btn btn-flat btn-default w150px" ui-sref="home">
        กลับสู่หน้าแรก
      </a>
    </div>
  </div>
</div>
<div footer></div>