<div header></div>
<div class="container mt-180">
  <div class="panel panel-flat panel-primary">
    <div class="panel-heading text-center">
      <h4 class="mt-5 mb-5 text-bold">
        สินค้าที่เคยสั่งซื้อ
      </h4>
    </div>
    <div class="panel-body history">
      <div class="loading" dw-loading="history">
        <div class="row">
          <div class="col-xs-6" ng-repeat="product in (products | orderBy: '-documentDate') | limitTo : pageSize : (currentPage - 1) * pageSize">
            <div class="history__block pointer" ui-sref="product({ btfCode: product.btfWeb })">
              <div class="history__block__image">
                <img ng-src="{{ config.partImgProduct + '/ProductDetail/' + product.btfWeb + '.jpg' }}"
                     onerror="this.src='assets/images/no-image.jpg'">
              </div>
              <div class="history__block__detail">
                <ul class="list-unstyled">
                  <li class="text-bold" style="font-size: 16px">
                    สั่งซื้อเมื่อ {{ product.documentDate | date: 'dd/MM/yyyy' }}
                  </li>
                  <li class="pt-10">
                    {{ product.btfWebDescTh }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="w100 text-center" ng-if="!products.length && products != undefined">
          <h4 class="text-red">
            ไม่มีข้อมูล
          </h4>
        </div>
        <div class="w100 text-center">
          <ul uib-pagination
              total-items="products.length" 
              items-per-page="pageSize"
              max-size="maxSize"
              boundary-links="true" 
              first-text="&lsaquo;&lsaquo;"
              last-text="&rsaquo;&rsaquo;" 
              next-text="&rsaquo;" 
              previous-text="&lsaquo;"               
              ng-model="currentPage"
              ng-hide="!products.length || products.length <= pageSize">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div footer></div>