<div header></div>
<div class="container mt-180">
  <div class="panel panel-flat panel-primary">
    <div class="panel-heading text-center">
      <h4 class="mt-5 mb-5 text-bold">
        รายการโปรด
      </h4>
    </div>
    <div class="panel-body">
      <div class="loading" dw-loading="favorite">
        <div class="row category">
          <div class="col-xs-3" ng-repeat="product in products | limitTo : pageSize : (currentPage - 1) * pageSize">
            <div class="category__item" ui-sref="product({ btfCode: product.btf })">
              <span class="favorite-icon none-outline pointer" 
                    ng-click="$event.stopPropagation(); onRemoveFavorite(product)"
                    ng-class="{'active': product.isFavorite}">
                <i class="fa fa-star"></i>
              </span>
              <div class="category__item__image">
                <img ng-src="{{ config.partImgProduct + '/ProductDetail/' + product.btf + '.jpg' }}"
                    onerror="this.src='assets/images/no-image.jpg'">
              </div>
              <div class="category__item__name">
                {{ product.btfWebDescTh }}
              </div>
            </div>
          </div>
        </div>
        <div class="w100 text-center" ng-if="!products.length && products != undefined">
          <h4 class="text-red">
            ไม่มีข้อมูล
          </h4>
        </div>
        <div class="w100 text-center">
          <ul uib-pagination
            total-items="products.length" 
            items-per-page="pageSize"
            max-size="maxSize"
            boundary-links="true" 
            first-text="&lsaquo;&lsaquo;"
            last-text="&rsaquo;&rsaquo;" 
            next-text="&rsaquo;" 
            previous-text="&lsaquo;"               
            ng-model="currentPage"
            ng-hide="!products.length || products.length <= pageSize">
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div footer></div>