<div header></div>
<div class="container mt-180">
  <div class="panel panel-flat panel-primary">
    <div class="panel-heading text-center">
      <h4 class="mt-5 mb-5 text-bold">
        ติดต่อ TOA
      </h4>
    </div>
    <div class="panel-body">
      <fieldset disabled="disabled">
        <div class="row">
          <div class="col-xs-6 padding-left-0">
            <div class="panel-address">
              <h4>บริษัท ทีโอเอ เพ้นท์ (ประเทศไทย) จำกัด (มหาชน)</h4>
              <p>สำนักงาน และศูนย์อุตสาหกรรม ทีโอเอ บางนา-ตราด 31/2 หมู่ 3
                <br>ถนนบางนา-ตราด ตำบลบางเสาธง อ.บางเสาธง จ.สมุทรปราการ 10570</p>
              <div class="mt-25">
                <h4 class="text-bold">CALL CENTER</h4>
                <p>(สายตรงบริการลูกค้าสัมพันธ์) <a href="tel:02-335-5777">02-335-5777</a></p>
              </div>
              <div class="mt-25">
                <h4 class="text-bold">
                  AUTOTINT SERVICE CENTER
                </h4>
                <p>(ฝ่ายบริการเครื่องผสมสีอัตโนมัติ) <a href="tel:02-335-5666">02-335-5666</a></p>
              </div>
              <div class="mt-25">
                <h4 class="text-bold">
                  ฝ่ายบริการลูกค้า
                </h4>
                <p>ท่านสามารถติดตามสินค้า</p>
                <p>การสั่งซื้อ / การจัดส่ง ตามเขตพื้นที่</p>
                <p>ในเวลาทำการ จันทร์-เสาร์ เวลา 08:00 - 17:00 น.</p>
                <p>อีเมล : <a href="mailto:eorder-cs@toagroup.com">eorder-cs@toagroup.com</a></p>
              </div>
              <br>
              <table class="table table-hover table-">
                <thead class="thead-default">
                  <tr>
                    <th class="text-center">เขตพื้นที่</th>
                    <th class="text-center">ติดต่อ : โทร</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">กรุงเทพฯ และ ปริมณฑล</td>
                    <td class="text-center">
                      <a href="tel:02-335-5743">
                        02-335-5743
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5748">
                        02-335-5748
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5751">
                        02-335-5751
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5754">
                        02-335-5754
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5755">
                        02-335-5755
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5760">
                        02-335-5760
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5765">
                        02-335-5765
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5776">
                        02-335-5776
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">ต่างจังหวัด</td>
                    <td class="text-center">
                      <a href="tel:02-335-5742">
                        02-335-5742
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5744">
                        02-335-5744
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5750">
                        02-335-5750
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5753">
                        02-335-5753
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5756">
                        02-335-5756
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5759">
                        02-335-5759
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center"></td>
                    <td class="text-center">
                      <a href="tel:02-335-5764">
                        02-335-5764
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="contact">
              <h4>
                <strong>ผู้บริหารเขตขาย</strong>
              </h4>
              <div class="contact__content">
                <table>
                  <tr>
                    <td width="110">ชื่อ : </td>
                    <td>
                      <span>{{ customer.salesMgrName }}</span>
                      <span ng-show="customer.salesMgrName == null || customer.salesMgrName == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>เขตขาย : </td>
                    <td>
                      <span>{{ customer.salesGroupDesc }}</span>
                      <span ng-show="customer.salesGroupDesc == null || customer.salesGroupDesc == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>เบอร์โทรศัพท์ : </td>
                    <td>
                      <span>
                        <a href="tel:{{ customer.salesMgrTel }}">
                          {{ customer.salesMgrTel }}
                        </a>
                      </span>
                      <span ng-show="customer.salesMgrTel == null || customer.salesMgrTel == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>อีเมล : </td>
                    <td>
                      <span>
                        <a href="mailto:{{ customer.salesMgrMail }}">
                          {{ customer.salesMgrMail }}
                        </a>
                      </span>
                      <span ng-show="customer.salesMgrMail == null || customer.salesMgrMail == ''">-</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="contact mt-30">
              <h4>
                <strong>ผู้แทนขาย</strong>
              </h4>
              <div class="contact__content" ng-hide="customer.salesTAName == '' || customer.salesTAName == null">
                <table>
                  <tr>
                    <td width="110">ชื่อ : </td>
                    <td>
                      <span>{{ customer.salesTAName }}</span>
                      <span ng-show="customer.salesTAName == null || customer.salesTAName == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>เขตขาย : </td>
                    <td>
                      <span>{{ customer.custTA }}&nbsp;{{ customer.custTADesc }}</span>
                      <span ng-show="customer.custTADesc == null || customer.custTADesc == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>เบอร์โทรศัพท์ : </td>
                    <td>
                      <span>
                        <a href="tel:{{ customer.salesTATel }}">
                          {{ customer.salesTATel }}
                        </a>
                      </span>
                      <span ng-show="customer.salesTATel == null || customer.salesTATel == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>อีเมล : </td>
                    <td>
                      <span>
                        <a href="mailto:{{ customer.salesTAMail }}">
                          {{ customer.salesTAMail }}
                        </a>
                      </span>
                      <span ng-show="customer.salesTAMail == null || customer.salesTAMail == ''">-</span>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="contact__content mt-10" ng-hide="customer.salesTBName == '' || customer.salesTBName == null">
                <table>
                  <tr>
                    <td width="110">ชื่อ : </td>
                    <td>
                      <span>{{ customer.salesTBName }}</span>
                      <span ng-show="customer.salesTBName == null || customer.salesTBName == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>เขตขาย : </td>
                    <td>
                      <span>{{ customer.custTB }}&nbsp;{{ customer.custTBDesc }}</span>
                      <span ng-show="customer.custTBDesc == null || customer.custTBDesc == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>เบอร์โทรศัพท์ : </td>
                    <td>
                      <span>
                        <a href="tel:{{ customer.salesTBTel }}">
                          {{ customer.salesTBTel }}
                        </a>
                      </span>
                      <span ng-show="customer.salesTBTel == null || customer.salesTBTel == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>อีเมล : </td>
                    <td>
                      <span>
                        <a href="mailto:{{ customer.salesTBMail }}">
                          {{ customer.salesTBMail }}
                        </a>
                      </span>
                      <span ng-show="customer.salesTBMail == null || customer.salesTBMail == ''">-</span>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="contact__content mt-10" ng-hide="customer.salesTKName == '' || customer.salesTKName == null">
                <table>
                  <tr>
                    <td width="110">ชื่อ : </td>
                    <td>
                      <span>{{ customer.salesTKName }}</span>
                      <span ng-show="customer.salesTKName == null || customer.salesTKName == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>เขตขาย : </td>
                    <td>
                      <span>{{ customer.custTK }}&nbsp;{{ customer.custTKDesc }}</span>
                      <span ng-show="customer.custTKDesc == null || customer.custTKDesc == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>เบอร์โทรศัพท์ : </td>
                    <td>
                      <span>
                        <a href="tel:{{ customer.salesTKTel }}">
                          {{ customer.salesTKTel }}
                        </a>
                      </span>
                      <span ng-show="customer.salesTKTel == null || customer.salesTKTel == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>อีเมล : </td>
                    <td>
                      <span>
                        <a href="mailto:{{ customer.salesTKMail }}">
                          {{ customer.salesTKMail }}
                        </a>
                      </span>
                      <span ng-show="customer.salesTKMail == null || customer.salesTKMail == ''">-</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="contact mt-30">
              <h4>
                <strong>บัญชีสินเชื่อและลูกหนี้</strong>
              </h4>
              <div class="contact__content">
                <table>
                  <tr>
                    <td width="110">ชื่อ : </td>
                    <td>
                      <span>{{ customer.arOff }}</span>
                      <span ng-show="customer.arOff == null || customer.arOff == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>เบอร์โทรศัพท์ : </td>
                    <td>
                      <span>{{ customer.accMemo }}</span>
                      <span ng-show="customer.accMemo == null || customer.accMemo == ''">-</span>
                    </td>
                  </tr>
                  <tr>
                    <td>อีเมล : </td>
                    <td>
                      <span>
                        <a href="mailto:eorder-ar@toagroup.com">
                          eorder-ar@toagroup.com
                        </a>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- .col-md-6-->
  </div>
</div>
</div>
<div footer></div>