<div class="modal-header text-center">
  <button type="button" class="close none-outline" ng-click="close()" style="font-size: 34px;">
    <span>&times;</span>
  </button>
  <h3 class="modal-title text-center text-bold">
    แจ้งเตือน
  </h3>
</div>
<div class="modal-body">
  ระบบรองรับเฉพาะเว็บเบราว์เซอร์ <strong>Microsoft Edge, Firefox, Google Chrome</strong> เท่านั้น <br> กรุณาติดตั้งโปรแกรมดังกล่าว
  <table class="table mt-15">
    <thead>
      <tr>
        <th>เว็บเบราว์เซอร์</th>
        <th width="150px"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Firefox</td>
        <td class="text-center">
          <a href="/assets/files/Firefox_Setup_57.0.2_{{ (cpuClass == 'x32') ? 'x32' : 'x64' }}.exe" target="_blank">
            ดาวน์โหลด
          </a>
        </td>
      </tr>
      <tr>
        <td>Google Chrome</td>
        <td class="text-center">
          <a href="/assets/files/ChromeSetup.exe" target="_blank">
            ดาวน์โหลด
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>