<div class="modal-header text-center modal-header-pink">
  <div class="col-md-6 text-left">
    <img src="assets/images/logo-toa.png" width="250px">
  </div>
  <div class="col-md-6 text-right">
    <h3 class="text-bold">
      รายละเอียดใบกำกับภาษี
    </h3>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <div class="loading" dw-loading="orderInfo">
        <div class="order__modal__block" style="height: 250px">
          <table>
            <tbody>
              <tr>
                <td width="110" class="text-bold text-blue">
                  ร้านค้า
                </td>
                <td class="text-bold text-blue" style="font-size:14px;">
                  {{ order.customerCode }} : {{ order.customerName }}
                </td>
              </tr>
              <tr ng-hide="order.cityCode =='' || order.cityCode == null">
                <td class="text-bold text-blue">
                  ที่อยู่
                </td>
                <td>
                  {{ order.address }} {{ order.street }} {{ order.subDistrictName }}
                  <br> {{ order.districtName }} {{ order.cityName }}
                </td>
              </tr>
              <tr ng-if="order.cityCode == '' || order.cityCode == null">
                <td class="text-bold text-blue">
                  ที่อยู่
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerEmail == '' || order.customerEmail == null">
                <td class="text-bold text-blue">
                  อีเมล
                </td>
                <td>{{ order.customerEmail }}</td>
              </tr>
              <tr ng-if="order.customerEmail == '' || order.customerEmail == null">
                <td class="text-bold text-blue">
                  อีเมล
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerTelNo == '' || order.customerTelNo == null">
                <td class="text-bold text-blue">
                  โทรศัพท์
                </td>
                <td>{{ order.customerTelNo }}</td>
              </tr>
              <tr ng-if="order.customerTelNo == '' || order.customerTelNo == null">
                <td class="text-bold text-blue">
                  โทรศัพท์
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  สถานที่ส่ง
                </td>
                <td>{{ order.shipCode.substring(2, 10) }} : {{ order.shipName }}</td>
              </tr>
              <tr ng-hide="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  ที่อยู่สถานที่ส่ง
                </td>
                <td>
                  {{ order.shipHouseNo }} {{ order.shipAddress }} {{ order.shipDistrictName }}
                  <br> {{ order.shipCityName }} {{ order.shipPostCode }}
                </td>
              </tr>
              <tr ng-if="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  สถานที่ส่ง
                </td>
                <td>-</td>
              </tr>
              <tr ng-if="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  ที่อยู่สถานที่ส่ง
                </td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="loading" dw-loading="orderInfo">
        <div class="order__modal__block" style="height: 250px">
          <table>
            <tbody>
              <tr ng-hide="order.documentNumber == ''|| order.documentNumber == null">
                <td width="110" class="text-bold text-blue">
                  เลขที่ใบสั่งซื้อ
                </td>
                <td>
                  {{ order.documentNumber }}
                  <span class="text-bold text-blue"> / วันที่</span> {{ order.documentDate | date: 'dd/MM/yyyy' }}
                </td>
              </tr>
              <tr ng-if="order.customerPO == '' || order.customerPO == null">
                <td class="text-bold text-blue">
                  PO number
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerPO == '' || order.customerPO == null">
                <td class="text-bold text-blue">
                  PO number
                </td>
                <td>{{ order.customerPO }}</td>
              </tr>
              <tr ng-hide="order.salesDocument == '' || order.salesDocument == null">
                <td class="text-bold text-blue">เลขที่เอกสาร</td>
                <td>{{ order.salesDocument }}
                  <span class="text-bold text-blue"> / วันที่</span> {{ order.requestDate | date:'dd/MM/yyyy' }}
                </td>
              </tr>
              <tr ng-if="order.salesDocument == '' || order.salesDocument == null">
                <td class="text-bold text-blue">เลขที่เอกสาร</td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.requestDate == '' || order.requestDate == null">
                <td class="text-bold text-blue">
                  Request Date
                </td>
                <td>{{ order.requestDate | date: 'dd/MM/yyyy' }}</td>
              </tr>
              <tr ng-if="order.requestDate == '' || order.requestDate == null">
                <td class="text-bold text-blue">
                  Request Date
                </td>
                <td>-</td>
              </tr>
              <tr>
                <td class="text-bold text-blue">
                  การชำระเงิน
                </td>
                <td>
                  {{ (order.paymentTerm == 'CASH' || order.paymentTerm == 'CA02') ? 'เงินสด' : 'เครดิต' }}
                </td>
              </tr>
              <tr ng-if="order.shipCondition != '01'">
                <td class="text-bold text-blue">
                  จัดส่งโดย
                </td>
                <td>{{ order.transportZone }} : {{ order.transportZoneDesc }}</td>
              </tr>
              <tr ng-if="order.shipCondition == '01'">
                <td class="text-bold text-blue">
                  จัดส่งโดย
                </td>
                <td>ลูกค้ารับสินค้าเอง</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="w100 mt-20">
    <div class="loading" dw-loading="orderHistory">
      <table class="table table-purple order__modal__table">
        <thead>
          <tr>
            <th width="30%" class="text-center" colspan="2">
              ใบสั่งซื้อ (P/O)
            </th>
            <th width="50%" class="text-center" rowspan="2">
              เอกสารอ้างอิง / TAX No.
            </th>
            <th width="20%" class="text-center" rowspan="2">
              กำหนดชำระ
              <br/> DUE DATE
            </th>
          </tr>
          <tr>
            <th width="15%" class="text-center" rowspan="1">
              เลขที่
            </th>
            <th width="15%" class="text-center" rowspan="1">
              วันที่
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <!-- {{ order.purchNoC }} -->
            </td>
            <td class="text-center">
              <!-- {{ detail[0].custRecDate | date: 'dd/MM/yyyy' }} -->
            </td>
            <td class="text-center">
              {{ order.billno }} / {{ order.taxNum }}
            </td>
            <td class="text-center">
              {{ (order.pmnttrms == 'CASH') ? 'เงินสด' : 'เครดิต' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="w100 mt-10">
    <div class="loading" dw-loading="orderHistory">
      <table class="table table-purple mb-0 order__modal__table">
        <thead>
          <tr>
            <th class="text-center" width="41%">
              รายการสินค้า
            </th>
            <th class="text-center" width="7%">
              จำนวน
            </th>
            <th class="text-center" width="12%">
              ราคาสุทธิ/หน่วย
            </th>
            <th class="text-center" width="10%">
              ส่วนลด %
            </th>
            <th class="text-center" width="7%">
              ราคาต่อหน่วย
            </th>
            <th class="text-center" width="13%">
              จำนวนเงิน
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in detail | filter: { billVbeln: order.billno }">
            <td ng-class="{'text-bold': item.material[0] == 'S'}">
              {{ item.material }} <br> {{ item.materialDes }}
              <span class="ml-5 text-red" ng-if="item.freeGoods == 'X' && item.material[0] != 'S'">
                (ของแถม)
              </span>
            </td>
            <td class="text-center">
              <div ng-if="item.amount != 0">
                {{ item.targetQty | number }}
              </div>
            </td>
            <td class="text-right">
              <div ng-if="item.amount != 0">
                {{ item.pricePerUnit | number }}
              </div>
            </td>
            <td>
              <div ng-if="item.amount != 0" ng-bind-html="item.discount">
              </div>
            </td>
            <td class="text-center">
              <div ng-if="item.amount != 0">
                {{ item.netwrPerUnit | number}}
              </div>
            </td>
            <td class="text-right">
              <div ng-if="item.amount != 0">
                {{ item.amount | number }} บ.
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="6" class="text-right">
              <b>{{ sumAmount | number: 2 }} บ.</b>
            </td>
          </tr>
          <tr ng-repeat="discount in discounts">
            <td class="text-center" colspan="1" ng-style="discount.type === 'หัก' &&  {'color': 'red'} ">
              {{ discount.type }}
            </td>
            <td colspan="4">
              {{ discount.descp }}
            </td>
            <td class="text-right" colspan="1">
              {{ discount.kwert | number: 2 }} บ.
            </td>
          </tr>
        </tbody>
        <tfoot>
          
          <th colspan="5" class="text-right text-blue">
            <b>รวมมูลค่าสินค้า : </b>
          </th>
          <th colspan="2" class="text-right text-blue">
            <b>{{ total.headNetwr2 | number: 2 }} บ.</b>
          </th>
          </tr>
          <tr class="footer-table">
            <th colspan="5" class="text-right text-blue">
              <b>ภาษีมูลค่าเพิ่มอัตรา 7% : </b>
            </th>
            <th colspan="2" class="text-right text-blue">
              <b>{{ total.headVat | number: 2 }} บ.</b>
            </th>
          </tr>
          <tr class="footer-table">
            <th colspan="5" class="text-right text-blue">
              <b>ยอดรวม : </b>
            </th>
            <th colspan="2" class="text-right text-blue">
              <b>{{ total.headNetwr2 + total.headVat | number: 2 }} บ.</b>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-flat btn-default w100px" ng-click="close()">
    ปิด
  </button>
</div>