<div class="modal-header text-center modal-header-orange">
  <div class="col-md-6 text-left">
    <img src="assets/images/logo-toa.png" width="250px">
  </div>
  <div class="col-md-6 text-right">
    <h3 class="text-bold">
      Order / Billing Tracking
    </h3>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <div class="loading" dw-loading="orderInfo">
        <div class="order__modal__block" style="height: 250px">
          <table>
            <tbody>
              <tr>
                <td width="110" class="text-bold text-blue">
                  ร้านค้า
                </td>
                <td class="text-bold text-blue" style="font-size:14px;">
                  {{ order.customerCode }} : {{ order.customerName }}
                </td>
              </tr>
              <tr ng-hide="order.cityCode == '' || order.cityCode == null">
                <td class="text-bold text-blue">
                  ที่อยู่
                </td>
                <td>
                  {{ order.address }} {{ order.street }} {{ order.subDistrictName }}
                  <br> {{ order.districtName }} {{ order.cityName }}
                </td>
              </tr>
              <tr ng-if="order.cityCode == '' || order.cityCode == null">
                <td class="text-bold text-blue">
                  ที่อยู่
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerEmail == '' || order.customerEmail == null">
                <td class="text-bold text-blue">
                  อีเมล
                </td>
                <td>{{ order.customerEmail }}</td>
              </tr>
              <tr ng-if="order.customerEmail == '' || order.customerEmail == null">
                <td class="text-bold text-blue">
                  อีเมล
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerTelNo == '' || order.customerTelNo == null">
                <td class="text-bold text-blue">
                  โทรศัพท์
                </td>
                <td>{{ order.customerTelNo }}</td>
              </tr>
              <tr ng-if="order.customerTelNo == '' || order.customerTelNo == null">
                <td class="text-bold text-blue">
                  โทรศัพท์
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  สถานที่ส่ง
                </td>
                <td>{{ order.shipCode.substring(2, 10) }} : {{ order.shipName }}</td>
              </tr>
              <tr ng-hide="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  ที่อยู่สถานที่ส่ง
                </td>
                <td>
                  {{ order.shipHouseNo }} {{ order.shipAddress }} {{ order.shipDistrictName }}
                  <br> {{ order.shipCityName }} {{ order.shipPostCode }}
                </td>
              </tr>
              <tr ng-if="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  สถานที่ส่ง
                </td>
                <td>-</td>
              </tr>
              <tr ng-if="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  ที่อยู่สถานที่ส่ง
                </td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="loading" dw-loading="orderInfo">
        <div class="order__modal__block" style="height: 250px">
          <table>
            <tbody>
              <tr ng-hide="order.documentNumber == ''|| order.documentNumber == null">
                <td width="110" class="text-bold text-blue">
                  เลขที่ใบสั่งซื้อ
                </td>
                <td>
                  {{ order.documentNumber }}
                  <span class="text-bold text-blue"> / วันที่</span> {{ order.documentDate | date: 'dd/MM/yyyy' }}
                </td>
              </tr>
              <tr ng-if="order.customerPO == '' || order.customerPO == null">
                <td class="text-bold text-blue">
                  PO number
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerPO == '' || order.customerPO == null">
                <td class="text-bold text-blue">
                  PO number
                </td>
                <td>{{ order.customerPO }}</td>
              </tr>
              <tr ng-hide="order.salesDocument == '' || order.salesDocument == null">
                <td class="text-bold text-blue">เลขที่เอกสาร</td>
                <td>{{ order.salesDocument }}
                  <span class="text-bold text-blue"> / วันที่</span> {{ order.requestDate | date:'dd/MM/yyyy' }}
                </td>
              </tr>
              <tr ng-if="order.salesDocument == '' || order.salesDocument == null">
                <td class="text-bold text-blue">เลขที่เอกสาร</td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.requestDate == '' || order.requestDate == null">
                <td class="text-bold text-blue">
                  Request Date
                </td>
                <td>{{ order.requestDate | date: 'dd/MM/yyyy' }}</td>
              </tr>
              <tr ng-if="order.requestDate == '' || order.requestDate == null">
                <td class="text-bold text-blue">
                  Request Date
                </td>
                <td>-</td>
              </tr>
              <tr>
                <td class="text-bold text-blue">
                  การชำระเงิน
                </td>
                <td>
                  {{ (order.paymentTerm == 'CASH' || order.paymentTerm == 'CA02') ? 'เงินสด' : 'เครดิต' }}
                </td>
              </tr>
              <tr ng-if="order.shipCondition != '01'">
                <td class="text-bold text-blue">
                  จัดส่งโดย
                </td>
                <td>{{ order.transportZone }} : {{ order.transportZoneDesc }}</td>
              </tr>
              <tr ng-if="order.shipCondition == '01'">
                <td class="text-bold text-blue">
                  จัดส่งโดย
                </td>
                <td>ลูกค้ารับสินค้าเอง</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-20 mb-5">
    <strong>ยังไม่ออกบิล</strong>
  </div>
  <div class="w100 mt-5">
    <div class="loading" dw-loading="orderPrecessInfo">
      <table class="table mb-0 table-red order__modal__table">
        <thead>
          <tr>
            <th>ผลิตภัณฑ์</th>
            <th class="text-center" width="10%">
              จำนวนสั่งซื้อ
            </th>
            <th class="text-center" width="10%">
              จำนวนคงค้าง
            </th>
            <th class="text-center" width="10%">
              จำนวนยกเลิก
            </th>
            <th class="text-center" width="10%">
              จำนวนเงิน
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="bill in noBill">
            <td>
              <div ng-class="{'text-bold': bill.material[0] == 'S'}">
                {{ bill.material }} <br> {{ bill.materialDes }}
                <span class="ml-5 text-red" ng-if="bill.freeGoods == 'X' && bill.material[0] != 'S'">
                  (ของแถม)
                </span>
              </div>
            </td>
            <td class="text-center">
              <div ng-if="bill.material[0] != 'S'">
                {{ bill.targetQty | number }}
              </div>
            </td>
            <td class="text-center">
              <div ng-if="bill.material[0] != 'S'">
                {{ bill.balaQty | number }}
              </div>
            </td>
            <td class="text-center">
              <div ng-if="bill.material[0] != 'S'">
                {{ bill.rejeQty | number }}
              </div>
            </td>
            <td class="text-right">
              <div ng-if="bill.material[0] != 'S'">
                {{ bill.netwr2 | currency: '' }}
              </div>
            </td>
          </tr>
          <tr ng-show="!noBill.length">
            <td colspan="5" class="text-center text-bold text-red">
              ไม่มีข้อมูล
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-20 mb-5">
    <strong>ออกบิล</strong>
  </div>
  <div class="w100 mt-5">
    <div class="loading" dw-loading="orderPrecessInfo">
      <table class="table mb-0 table-blue order__modal__table">
        <thead>
          <tr>
            <th class="text-center" width="10%">
              เลขที่บิล</th>
            <th class="text-center" width="11%">
              ใบนำส่ง / <br> วัน-เวลา รถออกจากบริษัท
            </th>
            <th class="text-center" width="11%">
              FWD Agent /
              <br> ทะเบียนรถ
            </th>
            <th class="text-center" width="10%">
              ชื่อคนขับรถ / <br> เบอร์ติดต่อ
            </th>
            <th class="text-center" width="11%">
              วัน - เวลารับบิล
            </th>
            <th class="text-center" width="20%">
              ผลิตภัณฑ์
            </th>
            <th class="text-center" width="7%">
              จำนวนสั่งซื้อ
            </th>
            <th class="text-center" width="7%">
              จำนวนออกบิล
            </th>
            <th class="text-center" width="10%">
              จำนวนเงิน
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="bill in haveBill">
            <td class="text-center">
              {{ bill.billNo }} {{ bill.billDate | date: 'dd/MM/yyyy' }}
            </td>
            <td class="text-center">
              <div ng-if="bill.startDat != '0000-00-00' && bill.startTime != '00:00:00'">
                {{ bill.shipmentDoc }} <br>
                {{ bill.startDat | date: 'dd/MM/yyyy' }} <br>
                {{ bill.startTime }}
              </div>
            </td>
            <td>
              {{ bill.foragt }} <br>
              {{ bill.license }}
            </td>
            <td>
              {{ bill.driveName }} <br> 
              {{ bill.telDrive }}
            </td>
            <td>
              <div ng-if="bill.custRecDate != '0000-00-00' && bill.custRecTime != '00:00:00'">
                {{ bill.custRecDate | date:'dd/MM/yyyy' }} <br>
                {{ bill.custRecTime }}
              </div>
            </td>
            <td>
              <div ng-class="{'text-bold': bill.material[0] == 'S'}">
                {{ bill.material }} <br> {{ bill.freeGoods }} {{ bill.materialDes }}
                <span class="ml-5 text-red" ng-if="bill.freeGoods == 'X' && bill.material[0] != 'S'">
                  (ของแถม)
                </span>
              </div>
            </td>
            <td class="text-center">
              <div ng-if="bill.material[0] != 'S'">
                {{bill.targetQty }}
              </div>
            </td>
            <td class="text-center">
              <div ng-if="bill.material[0] != 'S'">
                {{ bill.billQty }}
              </div>
            </td>
            <td class="text-right">
              <div ng-if="bill.material[0] != 'S'">
                {{ bill.netwr2 | currency: '' }} บ.
              </div>
            </td>
          </tr>
          <tr ng-show="!haveBill.length">
            <td colspan="9" class="text-center text-bold text-red">
              ไม่มีข้อมูล
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-flat btn-teal w100px mr-5" ng-click="toPrint()">
    พิมพ์
  </button>
  <button class="btn btn-flat btn-default w100px" ng-click="close()">
    ปิด
  </button>
</div>