<div header></div>
<div class="container mt-180">
  <div class="panel panel-flat panel-primary">
    <div class="panel-heading text-center">
      <h4 class="mt-5 mb-5 text-bold">
        ข่าวสารกิจกรรม
      </h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <div class="news__block pointer none-outline" ng-click="toTOA()">
            <div class="news__block__image">
              <img src="/assets/images/icon-news-toa.jpg">
            </div>
            <div class="news__block__detail text-center">
              <h3 class="text-bold">
                ข่าวสารและกิจกรรม <br>
              </h3>
              <h4>(www.toagroup.com)</h4>  
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="news__block pointer none-outline" ui-sref="newsList">
            <div class="news__block__image">
              <img src="/assets/images/icon-news-eor.jpg">
            </div>
            <div class="news__block__detail text-center">
              <h3 class="text-bold">
                ข่าวสารและกิจกรรม <br>
              </h3>
              <h4>(e-Ordering)</h4>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div footer></div>