<div class="modal-header">
  <button type="button" class="close none-outline" ng-click="close()" style="font-size: 36px;">
    <span>&times;</span>
  </button>
  <h3 class="modal-title text-center text-bold">
    โปรโมชั่น
  </h3>
</div>
<div class="modal-body promotion-detail">
  <div class="loading" dw-loading="promotion">
    <div class="promotion__modal__block" ng-repeat="promotion in promotions">
      <div ng-bind-html="promotion.promotionDesc | toTrusted" class="promotion__modal__block__detail">
      </div>
      <div class="promotion__modal__block__image">
        <img ng-src="{{ config.partImgProduct + '/ProductDetail/' + btfInfo.btfWeb + '.jpg' }}" width="180px">
      </div>
    </div>
    <p class="text-red">
      หมายเหตุ : บริษัท ฯ​ ขอสงวนสิทธิในการเปลี่ยนแปลงรายการ โดยมิต้องแจ้งให้ทราบล่วงหน้าตลอดจนความผิดพลาดที่เกิดจากการพิมพ์
    </p>
  </div>
</div>