<div class="container mt-10 mb-20">
  <img src="/assets/images/logomain.jpg" class="logo">
  <div class="pull-right">
    <ul class="list-unstyled" style="margin-top: 40px;">
      <li class="dropdown dropdown-flat">
        <a class="pointer" data-toggle="dropdown" style="font-size: 16px;">
          ยินดีต้อนรับ {{ userInfo.userName }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li ng-if="permission('01905')">
            <a ui-sref="changePassword">
              <i class="fa fa-lock pr-5"></i>  
              {{ permission('01905').menuName }}
            </a>
          </li>
          <li>
            <a ui-sref="logout">
              <i class="fa fa-sign-out pr-5"></i> 
              ออกจากระบบ
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="content content--primary">
  <div class="container">
    <div class="content__form">
      <div class="content__form__title text-center text-bold mb-20" style="color:#000000; background: none;">
        ร้านค้าบนระบบ
      </div>
      <div class="w100 mt-20 mb-20">
        <input type="text" class="form-control input-lg input-flat" placeholder="ค้นหาร้านค้า" ng-model="search">
      </div>
      <div class="loading" dw-loading="store">
        <div class="row">
          <div class="col-xs-3" ng-repeat="customer in customered = (customers | filter: search) | limitTo : pageSize : (currentPage - 1) * pageSize">
            <div class="store__item" ng-click="selectStore(customer.customerId)">
              <img src="/assets/images/store-bg.png">
              <div class="store__item__text">
                <div class="w100 text-bold">
                  {{ customer.customerCode }}
                </div>
                {{ customer.customerName }}
              </div>
            </div>
          </div>
        </div>
        <div class="w100 text-center text-red mt-30" ng-show="!customered.length && customers != undefined">
          <h4>ไม่พบข้อมูล</h4>
        </div>
      </div>
      <div class="w100 text-center">
        <ul uib-pagination 
            class="mb-0" 
            total-items="customered.length" 
            items-per-page="pageSize" 
            max-size="maxSize" 
            boundary-links="true"
            first-text="&lsaquo;&lsaquo;"
            last-text="&rsaquo;&rsaquo;" 
            next-text="&rsaquo;" 
            previous-text="&lsaquo;"
            ng-model="currentPage" 
            ng-hide="!customered.length">
        </ul>
      </div>
    </div>
  </div>
</div>
<div footer></div>
