<div header></div>
<div class="container mt-180">
  <div class="panel panel-flat panel-primary">
    <div class="panel-heading text-center">
      <h4 class="mt-5 mb-5 text-bold">
        Commission by Gallon (Quarter) Report
      </h4>
    </div>
    <div class="panel-body">
      <div class="loading" dw-loading="report">
        <form name="form" ng-submit="onShowReport(form.$valid)" novalidate>
          <div class="row">
            <div class="col-xs-3 col-xs-offset-3">
              <div class="form-group">
                <label>File</label>
                <select name="files" 
                        class="form-control" 
                        ng-model="input.fileName" 
                        ng-options="file as file for file in files" 
                        ng-change="onSelectFile()"
                        ng-required="true">
                  <option value="" disabled>
                    เลือกไฟล์
                  </option>
                </select>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group">
                <label>Sales Group</label>
                <select name="salesGroup" 
                        class="form-control select2" 
                        ng-model="input.salesGroup" 
                        ng-disabled="!reports.length || userInfo.deptId == 2">
                  <option value="">ALL</option>
                  <option value="{{ report.sales_group }}" ng-repeat="report in reports | uniqueFilter: 'sales_group' | orderBy: 'sales_group'">
                    {{ report.sales_group }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="w100 mt-10 text-center">
            <button type="submit" class="btn btn-flat btn-teal w150px mr-5" ng-disabled="form.$invalid">
              Preview
            </button>
            <button type="button" class="btn btn-flat btn-default w150px" ui-sref="home">
              กลับสู่หน้าหลัก
            </button>
          </div>
        </form>
      </div>
      <div class="loading mt-20">
        <div class="w100" ng-repeat="report in reportList | limitTo : pageSize : (currentPage - 1) * pageSize | orderBy: ['area_no', 'sales_group']">
          <div class="report__info report__info--orange">
            <div class="form-horizontal">
              <div class="form-group">
                 <label class="control-label col-xs-3 text-left" style="text-align: left;">
                  Commission type
                </label>
                <div class="form-control-static">
                  {{ report.commission_type }}
                </div>
              </div>
              <div class="form-group">
                 <label class="control-label col-xs-3 text-left" style="text-align: left;">
                  Period
                </label>
                <div class="form-control-static">
                  {{ report.period }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3 text-left" style="text-align: left;">
                  Customer Area
                </label>
                <div class="form-control-static">
                  {{ report.area_no }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3 text-left" style="text-align: left;">
                  Manager
                </label>
                <div class="form-control-static">
                 {{ report.employee_code + ' ' + report.employee_name }}
               </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3 text-left" style="text-align: left;">
                  Sales Group
                </label>
                <div class="form-control-static">
                 {{ report.sales_group }}
               </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3 text-left" style="text-align: left;">
                  Supervisor
                </label>
                <div class="form-control-static">
                 {{ report.supervisor_code + ' ' + report.supervisor_name }}
               </div>
              </div>
            </div>
          </div>
          <table class="table table-yellow report__table">
            <thead>
              <tr>
                <th class="text-center" width="35%">
                  Product
                </th>
                <th class="text-center" width="15%">
                  Net (Amount/Quantity)
                </th>
                <th class="text-center" width="15%">
                  Target (Amount/Quantity)
                </th>
                <th class="text-center" width="7%">
                  %
                </th>
                <th class="text-center" width="8%">
                  เงินรางวัล
                </th>
                <th class="text-center" width="10%">
                  Actual Shop
                </th>
                <th class="text-center" width="10%">
                  Target Shop
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in report.orders">
                <td>
                  {{ order.product }}
                </td>
                <td class="text-right">
                  {{ order.net_amount | number: 2 }}
                </td>
                <td class="text-right">
                  {{ order.target_amount | number: 2 }}
                </td>
                <td class="text-right">
                  {{ order.percent | number: 2 }}
                </td>
                <td class="text-right">
                  {{ order.reward | number: 2 }}
                </td>
                <td class="text-right">
                  {{ order.actual_shop | number: 2 }}
                </td>
                <td class="text-right">
                  {{ order.target_shop | number: 2 }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th class="text-right">
                  {{ report.total.net_amount | number: 2 }}
                </th>
                <th class="text-right">
                  {{ report.total.target_amount | number: 2 }}
                </th>
                <th class="text-right">
                  <!-- {{ report.total.percent | number: 2 }} -->
                </th>
                <th class="text-right">
                  {{ report.total.reward | number: 2 }}
                </th>
                <th class="text-right">
                  {{ report.total.actual_shop | number: 2 }}
                </th>
                <th class="text-right">
                  {{ report.total.target_shop | number: 2 }}
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="w100 mt-10 text-center">
          <ul uib-pagination 
              total-items="reportList.length" 
              items-per-page="pageSize" 
              max-size="maxSize" 
              boundary-links="true" 
              first-text="&lsaquo;&lsaquo;"
              last-text="&rsaquo;&rsaquo;" 
              next-text="&rsaquo;" 
              previous-text="&lsaquo;" 
              ng-model="currentPage" 
              ng-hide="!reportList.length || reportList.length <= pageSize">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div footer></div>