<div class="modal-header text-center">
  <button type="button" class="close none-outline" ng-click="close()" style="font-size: 34px;">
    <span>&times;</span>
  </button>
  <h3 class="modal-title text-center text-bold">
    แจ้งเตือน
  </h3>
</div>
<div class="modal-body">
  <div class="w100">
    <h4 class="text-bold">
      เรียน ผู้ใช้งานระบบ TOA eOrdering
    </h4>
    <p>
      ทำการปรับปรุงการสั่งซื้อสินค้าระบบ TOA e-Ordering ใหม่ โดยพัฒนาประสิทธิภาพ ให้ดียิ่งขึ้นเพื่อทำการเข้าสู่ระบบใหม่ 
      <strong style="color: green;">New TOA e-Ordering</strong>
    </p>
    <p>
      บริษัท ฯ ขอความกรุณาท่าน เปลี่ยนแปลงรหัสผ่าน เพื่อยืนยันการใช้งานระบบ <strong style="color: green;">ใหม่</strong> 
      หลังจากที่ท่าน <strong><u>เปลี่ยนรหัสผ่าน</u></strong> เรียบร้อยแล้ว ท่านจะสามารถใช้รหัสผ่านใหม่ ที่กำหมดไว้ได้ทันที
    </p>
  </div>
  <form name="form" class="form-horizontal pt-10 pb-10" autocomplete="off" ng-submit="onChangePassword(form.$valid)" novalidate>
    <div class="row">
      <div class="col-xs-7">
        <div class="form-group">
          <label class="control-label col-xs-4 required" style="text-align: left;">
            ชื่อผู้ใช้งาน
          </label>
          <div class="col-xs-8">
            <input type="text" name="username" class="form-control" ng-model="input.username" ng-required="true">
            <div ng-messages="form.username.$dirty && form.username.$error">
              <span class="validation error" ng-message="required">
                กรุณากรอกชื่อผู้ใช้งาน
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-4 required" style="text-align: left;">
            รหัสผ่านใหม่
          </label>
          <div class="col-xs-8">
            <input type="password" name="password" class="form-control" ng-model="input.password" password-toggle ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])/" ng-required="true">
            <div ng-messages="form.password.$dirty && form.password.$error">
              <span class="validation error" ng-message="required">
                กรุณากรอกรหัสผ่านใหม่
              </span>
              <span class="validation error" ng-message="minlength">
                รหัสผ่านต้องไม่มีความยาวไม่น้อยกว่า 8 ตัวอักษร
              </span>
              <span class="validation error" ng-message="pattern">
                รูปแบบรหัสผ่านไม่ถูกต้อง
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-4 required" style="text-align: left;">
            ยืนยันรหัสผ่านใหม่
          </label>
          <div class="col-xs-8">
            <input type="password" name="passconf" class="form-control" ng-model="input.passconf" password-toggle match="input.password" ng-required="true">
            <div ng-messages="form.passconf.$dirty && form.passconf.$error">
              <span class="validation error" ng-message="required">
                กรุณากรอกยืนยันรหัสผ่านใหม่
              </span>
              <span class="validation error" ng-message="match">
                รหัสผ่านทั้งสองช่องไม่เหมือนกัน
              </span>
              <span class="validation error" ng-message="match">
                รหัสผ่านทั้งสองช่องไม่เหมือนกัน
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-5">
        <strong>เงื่อนไขการตั้งรหัสผ่าน</strong>
        <ol style="padding-left: 13px;">
          <li class="pb-5 pt-10">
            ต้องมีความยาว
            <span style="color: green;">
              ไม่ต่ำกว่า 8 ตัวอักษร
            </span>
          </li>
          <li class="pb-5">
            ต้องมีตัวอักษร
            <span style="color: green;">
              ตัวพิมพ์ใหญ่
            </span>
            อย่างน้อย 1 ตัว
          </li>
          <li class="pb-5">
            ต้องมีตัวอักษร
            <span style="color: green;">
              ตัวพิมพ์เล็ก
            </span>
            อย่างน้อย 1 ตัว
          </li>
          <li class="pb-5">
            ต้องมี
            <span style="color: green;">
              ตัวเลข
            </span>
            อย่างน้อย 1 ตัว
          </li>
        </ol>
      </div>
    </div>
    <div class="w100 mt-15 text-center">
      <button type="submit" class="btn btn-flat btn-teal" ng-disabled="form.$invalid || btnLoading">
        <span ng-if="!btnLoading">
          บันทึกเปลี่ยนแปลง
        </span>
        <span ng-if="btnLoading">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </span>
      </button>
    </div>
  </form>
</div>