<div class="container mt-10 mb-10">
  <img src="/assets/images/logomain.jpg" class="logo">
</div>
<div class="content content--primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <div uib-carousel active="active" interval="5000" no-wrap="false">
          <div uib-slide index="0">
            <img ng-src="{{ config.partImgLogin + '/' + config.imageLogin1 }}" class="img-responsive">                  
          </div>
          <div uib-slide index="1">
            <img ng-src="{{ config.partImgLogin + '/' + config.imageLogin2 }}" class="img-responsive">                  
          </div>
          <div uib-slide index="2">
            <img ng-src="{{ config.partImgLogin + '/' + config.imageLogin3 }}" class="img-responsive">                 
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="content__form login">
          <form name="form" autocomplete="off" ng-submit="onLogin(form.$valid)" novalidate>
            <div class="form-group">
              <label>ชื่อผู้ใช้งาน</label>
              <input type="text" name="username" class="form-control" ng-model="input.username" ng-required="true">
              <div ng-messages="form.username.$dirty && form.username.$error">
              <span class="validation error" ng-message="required">
                  กรุณากรอกชื่อผู้ใช้งาน
                </span>
              </div>
            </div>
            <div class="form-group">
              <label>รหัสผ่าน</label>
              <input type="password" name="password" class="form-control" ng-model="input.password" password-toggle ng-required="true">
              <div ng-messages="form.password.$dirty && form.password.$error">
                <span class="validation error" ng-message="required">
                  กรุณากรอกรหัสผ่าน
                </span>
              </div>
            </div>
            <div class="row mt-10">
              <div class="col-xs-6">
                <!--
                <label class="text-normal">
                  <input type="checkbox" name="remember" ng-model="input.remember">
                  จำฉันไว้ในระบบ 
                </label>
                -->
              </div>
              <div class="col-xs-6 text-right">
                <a ui-sref="forgotPassword" style="color: #ca79de">
                  ลืมรหัสผ่าน ! คลิกที่นี่ ! 
                </a>
              </div>
            </div>
            <div class="mt-10 mb-15" ng-if="loginFail >= 3">
              <div vc-recaptcha ng-model="input.recaptcha">
              </div>     
            </div>         
            <div class="mt-10">
              <button type="submit" class="btn btn-green btn-block btn-flat toggle-password" ng-disabled="form.$invalid || btnLoading">
                <span ng-if="!btnLoading">
                  เข้าสู่ระบบ
                </span>
                <span ng-if="btnLoading">
                  <i class="fa fa-circle-o-notch fa-spin"></i>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-15">
  <div class="panel panel-flat panel-primary">
    <div class="panel-heading">
      <h4 class="mt-5 mb-5 text-bold text-center">
        รายละเอียดเพิ่มเติม
      </h4>
    </div>
    <div class="panel-body" ng-bind-html="config.loginDescription | toTrusted">
    </div>
  </div>
</div>
<div footer></div>
