<div header></div>
<div class="container mt-180">
  <div class="panel panel-flat panel-primary">
    <div class="panel-heading text-center">
      <h4 class="mt-5 mb-5 text-bold">
        สถานะคำสั่งซื้อ {{ orderHistorys }}
      </h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-inline">
            <div class="form-group">
              <label class="mr-5">วันที่เริ่มต้น</label>
              <input type="text" 
                     class="form-control" 
                     ng-model="startDate" 
                     format="DD/MM/YYYY" 
                     min-view="month" 
                     change="updateOrders()"
                     moment-picker="startDate">
            </div>
            <div class="form-group ml-10">
              <label class="mr-5">ถึงวันที่</label>
              <input type="text" 
                     class="form-control" 
                     ng-model="endDate" 
                     format="DD/MM/YYYY" 
                     min-view="month" 
                     min-date="startDate" 
                     change="updateOrders()"
                     moment-picker="endDate">
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group col-xs-4 col-xs-offset-3 pr-5 pull-left">
            <select class="form-control" ng-model="type">
              <option value="">All</option>
              <option value="CP">complete</option>
              <option value="CC">cancel</option>
              <option value="IP">in progress</option>
              <option value="WT">waiting</option>
            </select>
          </div>
          <div class="form-group col-xs-5 pr-5 pull-right">
            <input type="text" name="search" class="form-control" ng-model="search" placeholder="ค้นหา">
          </div>
        </div>
      </div>
      <div class="order mt-10">          
        <div class="loading" dw-loading="orders">
          <div ng-repeat="oy in ordersYear">
            <a class="pointer" ng-click="setYearCollapsed(oy)">
              {{ oy }}
              <i class="fa " ng-class="{'fa-chevron-down': !getYearCollapsed(oy), 'fa-chevron-right': getYearCollapsed(oy)}"></i>
            </a>
            <div class="ml-20" uib-collapse="getYearCollapsed(oy)">
              <div ng-repeat="oym in ordersYm | filter: { year: oy } | orderBy: '-month'">
                <div class="mt-10 mb-5">
                  <a class="pointer" ng-click="setMonthCollapsed(oym.month)">
                    {{ txtmonth(oym.month) }}
                    <i class="fa " ng-class="{'fa-chevron-down': !getMonthCollapsed(oym.month), 'fa-chevron-right': getMonthCollapsed(oym.month)}"></i>
                  </a>
                </div>
                <div uib-collapse="getMonthCollapsed(oym.month)">
                  <table class="table table-purple">
                    <thead>
                      <tr>
                        <th class="text-center" width="13%" valign="top">
                          วันที่ - เวลา
                        </th>
                        <th class="text-center" width="15%">
                          ผู้ดำเนินการ
                        </th>
                        <th class="text-center" width="15%">
                          เลขที่ใบสั่งซื้อ
                        </th>
                        <th class="text-center" width="12%">
                          เลขที่เอกสาร <br> (หลังหักส่วนลด)
                        </th>
                        <th class="text-center" width="13%">
                          จำนวนเงินสุทธิ
                          <span class="text-red">*</span> <br> (ไม่รวม VAT)                          
                        </th>
                        <th class="text-center" width="14%">
                          สถานะสั่งซื้อ
                        </th>
                        <th class="text-center" width="18%">
                          Order /
                          <br> Bill Tracking
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="torderdetail" ng-repeat="order in orders | orderBy:'-createDate' | orderFilter: search : type" ng-if="order.month == oym.month">
                        <td class="text-center" style="line-height: 40px;">
                          {{ order.createDate | date: 'dd/MM/yyyy HH:mm' }}
                        </td>
                        <td class="text-center" style="line-height: 40px;">
                          {{ order.docName }}
                        </td>
                        <td class="text-bold text-center" style="line-height: 40px;">
                          <a class="pointer" ng-click="openModalOrderInvoice(order.orderId)">
                            {{ order.docNumber }}
                          </a>
                        </td>
                        <td class="text-bold text-center" style="line-height: 40px;">
                          <a class="pointer" ng-click="openModalOrderDetail(order.orderId, order.salesOrderNumber)">
                            {{ order.salesOrderNumber }}
                          </a>
                        </td>
                        <td class="text-right pr-20" style="line-height: 40px;">
                          {{ ((order.percentComplete == 0) && (order.rejectHStatus == 'C')) ? 0 : order.netAmount | number: 2 }}
                        </td>
                        <td>
                          <a class="pointer" ng-click="openModalOrderStatus(order.orderId, order.salesOrderNumber)" ng-show="(order.percentComplete > 0) && (order.percentComplete != 100) && (order.rejectHStatus != 'C')">
                            <div class="progress mb-0" style="margin-top: 8px">
                              <div class="progress-bar" ng-style="{'background-color': 'orange', 'width': order.percentComplete + '%'}">
                                {{ order.percentComplete }}%
                                </span>
                              </div>
                            </div>
                          </a>
                          <a class="pointer" ng-click="openModalOrderStatus(order.orderId, order.salesOrderNumber)" ng-show="(order.percentComplete == 0) && (order.rejectHStatus != 'C')">
                            <div class="progress mb-0" style="margin-top: 8px">
                              <div class="progress-bar" ng-style="{'background-color': '#cccccc', 'width': '100%'}">
                                0%
                              </div>
                            </div>
                          </a>
                          <a class="pointer" ng-click="openModalOrderStatus(order.orderId, order.salesOrderNumber)" ng-show="order.percentComplete == 100">
                            <div class="progress mb-0" style="margin-top: 8px">
                              <div class="progress-bar" ng-style="{'background-color': 'green', 'width': '100%'}">
                                Completed
                              </div>
                            </div>
                          </a>
                          <a class="pointer" ng-click="openModalOrderStatus(order.orderId, order.salesOrderNumber)" ng-show="(order.percentComplete == 0) && (order.rejectHStatus == 'C')">
                            <div class="progress mb-0" style="margin-top: 8px">
                              <div class="progress-bar" ng-style="{'background-color': 'red', 'width': '100%'}">
                                Cancelled
                              </div>
                            </div>
                          </a>
                        </td>
                        <td class="text-center">
                          <div style="margin-top: 8px;">
                            <a class="pointer" ng-click="(order.salesOrderNumber != '') ? openModalOrderBilling(order.orderId, order.salesOrderNumber) : ''">
                              <i class="fa fa-newspaper-o" style="font-size:24px;"></i>
                            </a>
                            <a class="text-orange pointer" ng-click="(order.salesOrderNumber != '') ? setBillCollapsed(order.salesOrderNumber, order.docNumber) : ''">
                              <i class="fa fa-newspaper-o" style="font-size:24px;"></i>
                            </a>
                          </div>
                          <div uib-collapse="getBillCollapsed(order.docNumber)" class="pt-10">
                            <table class="table table-purple mb-5">
                              <thead>
                                <tr>
                                  <th class="text-center" width="50%">
                                    Billing No.
                                  </th>
                                  <th class="text-center" width="50%">
                                    TAX No.
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="bill in getOrderBilling(order.salesOrderNumber).billing">
                                  <td class="text-center">
                                    {{ bill.billno }} 
                                  </td>
                                  <td class="text-center text-bold">
                                    <a class="pointer" ng-click="openModalOrderTaxno(order.orderId, bill.billno, order.salesOrderNumber)">
                                      {{ bill.taxNum }}
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-red mt-20 ml-20">
        * จำนวนเงินสุทธิ หลังหักส่วนลดทั้งหมด รวมค่าบริการคลัง ไม่รวม VAT
      </div>
    </div>
  </div>
</div>
<div footer></div>