<div class="container mt-10 mb-10">
    <img src="/assets/images/logomain.jpg" class="logo">
  </div>
  <div class="content content--primary">
    <div class="container">
      <div class="content__form">
        <h3 class="text-bold">
          เปลี่ยนรหัสผ่านใหม่
        </h3>
        <p>กรุณากรอกรหัสผ่านด้านล่าง</p>
        <form name="form" ng-submit="onChangePassword(form.$valid)" class="form-horizontal pt-10" autocomplete="off" novalidate>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label col-xs-4 required" style="text-align: left;">
                  รหัสผ่านใหม่
                </label>
                <div class="col-xs-8">
                  <input type="password" name="password" class="form-control" ng-model="input.password" password-toggle ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])/" ng-required="true">
                  <div ng-messages="form.password.$dirty && form.password.$error">
                    <span class="validation error" ng-message="required">
                      กรุณากรอกรหัสผ่านใหม่
                    </span>
                    <span class="validation error" ng-message="minlength">
                      รหัสผ่านต้องไม่มีความยาวไม่น้อยกว่า 8 ตัวอักษร
                    </span>
                    <span class="validation error" ng-message="pattern">
                      รูปแบบรหัสผ่านไม่ถูกต้อง
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-4 required" style="text-align: left;">
                  ยืนยันรหัสผ่านใหม่
                </label>
                <div class="col-xs-8">
                  <input type="password" name="passconf" class="form-control" ng-model="input.passconf" password-toggle match="input.password" ng-required="true">
                  <div ng-messages="form.passconf.$dirty && form.passconf.$error">
                    <span class="validation error" ng-message="required">
                      กรุณากรอกยืนยันรหัสผ่านใหม่
                    </span>
                    <span class="validation error" ng-message="match">
                      รหัสผ่านทั้งสองช่องไม่เหมือนกัน
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <strong>เงื่อนไขการตั้งรหัสผ่าน</strong>
              <ol style="padding-left: 13px;">
                <li class="pb-5 pt-10">
                  ต้องมีความยาว
                  <span style="color: green;">
                    ไม่ต่ำกว่า 8 ตัวอักษร
                  </span>
                </li>
                <li class="pb-5">
                  ต้องมีตัวอักษร
                  <span style="color: green;">
                    ตัวพิมพ์ใหญ่
                  </span>
                  อย่างน้อย 1 ตัว
                </li>
                <li class="pb-5">
                  ต้องมีตัวอักษร
                  <span style="color: green;">
                    ตัวพิมพ์เล็ก
                  </span>
                  อย่างน้อย 1 ตัว
                </li>
                <li class="pb-5">
                  ต้องมี
                  <span style="color: green;">
                    ตัวเลข
                  </span>
                  อย่างน้อย 1 ตัว
                </li>
              </ol>
            </div>
          </div>
          <div class="mt-20 text-center">
            <button type="submit" class="btn btn-flat btn-teal w150px mr-5" ng-disabled="form.$invalid || btnLoading">
              <span ng-if="!btnLoading">
                ส่ง
              </span>
              <span ng-if="btnLoading">
                <i class="fa fa-circle-o-notch fa-spin"></i>
              </span>
            </button>
            <button type="button" class="btn btn-flat btn-default w150px" ui-sref="login">
              กลับหน้าหลัก
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div footer></div>
  