<div header></div>
<div class="container mt-180">
  <div class="loading" dw-loading="promotion">
    <div class="panel panel-flat panel-primary">
      <div class="panel-heading text-center">
        <h4 class="mt-5 mb-5 text-bold">
          รายละเอียดโปรโมชั่น
        </h4>
      </div>
      <div class="panel-body">
        <div class="row form-horizontal">
          <div class="col-xs-6">
            <div class="form-group">
              <label class="col-xs-4 control-label">
                รหัสโปรโมชั่น :
              </label>
              <div class="col-xs-8 form-control-static">
                {{ promotionHD.promotionCode }}
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">
                ชื่อโปรโมชั่น :
              </label>
              <div class="col-xs-8 form-control-static">
                {{ promotionHD.promotionName }}
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label class="col-xs-4 control-label">
                วันที่โปรโมชั่น :
              </label>
              <div class="col-xs-8 form-control-static">
                {{ promotionHD.validFrom | date:'dd/MM/yyyy' }} - {{ promotionHD.validTo | date:'dd/MM/yyyy' }}
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-20">
          <div class="form-group">
            <label class="col-xs-2 control-label text-right">
              รายละเอียดโปรโมชั่น : 
            </label>
            <div class="col-xs-10 form-control-static" ng-bind-html="promotionHD.promotionDesc | toTrusted">
            </div>
          </div>
        </div>

        <div class="row mb-20" ng-if="promotionHD.isPromotionSet && !countOrder">
          <div class="col-xs-6">
            <div class="text-red" style="margin-top: 7px;">
              เลือกโปรโมชั่นนี้แล้ว <strong>{{ countPromotionSet }}</strong> ชุด
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-inline pull-right">
              <div class="form-group">
                <label>Promotion Set</label>
                <input type="number" 
                       class="form-control text-center w100px ml-5"
                       ng-model="input.promotionSetValue"
                       ng-change="edtPromotionSetValue()"
                       ng-blur="edtPromotionSetValue()"
                       ng-disabled="promotionSetValue > 0 || hideAddPromotionSet">
              </div>
              <button type="submit" class="btn btn-success ml-10" ng-disabled="input.promotionSetValue == undefined || input.promotionSetValue == 0" ng-if="promotionSetValue == 0" ng-hide="hideAddPromotionSet" ng-click="addPromotionSetValue()">
                เพิ่ม
              </button>
            </div>
          </div>
        </div> 

        <!-- เลือกสินค้า -->
        <div class="promotion__detail promotion__detail--blue mb-20" ng-if="!countOrder">
          <div class="promotion__detail__title">
            เลือกสินค้า
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>
                  สินค้า
                </th>
                <th width="13%">
                  ขนาด
                </th>
                <th width="17%" class="text-center">
                  สี / เบอร์ / รุ่น
                </th>
                <th width="17%" class="text-center">
                  จำนวน 
                  <span class="text-red" ng-if="!promotionHD.isPromotionSet && !promotionHD.checkStepBySKU">
                    (ซื้อ)
                  </span> 
                  <span class="text-red" ng-if="!promotionHD.isPromotionSet && promotionHD.checkStepBySKU">
                    (ซื้อรวมแถม)
                  </span>
                </th>
                <th width="17%" class="text-center" ng-if="promotionHD.isPromotionSet">
                  จำนวนซื้อ 
                  <!-- <span class="text-red" ng-if="!promotionHD.checkStepBySKU">(ซื้อ)</span> 
                  <span class="text-red" ng-if="promotionHD.checkStepBySKU">(ซื้อรวมแถม)</span> -->
                </th>
                <th width="5%"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in promotionDT | orderBy: 'productName'" ng-if="product.isExclude != 'X'">
                <td>
                  <div ng-if="product.editBtf" class="promotion__detail__dropdown">
                    <div class="dropdown">
                      <button type="button" class="btn btn-block btn-default" data-toggle="dropdown">
                        {{ product.productName }} ({{ product.btfInDt.btfWeb }})
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li ng-repeat="btf in btfInDt | uniqueFilter: 'btfWeb' | filter: { promotionDtId: product.promotionDtId, mg: (promotionHD.matGroup != '-') ? promotionHD.matGroup : undefined }" ng-if="product.isExclude != 'X'">
                          <a class="pointer" ng-click="setBtf(product, btf)">
                            {{ btf.btfWebDescTh }} ({{ btf.btfWeb }})
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div ng-if="!product.editBtf">
                    {{ product.productName }} ({{ product.productData.btf }})
                    <span class="text-red" ng-if="product.redeem != undefined && product.redeem == 'Y'">
                      สิทธิ์แลกซื้อ
                    </span>
                  </div>
                </td>
                <td>
                  <div ng-if="product.editSize" class="promotion__detail__dropdown">
                    <div class="dropdown">
                      <button type="button" class="btn btn-block btn-default" data-toggle="dropdown" ng-disabled="promotionHD.isPromotionSet && promotionSetValue == 0">
                        {{ product.productData.sizeName }}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li ng-repeat="size in sizes | orderBy: 'sizeName' | filter: { btfCode: (product.format == 'MG' || product.format == 'B') ? product.btfInDt.btf : product.btfCode } | uniqueFilter: 'sizeCode'">
                          <a class="pointer" ng-click="setSize(product, size)">
                            {{ size.sizeName }}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div ng-if="!product.editSize">
                    {{ product.productData.sizeName }}
                  </div>
                </td>
                <td>
                  <div ng-if="product.editColor" class="promotion__detail__color">
                    <div class="dropdown">
                      <button type="button" class="btn btn-block btn-default" data-toggle="dropdown" ng-disabled="promotionHD.isPromotionSet && promotionSetValue == 0">
                        <div class="promotion__detail__color__preview" ng-if="product.productData.rgbCode" ng-style="{'background': 'rgb(' + product.productData.rgbCode + ')'}">
                        </div>
                        <div class="promotion__detail__color__preview" ng-if="!product.productData.rgbCode" style="background-image: url('/assets/images/no-color.png');">
                        </div>
                        {{ product.productData.colorCode }}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li ng-repeat="color in colors | filter: { btfCode: (product.format == 'MG' || product.format == 'B') ? product.btfInDt.btf : product.btfCode, promotionDtId: product.promotionDtId, sizeCode: product.productData.sizeCode } | uniqueFilter: 'colorCode'">
                          <a class="pointer" ng-click="setColor(product, color)">
                            <div class="promotion__detail__color__preview" ng-if="color.rgbCode" ng-style="{'background': 'rgb(' + color.rgbCode + ')'}">
                            </div>
                            <div class="promotion__detail__color__preview" ng-if="!color.rgbCode" style="background-image: url('/assets/images/no-color.png');">
                            </div>
                            {{ color.colorCode }}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div ng-if="!product.editColor" class="promotion__detail__color">
                    <div class="promotion__detail__color__preview" ng-if="product.productData.rgbCode" ng-style="{'background': 'rgb(' + product.productData.rgbCode + ')'}">
                    </div>
                    <div class="promotion__detail__color__preview" ng-if="!product.productData.rgbCode" style="background-image: url('/assets/images/no-color.png');">
                    </div>
                    {{ product.productData.colorCode }}
                  </div>
                </td>
                <td>
                  <div class="input-group" ng-if="!promotionHD.isPromotionSet">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default none-outline" ng-click="decProductQty(product)">
                        <i class="fa fa-minus"></i>
                      </button>
                    </span>
                    <input type="text" 
                          name="product[qty]" 
                          class="form-control text-center" 
                          numbers-only 
                          ng-model="product.qty" 
                          ng-blur="edtProductQty(product)">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default none-outline" ng-click="incProductQty(product)">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                  <div class="text-center" ng-if="promotionHD.isPromotionSet">
                    {{ product.showQty * promotionSetValue | number }}
                  </div>
                </td>
                <td ng-if="promotionHD.isPromotionSet">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default none-outline" ng-click="decProductQty(product)" ng-disabled="promotionHD.isPromotionSet && promotionSetValue == 0">
                        <i class="fa fa-minus"></i>
                      </button>
                    </span>
                    <input type="text" 
                           class="form-control text-center" 
                           numbers-only 
                           ng-model="product.qty" 
                           ng-blur="edtProductQty(product)"
                           ng-disabled="promotionHD.isPromotionSet && promotionSetValue == 0">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default none-outline" ng-click="incProductQty(product)" ng-disabled="promotionHD.isPromotionSet && promotionSetValue == 0">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                </td>
                <td>
                  <button class="btn btn-flat btn-success btn-block" ng-disabled="chkBtnAddProduct(product)" ng-click="addProduct(product)">
                    เลือก
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--
        <div class="row mb-20" ng-if="promotionHD.isPromotionSet && !countOrder">
            <div class="col-xs-offset-7 col-xs-5 text-right">
              <div class="form-inline">
                <label class="mr-5">
                  Promotion Set: 
                </label>
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default none-outline" ng-click="decPromotionSetValue()">
                      <i class="fa fa-minus"></i>
                    </button>
                  </span>
                  <input type="text" 
                        name="promotionSetValue" 
                        class="form-control text-center w100px" 
                        numbers-only 
                        ng-blur="setPromotionSetValue(input.promotionSetValue)"
                        ng-model="input.promotionSetValue">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default none-outline" ng-click="incPromotionSetValue()" >
                      <i class="fa fa-plus"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        -->
        <!-- รายการสินค้า -->
        <div class="promotion__detail promotion__detail--green mb-20" ng-if="!countOrder">
          <div class="promotion__detail__title">
            รายการสินค้า
          </div>
          <table class="table">
            <thead>
              <tr>
                <th width="15%">
                  รหัสสินค้า
                </th>
                <th>
                  สินค้า
                </th>
                <th width="10%" class="text-center">
                  {{ (!promotionHD.checkStepBySKU) ? 'จำนวนสั่งซื้อ' : 'จำนวนสินค้า'}}
                </th>
                <th width="10%" class="text-center" ng-if="promotionHD.checkStepBySKU">
                  จำนวนซื้อ
                </th>
                <th width="10%" class="text-center">
                  หน่วย 
                </th>
                <th width="10%" class="text-right">
                  ราคา/หน่วย
                </th>
                <th width="10%" class="text-right">
                  ราคารวม
                </th>
                <th width="5%"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in promotionDT_Sel">
                <td>
                  {{ product.productData.productCode }}
                </td>
                <td>
                  {{ product.productData.productNameTh }}
                  ({{ (product.format == 'MG' || product.format == 'B') ? product.btfInDt.btf : product.productData.btf }})
                </td>
                <td align="center">
                  {{ product.qty | number }}
                </td>
                <td align="center" ng-if="promotionHD.checkStepBySKU">
                  {{ (product.buyQty == 0) ? product.qty : product.buyQty | number }}
                </td>
                <td align="center">
                  {{ product.productData.unitNameTh }}
                </td>
                <td align="right">
                  {{ product.productData.productPrice | currency: '' }}
                </td>
                <td align="right">
                  {{ product.productData.productPrice * product.qty | currency: '' }}
                </td>
                <td>
                  <button class="btn btn-flat btn-danger btn-block" ng-click="delProduct(product)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="text-center" colspan="7" ng-if="!promotionDT_Sel.length">
                  ยังไม่ได้เลือกสินค้า
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row mb-20" ng-if="!countOrder">
          <div class="col-xs-12">
            <div class="text-right mb-30" ng-if="promotionDT_Sel.length">
              หน่วย : 
              <span ng-if="promotionDT_Sel[0].productData.altUnit1Amount == 0">
                {{ promotionDT_Sel[0].productData.unitNameTh }}   
              </span>
              <span ng-if="promotionDT_Sel[0].productData.altUnit1Amount > 0">
                ( 1 {{ promotionDT_Sel[0].productData.altUnit1NameTh }} : {{ promotionDT_Sel[0].productData.altUnit1Amount }} {{ promotionDT_Sel[0].productData.unitNameTh }} )
              </span>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-inline pull-right">
              <div class="form-group" style="margin-right: 20px;">
                <label class="mr-5">
                  จำนวนสั่งสินค้าทั้งหมด
                </label>
                <input type="text" class="form-control text-right" value="{{ getTotalQty() | number }}" style="width: 90px;" ng-disabled="true">
              </div>
              <div class="form-group" style="margin-right: 10px;" ng-if="promotionHD.checkStepBySKU">
                <label class="mr-5">
                  จำนวนซื้อทั้งหมด
                </label>
                <input type="text" class="form-control text-right" value="{{ getTotalBuyQty() | number }}" style="width: 90px;" ng-disabled="true">
              </div>
              <div class="form-group ml-15" style="margin-right: 20px;">
                <label class="mr-5">
                  ราคาซื้อรวมทั้งหมด
                </label>
                <input type="text" class="form-control text-right w150px" value="{{ getTotalAmount() | currency: '' }}" ng-disabled="true">
              </div>
              <div class="form-group" ng-if="promotionHD.promotionType != 'Discount' || (promotionHD.promotionType == 'Discount' && freeGoods.length)">
                <button class="btn btn-flat btn-primary" ng-click="calculate()" ng-disabled="chkBtnCalculate()">
                  คำนวนรายการโปรโมชั่น 
                </button>
              </div>
              <div class="form-group">
                <button class="btn btn-flat btn-danger ml-5" ng-click="refreshForm()">
                  ล้างข้อมูล
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- เลือกของแถม -->
        <div class="promotion__detail promotion__detail--blue mb-20" ng-if="((!promotionHD.checkStepBySKU && freeGoods.length > 0) && promotionFG.length) && !chkDealerExists && !countOrder" ng-hide="hideFreeGoodsAll || hideFreeGoodsSel">
          <div class="promotion__detail__title">
            เลือกของแถม
          </div>
          <table class="table mb-5">
            <thead>
              <tr>
                <th>
                  สินค้า
                </th>
                <th width="13%">
                  ขนาด
                </th>
                <th width="17%" class="text-center">
                  สี / เบอร์ / รุ่น
                </th>
                <th width="17%" class="text-center">
                  จำนวนแถมที่ได้รับ
                </th>
                <th width="17%" class="text-center">
                  จำนวนแถม
                </th>
                <th width="5%"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in promotionFG" ng-if="product.format != 'SKU'">
                <td>
                  {{ product.productName }}
                  ({{ product.productFreeGoodsData.btf }})
                </td>
                <td>
                  <div ng-if="product.editSize" class="promotion__detail__dropdown">
                    <div class="dropdown">
                      <button type="button" class="btn btn-block btn-default" data-toggle="dropdown">
                        {{ product.productFreeGoodsData.sizeName }}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li ng-repeat="size in sizeFreeGoods | orderBy: 'sizeName' | filter: { btfCode: product.btfCode } | uniqueFilter: 'sizeCode'">
                          <a class="pointer" ng-click="setSizeFreeGoods(product, size)">
                            {{ size.sizeName }}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div ng-if="!product.editSize">
                    {{ product.productFreeGoodsData.sizeName }}
                  </div>
                </td>
                <td>
                  <div ng-if="product.editColor" class="promotion__detail__color">
                    <div class="dropdown">
                      <button type="button" class="btn btn-block btn-default" ng-disabled="promotionHD.checkStepBySKU" data-toggle="dropdown">
                        <div class="promotion__detail__color__preview" ng-if="product.productFreeGoodsData.rgbCode" ng-style="{'background': 'rgb(' + product.productFreeGoodsData.rgbCode + ')'}">
                        </div>
                        <div class="promotion__detail__color__preview" ng-if="!product.productFreeGoodsData.rgbCode" style="background-image: url('/assets/images/no-color.png');">
                        </div>
                        {{ product.productFreeGoodsData.colorCode }}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li ng-repeat="color in colorFreeGoods | filter: { btfCode: product.btfCode, sizeCode: product.productFreeGoodsData.sizeCode } | uniqueFilter: 'colorCode' | orderBy: 'colorCode'">
                          <a class="pointer" ng-click="setColorFreeGoods(product, color)">
                            <div class="promotion__detail__color__preview" ng-if="color.rgbCode" ng-style="{'background': 'rgb(' + color.rgbCode + ')'}">
                            </div>
                            <div class="promotion__detail__color__preview" ng-if="!color.rgbCode" style="background-image: url('/assets/images/no-color.png');">
                            </div>
                            {{ color.colorCode }}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div ng-if="!product.editColor && product.format != 'SKU'" class="promotion__detail__color">
                    <div class="promotion__detail__color__preview" ng-if="product.productFreeGoodsData.rgbCode" ng-style="{'background': 'rgb(' + product.productFreeGoodsData.rgbCode + ')'}">
                    </div>
                    <div class="promotion__detail__color__preview" ng-if="!product.productFreeGoodsData.rgbCode" style="background-image: url('/assets/images/no-color.png');">
                    </div>
                    {{ product.productFreeGoodsData.colorCode }}
                  </div>
                </td>
                <td align="center">
                  {{ product.showQty | number }}
                </td>
                <td align="center">
                  <div ng-if="product.editQty">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default none-outline" ng-click="decFreeGoodQty(product)">
                          <i class="fa fa-minus"></i>
                        </button>
                      </span>
                      <input type="text" 
                            name="product[qty]" 
                            class="form-control text-center" 
                            numbers-only 
                            ng-blur="edtFreeGoodQty(product)"
                            ng-model="product.qty">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default none-outline" ng-click="incFreeGoodQty(product)" >
                          <i class="fa fa-plus"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div ng-if="!product.editQty">
                    {{ product.qty | number }}
                  </div>
                </td>
                <td>
                  <button class="btn btn-flat btn-success btn-block" ng-click="addFreeGoods(product)">
                    เลือก
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class=col-xs-12>
            <div class="form-inline pull-right" style="margin-right: 80px">
              <div class=form-group>
                <label class=mr-25>
                  จำนวนของแถมคงเหลือ</label>
                   <input type=text class="form-control text-center" value="{{ getTotalSelFreeGoodQty() | number }}" ng-disabled=true style="width: 177px">
                </div>
            </div>
          </div> -->
        <!-- รายการของแถม -->
        <div class="text-right mb-20" ng-if="((!promotionHD.checkStepBySKU && freeGoods.length > 0) && promotionFG.length) && !chkDealerExists && !countOrder">
            <div class="form-inline" style="margin-right: 80px">
             <div class="form-group">
               <label class="mr-25">
                 จำนวนของแถมคงเหลือ
               </label>
               <input type=text class="form-control text-center" value="{{ getTotalSelFreeGoodQty() | number }}" ng-disabled=true style="width: 177px">
             </div>
           </div>
        </div>

        <div class="loading" ng-if="(promotionFG.length && freeGoods.length > 0) && !chkDealerExists && !countOrder"  ng-hide="hideFreeGoodsAll" dw-loading="freegoods">
          <div class="promotion__detail promotion__detail--green mb-20">
            <div class="promotion__detail__title">
              รายการของแถม
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th width="15%">
                    รหัสสินค้า
                  </th>
                  <th width="60%">
                    สินค้า
                  </th>
                  <th width="10%" class="text-center">
                    จำนวนแถม
                  </th>
                  <th width="10%" class="text-center">
                    หน่วย
                  </th>
                  <th width="5%" ng-if="!promotionHD.checkStepBySKU"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in promotionFG_Sel | orderBy: 'isPremium'">
                  <td>
                    {{ product.productFreeGoodsData.productCode }}
                  </td>
                  <td>
                    {{ product.productFreeGoodsData.productNameTh }}
                    ({{ product.productFreeGoodsData.btf }})
                    <span class="mr-5 text-red">
                      (ของแถม)
                    </span>
                  </td>
                  <td align="center">
                    {{ product.qty | number }}
                  </td>
                  <td align="center">
                    {{ product.productFreeGoodsData.unitNameTh }}
                  </td>
                  <td ng-if="!promotionHD.checkStepBySKU">
                    <button class="btn btn-flat btn-danger btn-block" ng-click="delFreeGoods(product)" ng-disabled="product.format == 'SKU'">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
                <td class="text-center" colspan="7" ng-if="!promotionFG_Sel.length">
                  ยังไม่ได้เลือกของแถม
                </td>
              </tbody>
            </table>
          </div>  
        </div>
        
        <div class="row" ng-if="promotionFG_Sel.length && !chkDealerExists && !countOrder" ng-hide="hideFreeGoods">
          <div class="col-xs-12">
            <div class="form-inline pull-right">
              <div class="form-group">
                <label class="mr-5">
                  จำนวนแถมทั้งหมด
                </label>
                <input type="text" class="form-control text-right w100px" value="{{ getTotalFreeGoodQty() | number }}" ng-disabled="true">
              </div>
            </div>
          </div>
        </div>

        <div class="panel-footer text-center">
          <button ui-sref="home" class="btn btn-flat btn-teal mr-5">
            ย้อนกลับ
          </button>
          <button type="submit" class="btn btn-flat btn-orange" ng-if="!countOrder" ng-click="(promotionHD.promotionType == 'Discount' && !freeGoods.length) ? calculate() : addCart()" ng-disabled="chkBtnAddCart() || btnLoading">
            <span ng-if="btnLoading">
              <i class="fa fa-circle-o-notch fa-spin"></i>
            </span>
            <span ng-if="!btnLoading">
              <i class="fa fa-shopping-cart mr-5"></i>
              หยิบใส่ตะกร้า
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div footer></div>