<div header></div>
<div class="container mt-180">
  <div class="row">
    <div class="col-xs-3">
      <div class="filter">
        <div class="filter__list">
          <div class="filter__list__header">
            กลุ่มผลิตภัณฑ์
            <a class="filter__list__header__clear pointer" ng-click="clearMarketing()">
              ล้างทั้งหมด
            </a>
          </div>
          <div class="loading" dw-loading="filter">
            <div class="filter__list__body">
              <ul>
                <li ng-repeat="marketing in marketings">
                  <label>
                    <input type="checkbox" ng-checked="marketingCodes.indexOf(marketing.marketingCode) > -1" ng-click="onSelectMarketing(marketing.marketingCode)"> 
                    {{ marketing.marketingDesc }}
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filter__list">
          <div class="filter__list__header">
            แบรนด์
            <a class="filter__list__header__clear pointer" ng-click="clearBrand()">
              ล้างทั้งหมด
            </a>
          </div>
          <div class="loading" dw-loading="filter">
            <div class="filter__list__body">
              <ul>
                <li ng-repeat="brand in brands | brandFilter: marketingCodes | uniqueFilter: 'brandCode' | orderBy: 'brandDesc'">
                  <label>
                    <input type="checkbox" ng-checked="brandCodes.indexOf(brand.brandCode) > -1" ng-click="onSelectBrand(brand.brandCode)"> 
                    {{ brand.brandDesc }}
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filter__list" ng-if="marketingCodes.length">
          <div class="filter__list__header">
            ประเภท
            <a class="filter__list__header__clear pointer" ng-click="clearType()">
              ล้างทั้งหมด
            </a>
          </div>
          <div class="loading" dw-loading="filter">
            <div class="filter__list__body">
              <ul>
                <li ng-repeat="type in types | typeFilter: marketingCodes | uniqueFilter: 'typeCode' | orderBy: 'typeDesc'">
                  <label>
                    <input type="checkbox" ng-checked="typeCodes.indexOf(type.typeCode) > -1" ng-click="onSelectType(type.typeCode)"> 
                    {{ type.typeDesc }}
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="w100">
        <h4 class="mt-0 mb-20">
          พบสินค้าจำนวน
          <strong>{{ products.length }}</strong> รายการ
          <small ng-if="search != undefined">
            ค้นหาโดย
            <span class="label label-danger" style="position: relative; top: -2x;">
              {{ search }}                 
              <a ng-click="removeSearch()" class="pointer" style="color:white;">
                <i class="fa fa-times"></i>
              </a>
            </span>           
          </small>
        </h4>
      </div>
      <div class="w100 mt-10 mb-20" ng-if="marketingCodes.length || brandCodes.length || typeCodes.length">
        <ul class="list-inline">
          <li class="text-bold">
            กรองจาก
          </li>
          <li class="pr-5 pl-0 mb-10" ng-if="marketingCodes.length" ng-repeat="m in marketingCodes">
            <span class="label label-success">
              {{ getMarketing(m).marketingDesc }}
              <a ng-click="removeMarketingFilter(m)" style="color:white; cursor: pointer;">
                <i class="fa fa-times"></i>
              </a>
            </span>
          </li>
          <li class="pr-5 pl-0 mb-10" ng-if="brandCodes.length" ng-repeat="b in brandCodes">
            <span class="label label-primary">
              {{ getBrand(b).brandDesc }}
              <a ng-click="removeBrandFilter(b)" style="color:white; cursor: pointer;">
                  <i class="fa fa-times"></i>
              </a>
            </span>
          </li>
          <li class="pr-5 pl-0" ng-if="typeCodes.length" ng-repeat="t in typeCodes">
            <span class="label label-warning">
              {{ getType(t).typeDesc }}
              <a ng-click="removeTypeFilter(t)" style="color:white; cursor: pointer;">
                <i class="fa fa-times"></i>
              </a>
            </span>
          </li>
        </ul>
      </div>
      <div class="loading" dw-loading="product">
        <div class="row category">
          <div class="col-xs-3" ng-repeat="product in products | uniqueFilter: 'btf' | limitTo : pageSize : (currentPage - 1) * pageSize">
            <div class="category__item" ng-click="toProduct(product.btfWeb)">
              <span class="favorite-icon none-outline pointer" ng-click="$event.stopPropagation(); (product.isFavorite) ? onRemoveFavorite(product) : onAddFavorite(product)"
                ng-class="{'active': product.isFavorite}">
                <i class="fa fa-star"></i>
              </span>
              <div class="category__item__image">
                <img ng-src="{{ config.partImgProduct + '/ProductDetail/' + product.btf + '.jpg' }}" onerror="this.src='assets/images/no-image.jpg'">
              </div>
              <div class="category__item__name">
                {{ product.btfWebDescTh }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w100 mt-10 mb-15 text-center">
        <ul uib-pagination 
            total-items="products.length" 
            items-per-page="pageSize" 
            max-size="maxSize" 
            boundary-links="true" 
            first-text="&lsaquo;&lsaquo;"
            last-text="&rsaquo;&rsaquo;" 
            next-text="&rsaquo;" 
            previous-text="&lsaquo;"  
            ng-model="currentPage" 
            ng-hide="!products.length || products.length <= pageSize">
        </ul>
      </div>
    </div>
  </div>
</div>
<div footer></div>