@for $i from 0 through 20 {
  $size: 5 * $i;

  .mt-#{$size} {
    margin-top: 0px + $size !important;
  }

  .mb-#{$size} {
    margin-bottom: 0px + $size !important;
  }

  .ml-#{$size} {
    margin-left: 0px + $size !important;
  }

  .mr-#{$size} {
    margin-right: 0px + $size !important;
  }

  .pt-#{$size} {
    padding-top: 0px + $size !important;
  }

  .pb-#{$size} {
    padding-bottom: 0px + $size !important;
  }

  .pl-#{$size} {
    padding-left: 0px + $size !important;
  }

  .pr-#{$size} {
    padding-right: 0px + $size !important;
  }
}

.mt-180 {
  margin-top: 180px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-60 {
  margin-top: 60px;
}

.w100 {
  width: 100% !important;
}

.w100px {
  width: 100px !important;
}

.w150px {
  width: 150px !important;
}

.w870x {
  width: 870px !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-red {
  color: red !important;
}

.text-normal {
  font-weight: normal !important;
}

.pointer {
  cursor: pointer;
}

.required {
  &::before {
    color: #f44336;
    content: "* "
  }
}

.validation {
  font-weight: normal;
  display: block;
  margin-top: 5px;
  font-size: 13px;

  &.error {
    color: red;
  }
}

.text-orange {
  color: orange !important;
}

.text-blue {
  color: #1338e6;
}

.lh-50 {
  line-height: 50px;
}

.lh-60 {
  line-height: 60px !important;
}

.lh-70 {
  line-height: 70px !important;
}

.lh-40 {
  line-height: 40px !important;
}

.none-outline {
  outline: 0 !important;
}

.block {
  display: block;
}

.loading {
  position: relative;
  min-height: 70px;
}

.w100px {
  width: 100px;
}

.va-middle {
  vertical-align: middle !important;
}