<div header></div>
<div class="container mt-180">
  <form name="form" autocomplete="off" ng-submit="onSendProblem(form.$valid)" novalidate>
    <div class="panel panel-flat panel-primary">
      <div class="panel-heading text-center">
        <h4 class="mt-5 mb-5 text-bold">
          แจ้งปัญหาการใช้งาน เฉพาะระบบ e-Ordering
        </h4>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <textarea name="problemText" class="form-control" ng-model="input.problemText" rows="10" ng-required="true"></textarea>
        </div>
      </div>
      <div class="panel-footer text-center">
        <button type="submit" class="btn btn-flat btn-teal w150px mr-5" ng-disabled="form.$invalid || btnLoading">
          <span ng-if="!btnLoading">
            ส่ง
          </span>
          <span ng-if="btnLoading">
          <i class="fa fa-circle-o-notch fa-spin"></i>
          </span>
        </button>
        <a href="{{ url('/home') }}" class="btn btn-flat btn-default w150px">
          กลับสู่หน้าแรก
        </a>
      </div>
    </div>
  </form>
</div>
<div footer></div>