.mt-0 {
  margin-top: 0px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.ml-0 {
  margin-left: 0px !important; }

.mr-0 {
  margin-right: 0px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pr-0 {
  padding-right: 0px !important; }

.mt-5 {
  margin-top: 5px !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.ml-5 {
  margin-left: 5px !important; }

.mr-5 {
  margin-right: 5px !important; }

.pt-5 {
  padding-top: 5px !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pl-5 {
  padding-left: 5px !important; }

.pr-5 {
  padding-right: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.ml-10 {
  margin-left: 10px !important; }

.mr-10 {
  margin-right: 10px !important; }

.pt-10 {
  padding-top: 10px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pl-10 {
  padding-left: 10px !important; }

.pr-10 {
  padding-right: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.ml-15 {
  margin-left: 15px !important; }

.mr-15 {
  margin-right: 15px !important; }

.pt-15 {
  padding-top: 15px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pl-15 {
  padding-left: 15px !important; }

.pr-15 {
  padding-right: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.ml-20 {
  margin-left: 20px !important; }

.mr-20 {
  margin-right: 20px !important; }

.pt-20 {
  padding-top: 20px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pl-20 {
  padding-left: 20px !important; }

.pr-20 {
  padding-right: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.ml-25 {
  margin-left: 25px !important; }

.mr-25 {
  margin-right: 25px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pl-25 {
  padding-left: 25px !important; }

.pr-25 {
  padding-right: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.ml-30 {
  margin-left: 30px !important; }

.mr-30 {
  margin-right: 30px !important; }

.pt-30 {
  padding-top: 30px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pl-30 {
  padding-left: 30px !important; }

.pr-30 {
  padding-right: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.ml-35 {
  margin-left: 35px !important; }

.mr-35 {
  margin-right: 35px !important; }

.pt-35 {
  padding-top: 35px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pl-35 {
  padding-left: 35px !important; }

.pr-35 {
  padding-right: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.ml-40 {
  margin-left: 40px !important; }

.mr-40 {
  margin-right: 40px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pl-40 {
  padding-left: 40px !important; }

.pr-40 {
  padding-right: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.ml-45 {
  margin-left: 45px !important; }

.mr-45 {
  margin-right: 45px !important; }

.pt-45 {
  padding-top: 45px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.pl-45 {
  padding-left: 45px !important; }

.pr-45 {
  padding-right: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-50 {
  margin-right: 50px !important; }

.pt-50 {
  padding-top: 50px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pr-50 {
  padding-right: 50px !important; }

.mt-55 {
  margin-top: 55px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.ml-55 {
  margin-left: 55px !important; }

.mr-55 {
  margin-right: 55px !important; }

.pt-55 {
  padding-top: 55px !important; }

.pb-55 {
  padding-bottom: 55px !important; }

.pl-55 {
  padding-left: 55px !important; }

.pr-55 {
  padding-right: 55px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.ml-60 {
  margin-left: 60px !important; }

.mr-60 {
  margin-right: 60px !important; }

.pt-60 {
  padding-top: 60px !important; }

.pb-60 {
  padding-bottom: 60px !important; }

.pl-60 {
  padding-left: 60px !important; }

.pr-60 {
  padding-right: 60px !important; }

.mt-65 {
  margin-top: 65px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.ml-65 {
  margin-left: 65px !important; }

.mr-65 {
  margin-right: 65px !important; }

.pt-65 {
  padding-top: 65px !important; }

.pb-65 {
  padding-bottom: 65px !important; }

.pl-65 {
  padding-left: 65px !important; }

.pr-65 {
  padding-right: 65px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.ml-70 {
  margin-left: 70px !important; }

.mr-70 {
  margin-right: 70px !important; }

.pt-70 {
  padding-top: 70px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pl-70 {
  padding-left: 70px !important; }

.pr-70 {
  padding-right: 70px !important; }

.mt-75 {
  margin-top: 75px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.ml-75 {
  margin-left: 75px !important; }

.mr-75 {
  margin-right: 75px !important; }

.pt-75 {
  padding-top: 75px !important; }

.pb-75 {
  padding-bottom: 75px !important; }

.pl-75 {
  padding-left: 75px !important; }

.pr-75 {
  padding-right: 75px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.ml-80 {
  margin-left: 80px !important; }

.mr-80 {
  margin-right: 80px !important; }

.pt-80 {
  padding-top: 80px !important; }

.pb-80 {
  padding-bottom: 80px !important; }

.pl-80 {
  padding-left: 80px !important; }

.pr-80 {
  padding-right: 80px !important; }

.mt-85 {
  margin-top: 85px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.ml-85 {
  margin-left: 85px !important; }

.mr-85 {
  margin-right: 85px !important; }

.pt-85 {
  padding-top: 85px !important; }

.pb-85 {
  padding-bottom: 85px !important; }

.pl-85 {
  padding-left: 85px !important; }

.pr-85 {
  padding-right: 85px !important; }

.mt-90 {
  margin-top: 90px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.ml-90 {
  margin-left: 90px !important; }

.mr-90 {
  margin-right: 90px !important; }

.pt-90 {
  padding-top: 90px !important; }

.pb-90 {
  padding-bottom: 90px !important; }

.pl-90 {
  padding-left: 90px !important; }

.pr-90 {
  padding-right: 90px !important; }

.mt-95 {
  margin-top: 95px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.ml-95 {
  margin-left: 95px !important; }

.mr-95 {
  margin-right: 95px !important; }

.pt-95 {
  padding-top: 95px !important; }

.pb-95 {
  padding-bottom: 95px !important; }

.pl-95 {
  padding-left: 95px !important; }

.pr-95 {
  padding-right: 95px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-100 {
  margin-left: 100px !important; }

.mr-100 {
  margin-right: 100px !important; }

.pt-100 {
  padding-top: 100px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.pl-100 {
  padding-left: 100px !important; }

.pr-100 {
  padding-right: 100px !important; }

.mt-180 {
  margin-top: 180px; }

.mt-190 {
  margin-top: 190px; }

.mt-60 {
  margin-top: 60px; }

.w100 {
  width: 100% !important; }

.w100px {
  width: 100px !important; }

.w150px {
  width: 150px !important; }

.w870x {
  width: 870px !important; }

.text-bold {
  font-weight: bold !important; }

.text-red {
  color: red !important; }

.text-normal {
  font-weight: normal !important; }

.pointer {
  cursor: pointer; }

.required::before {
  color: #f44336;
  content: "* "; }

.validation {
  font-weight: normal;
  display: block;
  margin-top: 5px;
  font-size: 13px; }
  .validation.error {
    color: red; }

.text-orange {
  color: orange !important; }

.text-blue {
  color: #1338e6; }

.lh-50 {
  line-height: 50px; }

.lh-60 {
  line-height: 60px !important; }

.lh-70 {
  line-height: 70px !important; }

.lh-40 {
  line-height: 40px !important; }

.none-outline {
  outline: 0 !important; }

.block {
  display: block; }

.loading {
  position: relative;
  min-height: 70px; }

.w100px {
  width: 100px; }

html,
body {
  font-family: 'Maitree', sans-serif !important; }

a {
  text-decoration: none !important; }

.content, .content--primary, .content--orange {
  padding: 25px 0; }
  .content--primary {
    color: #ffffff;
    background: #e8f1fe; }
  .content--orange {
    color: #ffffff;
    background: #e8f1fe; }
  .content__form {
    color: #000000;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75); }
    .content__form__title {
      background: #80d8d8;
      color: #ffffff;
      font-size: 18px;
      padding: 13px; }

.btn-flat {
  border-radius: 0px;
  outline: 0 !important; }

.btn-orange {
  color: #ffffff !important;
  background: #F57C00; }
  .btn-orange:hover, .btn-orange:active {
    background: #EF6C00; }

.btn-teal {
  color: #ffffff !important;
  background: #26A69A; }
  .btn-teal:hover, .btn-teal:active {
    color: #ffffff;
    background: #009688; }

.btn-green {
  color: #ffffff !important;
  background: #8BC34A; }
  .btn-green:hover, .btn-green:active {
    background: #7CB342; }

.btn-red {
  color: #ffffff !important;
  background: #F44336; }
  .btn-red:hover, .btn-red:active {
    background: #E53935; }

.btn-blue {
  color: #ffffff !important;
  background: #1E88E5; }
  .btn-blue:hover, .btn-blue:active {
    background: #1976D2; }

.input-flat {
  border-radius: 0px !important; }

/* remove clear and reveal from IE */
input::-ms-clear, input::-ms-reveal {
  display: none; }

.password-toggle {
  position: relative;
  display: block;
  user-select: none; }

.password-toggle a {
  right: 0;
  opacity: .5;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  height: 1px;
  width: 40px;
  height: 33px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  top: 0;
  z-index: 1;
  -webkit-tap-highlight-color: transparent; }

.password-toggle [type=text] + a {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23444' d='M29.6.4C29 0 28 0 27.4.4L21 6.8c-1.4-.5-3-.8-5-.8C9 6 3 10 0 16c1.3 2.6 3 4.8 5.4 6.5l-5 5c-.5.5-.5 1.5 0 2 .3.4.7.5 1 .5s1 0 1.2-.4l27-27C30 2 30 1 29.6.4zM13 10c1.3 0 2.4 1 2.8 2L12 15.8c-1-.4-2-1.5-2-2.8 0-1.7 1.3-3 3-3zm-9.6 6c1.2-2 2.8-3.5 4.7-4.7l.7-.2c-.4 1-.6 2-.6 3 0 1.8.6 3.4 1.6 4.7l-2 2c-1.6-1.2-3-2.7-4-4.4zM24 13.8c0-.8 0-1.7-.4-2.4l-10 10c.7.3 1.6.4 2.4.4 4.4 0 8-3.6 8-8z'/%3E%3Cpath fill='%23444' d='M26 9l-2.2 2.2c2 1.3 3.6 3 4.8 4.8-1.2 2-2.8 3.5-4.7 4.7-2.7 1.5-5.4 2.3-8 2.3-1.4 0-2.6 0-3.8-.4L10 25c2 .6 4 1 6 1 7 0 13-4 16-10-1.4-2.8-3.5-5.2-6-7z'/%3E%3C/svg%3E"); }

.password-toggle [type=password] + a {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%23444' d='M16 6C9 6 3 10 0 16c3 6 9 10 16 10s13-4 16-10c-3-6-9-10-16-10zm8 5.3c1.8 1.2 3.4 2.8 4.6 4.7-1.2 2-2.8 3.5-4.7 4.7-3 1.5-6 2.3-8 2.3s-6-.8-8-2.3C6 19.5 4 18 3 16c1.5-2 3-3.5 5-4.7l.6-.2C8 12 8 13 8 14c0 4.5 3.5 8 8 8s8-3.5 8-8c0-1-.3-2-.6-2.6l.4.3zM16 13c0 1.7-1.3 3-3 3s-3-1.3-3-3 1.3-3 3-3 3 1.3 3 3z'/%3E%3C/svg%3E"); }

.dropdown-flat .dropdown-menu {
  padding: 10px 0px;
  font-size: 14px !important;
  border: 0 !important;
  border-radius: 0px !important;
  margin-top: 10px;
  left: 50%;
  right: auto;
  transform: translate(-50%, 0); }
  .dropdown-flat .dropdown-menu > li > a {
    padding: 8px 25px;
    color: #000000 !important; }
.dropdown-flat.open > a {
  background: none;
  color: #08c; }
.dropdown-flat .dropdown-menu > li > a:focus, .dropdown-flat .dropdown-menu > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #F2EEB1; }

.modal.right.fade .modal-dialog {
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out; }
.modal.right.fade.in .modal-dialog {
  right: 0; }

.modal-flat .modal-dialog .modal-content {
  border-radius: 0px; }

.modal-header-yellow {
  background: #ffffcc !important; }

.modal-header-green {
  background: #cceecc !important; }

.modal-header-purple {
  background: #ccccee !important; }

.modal-header-orange {
  background: #ffeecc !important; }

.modal-header-pink {
  background: #ffddee !important; }

.panel-flat {
  border: 0 !important;
  box-shadow: none !important; }
  .panel-flat .panel-heading {
    border-radius: 0;
    border: 0 !important; }
  .panel-flat .panel-footer {
    background: none;
    border: 0; }
    .panel-flat .panel-footer:after {
      content: '';
      display: table;
      clear: both; }

.panel-flat.panel-primary .panel-heading {
  background-color: #F1F7FE;
  color: #0F61BB; }

.swal2-container {
  z-index: 6000 !important; }
  .swal2-container .swal2-modal {
    font-family: 'Maitree', sans-serif !important; }
    .swal2-container .swal2-modal .swal2-content {
      font-weight: normal; }

.table-purple thead tr th {
  background: #FAF6F5;
  border-bottom: 0 !important;
  color: #0f258b;
  vertical-align: middle;
  border: 1px solid #ffffff; }
.table-purple tfoot tr th {
  background: #FAF6F5;
  border-bottom: 0 !important;
  color: #0f258b;
  vertical-align: middle; }

.table-yellow thead tr th {
  background: #fdffc7;
  border-bottom: 0 !important;
  vertical-align: middle;
  border: 1px solid #ffffff; }
.table-yellow tfoot tr th {
  background: #fdffc7;
  border-bottom: 0 !important;
  vertical-align: middle; }

.table-blue thead tr th {
  background: #F1F7FE;
  border-bottom: 0 !important;
  color: #0f258b;
  vertical-align: middle;
  border: 1px solid #ffffff; }
.table-blue tfoot tr th {
  background: #F1F7FE;
  border-bottom: 0 !important;
  color: #0f258b;
  vertical-align: middle; }

.table-red thead tr th {
  background: #F4E6E6;
  border-bottom: 0 !important;
  color: #0f258b;
  vertical-align: middle;
  border: 1px solid #ffffff; }
.table-red tfoot tr th {
  background: #F4E6E6;
  border-bottom: 0 !important;
  color: #0f258b;
  vertical-align: middle; }

.dw-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: none; }

.dw-loading:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.dw-loading.dw-loading-active {
  display: block; }

.dw-loading.dw-loading-overlay {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 700; }

.dw-loading > .dw-loading-body {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.dw-loading > .dw-loading-body > .dw-loading-spinner {
  position: relative;
  z-index: 800; }

.dw-loading > .dw-loading-body > .dw-loading-text {
  position: relative;
  top: 25px;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 0 0 2px white;
  z-index: 800;
  font-family: 'Maitree', sans-serif !important;
  margin-top: 5px; }

.steps-indicator {
  padding-top: 0px; }

.select2-dropdown {
  z-index: 500; }

.login {
  height: 375px;
  background: #A2E2FE !important; }

.logo {
  width: 400px; }

.store__item {
  margin: 20px;
  position: relative;
  outline: 0;
  cursor: pointer; }
  .store__item img {
    width: 100%; }
  .store__item__text {
    position: absolute;
    top: 105px;
    width: 100%;
    display: block;
    padding: 0 30px;
    text-align: center; }
    .store__item__text p {
      font-size: 18px; }

.product {
  position: relative; }
  .product__name > span {
    font-size: 23px;
    font-weight: bold; }
  .product__name > small {
    font-size: 15px; }
  .product__promotion {
    position: absolute;
    top: 5px;
    right: 0;
    color: red;
    font-size: 16px; }
  .product__image {
    border: solid 1px #dae2e6;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    position: relative; }
  .product__detail {
    background: #f7f7f7;
    padding: 25px;
    font-size: 16px;
    /*
    label {
      font-weight: normal;
    }

    select {
      width: 279px;

      @include breakpoint(md) {
        width: 100%;
      }
    }

    .control-label {
      text-align: left !important;
    }

    small {
      font-size: 14px;
      font-weight: 200;
    }
    */ }
    .product__detail label {
      font-weight: normal !important;
      text-align: left !important; }
    .product__detail__color button {
      width: 100%;
      text-align: left;
      position: relative;
      outline: 0 !important; }
      .product__detail__color button .caret {
        top: 15px;
        right: 10px;
        position: absolute; }
    .product__detail__color .dropdown .dropdown-menu {
      max-height: 260px;
      overflow: auto;
      border: 0px;
      border-radius: 0px;
      width: 100%; }
      .product__detail__color .dropdown .dropdown-menu li a {
        font-size: 15px;
        padding: 5px 10px; }
        .product__detail__color .dropdown .dropdown-menu li a:after {
          content: '';
          display: table;
          clear: both; }
    .product__detail__color__preview {
      width: 40px;
      height: 20px;
      float: left;
      margin-right: 10px; }

.category__item {
  height: 290px;
  padding: 10px;
  border: 1px solid #dfe4ed;
  margin-bottom: 25px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  outline: 0; }
  .category__item__image {
    width: 100%;
    height: 210px;
    text-align: center;
    line-height: 210px; }
    .category__item__image img {
      max-width: 100%; }
  .category__item__name {
    font-size: 13px;
    text-align: center;
    padding: 0 5px; }
  .category__item:hover {
    -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1); }

.favorite-icon {
  font-size: 26px;
  text-align: right;
  position: absolute;
  float: right;
  top: 0;
  right: 10px;
  cursor: pointer;
  color: #e4e4e1;
  z-index: 9; }
  .favorite-icon:hover, .favorite-icon.active {
    color: #e8bc02; }

.checkout__detail {
  border: 1px solid #dae2e6;
  padding: 20px 0 0 0; }
.checkout__table tbody {
  border: 1px !important; }
.checkout__table thead tr th {
  padding: 10px 10px; }
.checkout__table__image {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center; }
  .checkout__table__image img {
    height: 100%; }

.order .text-left {
  text-align: left !important; }
.order.modal .modal-dialog {
  width: 1000px; }
  .order.modal .modal-dialog .modal-content {
    border-radius: 0px !important; }
    .order.modal .modal-dialog .modal-content .modal-header {
      background: #ccddff; }
      .order.modal .modal-dialog .modal-content .modal-header img {
        position: relative;
        top: 2px; }
    .order.modal .modal-dialog .modal-content .modal-footer {
      text-align: center !important; }
.order__modal__block, .order__modal__block--yellow, .order__modal__block--green, .order__modal__block--purple, .order__modal__block--pink {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 15px !important;
  font-size: 13px;
  font-weight: normal;
  padding-left: 0px; }
  .order__modal__block table td, .order__modal__block--yellow table td, .order__modal__block--green table td, .order__modal__block--purple table td, .order__modal__block--pink table td {
    padding: 5px 0; }
  .order__modal__block--yellow {
    background: #ffffcc; }
  .order__modal__block--green {
    background: #cceecc; }
  .order__modal__block--purple {
    background: #ccccee; }
  .order__modal__block--pink {
    background: #ffddee; }
.order__modal__table {
  font-size: 13px; }
  .order__modal__table tfoot tr th {
    border: 0; }

.img-icon {
  width: 100%;
  margin-bottom: 5px; }

.contact__content {
  padding: 10px 15px !important;
  border: 1px solid #ddd; }
  .contact__content table tr td {
    padding: 5px 0; }

.history__block {
  padding: 15px;
  border: solid 1px #dae2e6;
  margin-bottom: 15px; }
  .history__block__image {
    width: 110px;
    height: 100px;
    float: left; }
    .history__block__image img {
      height: 100px; }
  .history__block:after {
    content: '';
    display: table;
    clear: both; }

.summary__detail {
  border: 1px solid #dae2e6;
  padding: 20px 0 0 0; }
.summary__table tbody {
  border: 1px !important; }
.summary__table thead tr th {
  padding: 10px 10px; }
.summary__table__image {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center; }
  .summary__table__image img {
    height: 100%; }

.news__block {
  padding: 10px;
  border: 1px solid #dfe4ed; }
  .news__block__image {
    width: 300px;
    height: 150px;
    float: left; }
    .news__block__image img {
      max-width: 100%; }
  .news__block__detail {
    width: calc(100% - 300px);
    float: left;
    padding-left: 10px; }
  .news__block:after {
    content: '';
    display: table;
    clear: both; }
.news__item {
  border-radius: 0px;
  border-color: #dfe4ed; }
  .news__item__image {
    height: 250px; }
    .news__item__image img {
      max-width: 100%;
      max-height: 250px; }
  .news__item__title {
    max-height: 43px;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0px; }
  .news__item__description {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.news-modal .modal-body {
  max-height: calc(100vh - 150px);
  overflow-y: auto; }

.document__item {
  padding: 10px;
  border: 1px solid #dfe4ed;
  width: 100%; }
  .document__item__image {
    width: 100px;
    height: 100px;
    float: left; }
    .document__item__image img {
      width: 100%; }
  .document__item__detail {
    position: relative;
    width: calc(100% - 100px);
    float: left;
    padding-left: 20px;
    min-height: 105px; }
    .document__item__detail__date {
      position: absolute;
      top: 0;
      right: 10px; }
    .document__item__detail__download {
      position: absolute;
      bottom: 9px;
      right: 5px; }
      .document__item__detail__download .fa {
        font-size: 40px;
        color: green; }
    .document__item__detail__preview {
      position: absolute;
      bottom: 14px;
      right: 60px; }
      .document__item__detail__preview .fa {
        font-size: 35px;
        color: orange; }
  .document__item:after {
    content: '';
    display: table;
    clear: both; }

.report__table {
  margin-bottom: 15px; }
  .report__table thead tr th:first-child, .report__table tfoot tr th:first-child {
    border-left: 0; }
  .report__table thead tr th:last-child, .report__table tfoot tr th:last-child {
    border-right: 0; }
.report__info, .report__info--green, .report__info--orange {
  width: 100%;
  padding: 10px 15px; }
  .report__info .form-group, .report__info--green .form-group, .report__info--orange .form-group {
    margin-bottom: 0px; }
  .report__info--green {
    background: #a5f3d6; }
  .report__info--orange {
    background: #ffc4b5; }
  .report__info:after, .report__info--green:after, .report__info--orange:after {
    content: '';
    display: table;
    clear: both; }
.report__salesman thead tr {
  background-color: #fcceeb; }
  .report__salesman thead tr th {
    border-width: 1px !important; }
.report__salesman tfoot tr {
  background-color: #fcceeb; }
  .report__salesman tfoot tr th {
    border-width: 0px !important; }

.promotion {
  /*
  @include element('product') {
    @include element('button') {
      button {
        color: #000000 !important;
        padding: 4px 12px;
        font-size: 18px;
      }
    }

    @include element('color') {
      button {
        width: 100%;
        text-align: left;
        position: relative;
        outline: 0 !important;

        .caret {
          top: 15px;
          right: 10px;
          position: absolute;
        }
      }

      .dropdown {
        .dropdown-menu {
          max-height: 260px;
          overflow: auto;
          border: 0px;
          border-radius: 0px;
          width: 100%;

          li {
            a {
              font-size: 15px;
              padding: 5px 10px;
              
              @include clearfix;
            }
          }
        }
      }

      @include element('preview') {
        width: 40px;
        height: 20px;
        float: left;
        margin-right: 10px;
        //position: absolute;
        //left: 7px;
      }
    }
  }
  */ }
  .promotion__detail, .promotion__detail--blue, .promotion__detail--green {
    width: 100%; }
    .promotion__detail__title {
      padding: 10px;
      font-weight: bold; }
    .promotion__detail__color button {
      text-align: left;
      position: relative;
      outline: 0 !important; }
      .promotion__detail__color button .caret {
        top: 15px;
        right: 10px;
        position: absolute; }
    .promotion__detail__color .dropdown .dropdown-menu {
      max-height: 260px;
      overflow: auto;
      width: 100%; }
      .promotion__detail__color .dropdown .dropdown-menu li a {
        font-size: 15px;
        padding: 5px 10px; }
        .promotion__detail__color .dropdown .dropdown-menu li a:after {
          content: '';
          display: table;
          clear: both; }
    .promotion__detail__color__preview {
      width: 40px;
      height: 20px;
      float: left;
      margin-right: 10px; }
    .promotion__detail__dropdown button {
      text-align: left;
      position: relative;
      outline: 0 !important; }
      .promotion__detail__dropdown button .caret {
        top: 15px;
        right: 10px;
        position: absolute; }
    .promotion__detail__dropdown .dropdown .dropdown-menu {
      max-height: 260px;
      overflow: auto;
      width: 100%; }
      .promotion__detail__dropdown .dropdown .dropdown-menu li a {
        font-size: 15px;
        padding: 5px 10px; }
      .promotion__detail__dropdown .dropdown .dropdown-menu li:after {
        content: '';
        display: table;
        clear: both; }
    .promotion__detail--blue .promotion__detail__title {
      background-color: #d9edf7; }
    .promotion__detail--green .promotion__detail__title {
      background-color: #d9ffba; }
  .promotion__modal__block__detail {
    float: left;
    width: 600px; }
  .promotion__modal__block__image {
    float: right;
    width: calc(100% - 600px);
    text-align: center; }
  .promotion__modal__block:after {
    content: '';
    display: table;
    clear: both; }

.promotion-item {
  padding: 10px;
  height: 230px;
  border: solid 1px #dae2e6;
  margin-bottom: 10px;
  cursor: pointer; }
  .promotion-item__image {
    height: 150px; }
    .promotion-item__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .promotion-item__name {
    margin-top: 10px;
    font-weight: bold; }

.maintenance {
  margin-top: 120px;
  position: relative; }
  .maintenance__title {
    display: block;
    width: 100%;
    font-size: 35px;
    font-weight: bold; }
  .maintenance__message {
    display: block;
    width: 100%;
    font-size: 25px;
    margin-top: 25px; }
  .maintenance__company {
    margin-top: 100px;
    font-size: 20px;
    font-weight: 200;
    display: block;
    width: 100%;
    color: #9c9c9c;
    line-height: 35px; }
  .maintenance__image {
    position: absolute;
    bottom: 0px;
    right: 60px; }
    .maintenance__image img {
      width: 200px;
      height: 200px; }

.header {
  width: 100%;
  height: 115px;
  background-color: #e8f1fe;
  position: fixed;
  top: 0;
  z-index: 1000; }
  .header__upper {
    width: 100%;
    display: block;
    height: 35px;
    line-height: 35px;
    padding-top: 5px; }
    .header__upper__icon {
      width: 30px;
      position: relative;
      top: -1px; }
    .header__upper ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      .header__upper ul li {
        display: inline;
        font-weight: 200; }
        .header__upper ul li a {
          color: #000 !important;
          padding: 6px; }
          .header__upper ul li a:hover {
            color: #ffffff; }
        .header__upper ul li.static {
          padding: 6px;
          color: #000 !important; }
        .header__upper ul li.dropdown-flat.open > a {
          color: #000 !important; }
    .header__upper:after {
      content: '';
      display: table;
      clear: both; }
  .header__body {
    height: 70px;
    margin-top: 5px; }
    .header__body__logo {
      width: 300px;
      float: left;
      position: relative; }
      .header__body__logo img {
        width: 100%; }
    .header__body__search {
      margin-top: 10px;
      padding: 0 10px;
      width: calc(100% - 300px - 150px);
      float: left; }
      .header__body__search .input-lg {
        font-weight: 200;
        height: 50px;
        border: 0;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        box-shadow: none !important; }
      .header__body__search .input-group-addon {
        border: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px; }
      .header__body__search .dropdown-menu {
        width: 100%;
        border-radius: 0px;
        border: 0px;
        max-height: 400px;
        overflow: auto; }
        .header__body__search .dropdown-menu .uib-typeahead-match a {
          padding: 10px 20px; }
      .header__body__search button {
        border: 0;
        background: none;
        outline: 0; }
        .header__body__search button i {
          font-size: 20px; }
    .header__body__action {
      width: 150px;
      float: left; }
    .header__body__cart {
      width: 150px;
      float: left;
      height: 50px;
      position: relative;
      box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      color: #ffffff;
      margin-top: 10px;
      background-color: #FBA877;
      cursor: pointer; }
      .header__body__cart i {
        font-size: 27px;
        position: absolute;
        left: 14px;
        top: 10px; }
      .header__body__cart__title {
        position: absolute;
        top: 6px;
        left: 52px;
        font-size: 15px; }
      .header__body__cart__count {
        position: absolute;
        top: 25px;
        left: 52px;
        font-weight: 200;
        font-size: 12px; }
      .header__body__cart:hover {
        border-color: #027bb7; }
    .header__body:after {
      content: '';
      display: table;
      clear: both; }

.navbar {
  top: 115px;
  border-bottom: 0px;
  z-index: 900 !important;
  min-height: 40px;
  margin-bottom: 0px;
  background-color: #e8f1fe;
  box-shadow: 0 2px 5px rgba(57, 63, 72, 0.1); }
  .navbar__icon {
    width: 30px;
    margin-right: 3px;
    position: relative; }
  .navbar li > a {
    padding: 7px 10px !important;
    color: #000000 !important; }
    .navbar li > a:hover {
      color: #08c !important;
      background: #b4d8fc !important; }
  .navbar li.active > a {
    background: #b4d8fc !important;
    color: #08c !important; }
  .navbar li.dropdown .dropdown-menu {
    border-radius: 0px !important;
    border: 0px !important; }

.filter {
  border: solid 1px #dae2e6;
  border-radius: 0px; }
  .filter__list {
    padding: 15px 15px 0px 15px; }
    .filter__list__header {
      font-size: 15px;
      font-weight: bold;
      position: relative;
      display: block;
      margin-bottom: 10px; }
      .filter__list__header__clear {
        position: absolute;
        right: 0;
        top: 0;
        font-weight: normal !important;
        font-size: 12px; }
    .filter__list__block > ul > li {
      padding: 5px 0; }
    .filter__list__body {
      max-height: 250px;
      overflow: auto; }
      .filter__list__body > ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .filter__list__body > ul > li {
          padding: 2px 0; }
          .filter__list__body > ul > li > label {
            display: block;
            font-weight: normal; }
            .filter__list__body > ul > li > label > input {
              margin-left: 5px;
              margin-right: 3px; }
    .filter__list:last-child {
      padding-bottom: 15px; }

.cart .modal-dialog {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 520px;
  right: -520px;
  float: right; }
  .cart .modal-dialog .modal-content {
    border: 0;
    height: auto;
    min-height: 100%;
    border-radius: 0; }
    .cart .modal-dialog .modal-content .modal-header {
      padding: 10px 0;
      background: #ccddff; }
      .cart .modal-dialog .modal-content .modal-header .close {
        position: absolute;
        right: 15px; }
        .cart .modal-dialog .modal-content .modal-header .close > span {
          font-size: 40px; }
    .cart .modal-dialog .modal-content .modal-body {
      max-height: calc(100vh - 156px);
      overflow-y: auto; }
    .cart .modal-dialog .modal-content .modal-footer {
      position: fixed;
      bottom: 0;
      background: #ffffff;
      width: 100%; }
.cart__item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5; }
  .cart__item:last-child {
    border-bottom: 0; }
  .cart__item__remove {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    outline: 0; }
    .cart__item__remove > i {
      font-size: 19px;
      color: red; }
  .cart__item__wrapper {
    padding-left: 40px;
    width: 100%; }
  .cart__item__heading {
    font-size: 16px; }
    .cart__item__heading p:first-child {
      margin-bottom: 3px; }
    .cart__item__heading p:last-child {
      margin-bottom: 0px; }
  .cart__item__body {
    width: 100%; }
    .cart__item__body__image {
      width: 70px;
      height: 90px;
      line-height: 90px;
      float: left;
      text-align: center; }
      .cart__item__body__image img {
        max-width: 70px;
        max-height: 70px; }
    .cart__item__body__detail {
      float: left;
      width: calc(100% - 70px);
      padding-left: 15px; }
      .cart__item__body__detail ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .cart__item__body__detail ul li {
          padding: 5px 0;
          font-size: 15px; }
          .cart__item__body__detail ul li:nth-child(2) {
            line-height: 34px; }
          .cart__item__body__detail ul li:nth-child(3) {
            font-weight: 200; }
    .cart__item__body:after {
      content: '';
      display: table;
      clear: both; }
.cart__total {
  border-top: 1px solid #e5e5e5;
  padding: 15px;
  position: fixed;
  bottom: 70px;
  background: #ffffff;
  width: 100%; }
.cart__item.bom {
  border-top: 1px solid #e5e5e5;
  padding-top: 15px;
  margin-top: 10px; }
  .cart__item.bom:last-child {
    margin-bottom: 0; }
  .cart__item.bom .cart__item__wrapper {
    padding-left: 0; }
  .cart__item.bom .cart__item__heading {
    font-size: 14px !important;
    font-weight: 200 !important; }
    .cart__item.bom .cart__item__heading > p {
      font-weight: normal; }
      .cart__item.bom .cart__item__heading > p:last-child {
        margin-bottom: 0; }
  .cart__item.bom .cart__item__body__detail ul li {
    font-size: 14px;
    font-weight: 200; }
    .cart__item.bom .cart__item__body__detail ul li:nth-child(2) {
      line-height: 34px; }

/*# sourceMappingURL=style.css.map */
