<div header></div>
<div class="container mt-180">
  <div class="panel panel-flat panel-primary">
    <div class="panel-heading text-center">
      <h4 class="mt-5 mb-5 text-bold">
        ข่าวสารกิจกรรม
      </h4>
    </div>
    <div class="panel-body">
      <div class="loading" dw-loading="news">
        <div class="row">   
          <div class="col-xs-3" ng-repeat="news in newsList | limitTo : pageSize : (currentPage - 1) * pageSize">
            <div class="thumbnail pointer none-outline news__item" ng-click="openModalNewsDetail(news)">
              <div class="news__item__image">
                <img ng-src="{{ config.partImgActivity + '/' + news.picture }}" onerror="this.src='assets/images/no-image.jpg'">
              </div>
              <div class="caption">
                <h4 class="news__item__title">
                  {{ news.title }}
                </h4>
                <!-- <div class="news__item__description">
                  {{ news.description }}
                </div> -->
                <div class="w100 text-right">
                  <small>{{ news.newsDate | date: 'dd MMMM y'}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w100 text-center" ng-if="!newsList.length && newsList != undefined">
          <h4 class="text-red">
            ไม่มีข้อมูล
          </h4>
        </div>
      </div>
      <div class="w100 text-center">
        <ul uib-pagination 
            total-items="newsList.length" 
            items-per-page="pageSize" 
            max-size="maxSize" 
            boundary-links="true" 
            first-text="&lsaquo;&lsaquo;"
            last-text="&rsaquo;&rsaquo;" 
            next-text="&rsaquo;" 
            previous-text="&lsaquo;" 
            ng-model="currentPage" 
            ng-hide="!newsList.length || newsList.length <= pageSize">
        </ul>
      </div>
    </div>
  </div>
</div>
<div footer></div>