<div class="modal-header text-center modal-header-green">
  <div class="col-md-6 text-left">
    <img src="assets/images/logo-toa.png" width="250px">
  </div>
  <div class="col-md-6 text-right">
    <h3 class="text-bold">
        รายละเอียดการสั่งซื้อ
    </h3>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <div class="loading" dw-loading="orderInfo">
        <div class="order__modal__block" style="height: 250px">
          <table>
            <tbody>
              <tr>
                <td width="110" class="text-bold text-blue">
                  ร้านค้า
                </td>
                <td class="text-bold text-blue" style="font-size:14px;">
                  {{ order.customerCode }} : {{ order.customerName }}
                </td>
              </tr>
              <tr ng-hide="order.cityCode =='' || order.cityCode == null">
                <td class="text-bold text-blue">
                  ที่อยู่
                </td>
                <td>
                  {{ order.address }} {{ order.street }} {{ order.subDistrictName }}
                  <br> {{ order.districtName }} {{ order.cityName }}
                </td>
              </tr>
              <tr ng-if="order.cityCode == '' || order.cityCode == null">
                <td class="text-bold text-blue">
                  ที่อยู่
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerEmail == '' || order.customerEmail == null">
                <td class="text-bold text-blue">
                  อีเมล
                </td>
                <td>{{ order.customerEmail }}</td>
              </tr>
              <tr ng-if="order.customerEmail == '' || order.customerEmail == null">
                <td class="text-bold text-blue">
                  อีเมล
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerTelNo == '' || order.customerTelNo == null">
                <td class="text-bold text-blue">
                  โทรศัพท์
                </td>
                <td>{{ order.customerTelNo }}</td>
              </tr>
              <tr ng-if="order.customerTelNo == '' || order.customerTelNo == null">
                <td class="text-bold text-blue">
                  โทรศัพท์
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  สถานที่ส่ง
                </td>
                <td>{{ order.shipCode.substring(2, 10) }} : {{ order.shipName }}</td>
              </tr>
              <tr ng-hide="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  ที่อยู่สถานที่ส่ง
                </td>
                <td>
                  {{ order.shipHouseNo }} {{ order.shipAddress }} {{ order.shipDistrictName }}
                  <br> {{ order.shipCityName }} {{ order.shipPostCode }}
                </td>
              </tr>
              <tr ng-if="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  สถานที่ส่ง
                </td>
                <td>-</td>
              </tr>
              <tr ng-if="order.shipName == '' || order.shipName == null">
                <td class="text-bold text-blue">
                  ที่อยู่สถานที่ส่ง
                </td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="loading" dw-loading="orderInfo">
        <div class="order__modal__block" style="height: 250px">
          <table>
            <tbody>
              <tr ng-hide="order.documentNumber == ''|| order.documentNumber == null">
                <td width="110" class="text-bold text-blue">
                  เลขที่ใบสั่งซื้อ
                </td>
                <td>
                  {{ order.documentNumber }}
                  <span class="text-bold text-blue"> / วันที่</span> {{ order.documentDate | date: 'dd/MM/yyyy' }}
                </td>
              </tr>
              <tr ng-if="order.customerPO == '' || order.customerPO == null">
                <td class="text-bold text-blue">
                  PO number
                </td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.customerPO == '' || order.customerPO == null">
                <td class="text-bold text-blue">
                  PO number
                </td>
                <td>{{ order.customerPO }}</td>
              </tr>
              <tr ng-hide="order.salesDocument == '' || order.salesDocument == null">
                <td class="text-bold text-blue">เลขที่เอกสาร</td>
                <td>{{ order.salesDocument }}
                  <span class="text-bold text-blue"> / วันที่</span> {{ order.requestDate | date:'dd/MM/yyyy' }}
                </td>
              </tr>
              <tr ng-if="order.salesDocument == '' || order.salesDocument == null">
                <td class="text-bold text-blue">เลขที่เอกสาร</td>
                <td>-</td>
              </tr>
              <tr ng-hide="order.requestDate == '' || order.requestDate == null">
                <td class="text-bold text-blue">
                  Request Date
                </td>
                <td>{{ order.requestDate | date: 'dd/MM/yyyy' }}</td>
              </tr>
              <tr ng-if="order.requestDate == '' || order.requestDate == null">
                <td class="text-bold text-blue">
                  Request Date
                </td>
                <td>-</td>
              </tr>
              <tr>
                <td class="text-bold text-blue">
                  การชำระเงิน
                </td>
                <td>
                  {{ (order.paymentTerm == 'CASH' || order.paymentTerm == 'CA02') ? 'เงินสด' : 'เครดิต' }}
                </td>
              </tr>
              <tr ng-if="order.shipCondition != '01'">
                <td class="text-bold text-blue">
                  จัดส่งโดย
                </td>
                <td>{{ order.transportZone }} : {{ order.transportZoneDesc }}</td>
              </tr>
              <tr ng-if="order.shipCondition == '01'">
                <td class="text-bold text-blue">
                  จัดส่งโดย
                </td>
                <td>ลูกค้ารับสินค้าเอง</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="w100 mt-20">
    <div class="loading" dw-loading="orderPrecessInfo">
      <table class="table mb-0 table-purple order__modal__table">
        <thead>
          <tr>
            <th class="text-center" width="32%">
              รายการสินค้า
            </th>
            <th class="text-center" width="7%">
              จำนวน
            </th>
            <th class="text-center" width="7%">
              หน่วย
            </th>
            <th class="text-center" width="11%">
              ราคาต่อหน่วย
              <span class="text-red">*</span>
            </th>
            <th class="text-center" width="18%">
              ส่วนลด
            </th>
            <th class="text-center" width="13%">
              ราคาหลังหักส่วนลด
            </th>
            <th class="text-center" width="12%">
              ราคารวม
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in products">
            <td>
              <div ng-class="{'text-bold': product.material[0] == 'S'}">
                {{ product.material }} <br> {{ product.materialDes }}
                <span class="ml-5 text-red" ng-if="product.freeGoods == 'X' && product.material[0] != 'S'">
                  (ของแถม)
                </span>
              </div>
            </td>
            <td class="text-center">
              <div ng-if="product.material[0] != 'S'">
                {{ product.targetQty | number }}
              </div>
            </td>
            <td class="text-center">
              <div ng-if="product.material[0] != 'S'">
                {{ product.salesUnit }}
              </div>
            </td>
            <td class="text-right">
              <div ng-if="product.material[0] != 'S'">
                {{ product.pricePerUnit | currency: '' }}
              </div>
            </td>
            <td class="text-center">
              <div ng-if="product.material[0] != 'S'" ng-bind-html="product.discount">
              </div>
            </td>
            <td class="text-right">
              <div ng-if="product.material[0] != 'S'">
                {{ product.netwrPerUnit | currency: '' }}
              </div>
            </td>
            <td class="text-right">
              <div ng-if="product.material[0] != 'S'">
                {{ product.amount | currency: '' }}
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="7" class="text-right">
              <b>{{ total.sumAmount | number: 2 }} บ.</b>
            </td>
          </tr>
          <tr ng-repeat="discount in discounts">
            <td class="text-center" colspan="1" ng-style="discount.type === 'หัก' &&  {'color': 'red'} ">
              {{ discount.type }}
            </td>
            <td colspan="5">
              {{ discount.description }}
            </td>
            <td class="text-right" colspan="1">
              {{ discount.kwert | number: 2 }} บ.
            </td>
          </tr>
        </tbody>
        <tfoot>
          <th colspan="5" class="text-right text-blue">
            <b>รวมมูลค่าสินค้า : </b>
          </th>
          <th colspan="2" class="text-right text-blue">
            <b>{{ total.netValue3 | number: 2 }} บ.</b>
          </th>
          </tr>
          <tr class="footer-table">
            <th colspan="5" class="text-right text-blue">
              <b>ภาษีมูลค่าเพิ่มอัตรา 7% : </b>
            </th>
            <th colspan="2" class="text-right text-blue">
              <b>{{ total.vatAmount | number: 2 }} บ.</b>
            </th>
          </tr>
          <tr class="footer-table">
            <th colspan="5" class="text-right text-blue">
              <b>ยอดรวม : </b>
            </th>
            <th colspan="2" class="text-right text-blue">
              <b>{{ total.sumTotalAmount | number: 2 }} บ.</b>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-flat btn-default w100px" ng-click="close()">
    ปิด
  </button>
</div>
